html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body, html > body {
  font-family: "Arial", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: 100%;
}

.bodywrapper {
  min-height: 100%;
}

.hidden {
  display: none;
}

strong {
  font-weight: bold;
}

p, ol, ul, dl {
  margin: .2em 0 .8em 0;
}

p {
  padding: 0;
  line-height: 140%;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 18px;
  color: #333;
  margin: 0 0 .2em 0;
}

h2 {
  font-size: 16px;
}

h2.subhead {
  font-weight: normal;
  margin-top: 0;
}

h3 {
  font-size: 14px;
  margin: .8em 0 .3em 0;
  color: #333;
  font-weight: bold;
  display: block;
}

h4 {
  font-size: 12px;
  padding-bottom: 3px;
}

h5 {
  font-size: 10px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a {
  text-decoration: underline;
}
a:hover, a:focus {
  color: darker(#3572b0);
  text-decoration: none;
}
a:link, a:visited {
  color: #3572b0;
  text-decoration: none;
}
a:active {
  outline: none;
}
a:focus {
  outline: none;
}
a img {
  border: none;
}
a.section:link, a.section:visited {
  color: white;
  text-decoration: none;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 0;
  line-height: 1.2em;
  font-size: 1.1em;
  overflow-x: scroll;
}
pre.debug {
  word-wrap: break-word;
}

.wrapper {
  position: absolute;
  top: 41px;
  bottom: 0;
  left: 0;
  right: 0;
}

.halfleft, .halfright {
  width: 50%;
}
.halfleft h3, .halfright h3 {
  text-align: center;
}

.halfleft {
  float: left;
  padding-right: 20px;
}

.halfright {
  float: right;
  padding-left: 20px;
}

#header {
  overflow: hidden;
  *zoom: 1;
  background: #205081;
  border-bottom: 1px solid #2e3d54;
  box-sizing: border-box;
  color: #fff;
  padding: 0 10px;
  height: 41px;
}
#header #branding img {
  margin-top: 7px;
  float: left;
}
#header #branding h1 {
  float: left;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 13px 10px;
  font-size: 14px;
  font-weight: normal;
}
#header a {
  color: white;
  text-decoration: none;
}
#header a:hover {
  text-decoration: none;
}
#header ul.topmenu {
  position: absolute;
  right: 20px;
}
#header ul.topmenu > li {
  float: left;
  padding: 0;
}
#header ul.topmenu > li > a {
  position: relative;
  padding-right: 23px !important;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 13px 10px;
}
#header ul.topmenu > li > a:hover {
  background-color: #3572b0;
}
#header ul.topmenu > li > a::after {
  border: 4px solid transparent;
  border-top-color: #fff;
  content: "";
  height: 0;
  margin-left: -18px;
  margin-top: -2px;
  opacity: .8;
  left: 100%;
  position: absolute;
  text-indent: -99999px;
  top: 50%;
  width: 0;
}
#header ul.topmenu > li:hover > .filter {
  display: block;
}

.sidebar {
  width: 200px;
  float: left;
  min-height: 100%;
  position: absolute;
  color: #dadad9;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;
}
.sidebar h3 {
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 11px;
  color: #999;
}
.sidebar ul {
  margin-top: 10px;
}
.sidebar ul:nth-child(1) {
  margin-top: 20px;
}
.sidebar li {
  font-size: 1.1em;
  display: block;
}
.sidebar li.selected, .sidebar li a:hover {
  background-color: #e6e6e6;
  color: #3572b0;
}
.sidebar li a {
  color: #36382e;
  display: block;
  padding: 7px 10px 7px 20px;
}
.sidebar li a span {
  float: right;
  margin-top: -2px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(51, 51, 51, 0.8);
  border-radius: 2em;
  font-size: 11px;
  font-weight: 700;
  line-height: .99;
  min-height: 1em;
  min-width: 1em;
  padding: 3px 8px 3px;
  position: relative;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.main {
  margin-left: 200px;
  padding: 20px;
  min-height: 100%;
}

.headerline h3 {
  display: inline-block;
  margin-right: 15px;
}
.headerline h3 a {
  color: #aaa;
}
.headerline h3 a:hover {
  color: #333;
  text-decoration: underline;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
}
table th, table tfoot td {
  border: 1px solid #dadad9;
  padding: 3px 8px;
  font-weight: bold;
  background: #dadad9;
  color: #888;
  white-space: nowrap;
}
table tfoot td {
  color: #666;
  padding: 2px 8px;
}
table tr:nth-child(2n) {
  background: #F8F8F8;
}
table td {
  border: 1px solid #e8e8e8;
  padding: 3px 6px;
  white-space: nowrap;
}
table td:first-child {
  min-width: 200px;
}
table td.num {
  color: black;
  padding-left: 14px;
  font: 1.1em/1.1em monospace;
  text-align: right;
  padding-right: 6px !important;
  vertical-align: top;
}
table td.num span.balance {
  display: block;
}
table td.num span.tree-balance {
  display: none;
}
table td a.account {
  font-weight: bold;
}
table td.account-level-1 {
  padding-left: 8px;
}
table td.account-level-2 {
  padding-left: 2.1em;
}
table td.account-level-3 {
  padding-left: 3.4em;
}
table td.account-level-4 {
  padding-left: 4.7em;
}
table td.account-level-5 {
  padding-left: 6em;
}
table td.account-level-6 {
  padding-left: 7.3em;
}
table td.account-level-7 {
  padding-left: 8.6em;
}
table td.account-level-8 {
  padding-left: 9.9em;
}
table td.account-level-9 {
  padding-left: 11.2em;
}
table td.account-level-10 {
  padding-left: 12.5em;
}
table td.account-level-11 {
  padding-left: 13.8em;
}
table td.account-level-12 {
  padding-left: 15.1em;
}
table tr.parent td.num, table td.num.tree-balance-show {
  color: #E5E5E5;
}
table td.num.tree-balance-show span.tree-balance {
  display: block;
}
table tr.hides td.num span.tree-balance {
  display: block;
}
table tr.hides td.num span.balance {
  display: none;
}
table:hover tr.parent td.num, table:hover tr td.num.tree-balance-show {
  color: #BEBEBE;
}
table tr.posting.leg td {
  padding: 2px 6px;
}
table tr td.change.num, table tr td.balance.num {
  font-size: 12px;
}
table.errors a, table.holdings a, table.net_worth a {
  font-weight: bold;
}
table.highlighttable td:first-child, table.entry-table td:first-child {
  min-width: inherit;
}
table.highlighttable {
  background: #fff;
  color: #333;
}
table.highlighttable .hll {
  display: block;
  background-color: #ffffcc;
}
table.highlighttable .c {
  color: #999988;
  font-style: italic;
}
table.highlighttable .k, table.highlighttable .o {
  font-weight: bold;
}
table.highlighttable .cm {
  color: #999988;
  font-style: italic;
}
table.highlighttable .cp {
  color: #999999;
  font-weight: bold;
}
table.highlighttable .c1 {
  color: #999988;
  font-style: italic;
}
table.highlighttable .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
table.highlighttable .gd {
  color: #000000;
  background-color: #ffdddd;
}
table.highlighttable .ge {
  font-style: italic;
}
table.highlighttable .gr {
  color: #aa0000;
}
table.highlighttable .gh {
  color: #999999;
}
table.highlighttable .gi {
  color: #000000;
  background-color: #ddffdd;
}
table.highlighttable .go {
  color: #888888;
}
table.highlighttable .gp {
  color: #555555;
}
table.highlighttable .gs {
  font-weight: bold;
}
table.highlighttable .gu {
  color: #aaaaaa;
}
table.highlighttable .gt {
  color: #aa0000;
}
table.highlighttable .kc, table.highlighttable .kd, table.highlighttable .kn, table.highlighttable .kp, table.highlighttable .kr {
  font-weight: bold;
}
table.highlighttable .kt {
  color: #445588;
  font-weight: bold;
}
table.highlighttable .m {
  color: #009999;
}
table.highlighttable .s {
  color: #bb8844;
}
table.highlighttable .na {
  color: #008080;
}
table.highlighttable .nb {
  color: #999999;
}
table.highlighttable .nc {
  color: #445588;
  font-weight: bold;
}
table.highlighttable .no {
  color: #008080;
}
table.highlighttable .ni {
  color: #800080;
}
table.highlighttable .ne, table.highlighttable .nf {
  color: #990000;
  font-weight: bold;
}
table.highlighttable .nn {
  color: #555555;
}
table.highlighttable .nt {
  color: #000080;
}
table.highlighttable .nv {
  color: #008080;
}
table.highlighttable .ow {
  font-weight: bold;
}
table.highlighttable .w {
  color: #bbbbbb;
}
table.highlighttable .mf, table.highlighttable .mh, table.highlighttable .mi, table.highlighttable .mo {
  color: #009999;
}
table.highlighttable .sb, table.highlighttable .sc, table.highlighttable .sd, table.highlighttable .s2, table.highlighttable .se, table.highlighttable .sh, table.highlighttable .si, table.highlighttable .sx {
  color: #bb8844;
}
table.highlighttable .sr {
  color: #808000;
}
table.highlighttable .s1, table.highlighttable .ss {
  color: #bb8844;
}
table.highlighttable .bp {
  color: #999999;
}
table.highlighttable .vc, table.highlighttable .vg, table.highlighttable .vi {
  color: #008080;
}
table.highlighttable .il {
  color: #009999;
}
table.highlighttable td.linenos {
  text-align: right;
}
table.highlighttable td.linenos a {
  color: #A7A5A5;
}
table.options_map td:nth-child(1) {
  font-weight: bold;
}
table.options_map td:nth-child(2) {
  white-space: normal;
  text-align: left;
  padding-left: 6px;
}
table.tree-table td.account a {
  position: relative;
  margin-left: 15px;
}
table.tree-table tr.hides span.tree-balance {
  display: block;
  color: black;
}
table.tree-table tr.hides span.balance {
  display: none;
}
table.tree-table:hover tr.hides td.num {
  color: black;
}
table.tree-table span.expander {
  width: 5px;
  height: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #AFC1D3;
  position: absolute;
  left: -15px;
  top: 5px;
  cursor: pointer;
}
table.tree-table span.expander.toggled {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #AFC1D3;
  left: -12px;
  top: 2px;
}

#assets table, #liabilities table, #equity table, #income table, #expenses table {
  width: 100%;
}

h1 a:link, h1 a:visited {
  color: #333;
}
h1 a:link:hover, h1 a:visited:hover {
  text-decoration: underline;
}
h1 pre {
  overflow-x: inherit;
  display: inline-block;
}

dl {
  margin-top: 20px;
  font-size: 13px;
}
dl dt {
  display: inline-block;
  width: 120px;
  float: left;
  font-weight: bold;
}
dl dt, dl dd {
  margin-bottom: 3px;
}
dl pre {
  overflow-x: auto;
}

p.empty {
  margin-top: 20px;
}

.loading {
  margin-top: 20px;
  font-style: italic;
  color: #999;
}

.filters {
  width: 100%;
  background: #f06449;
  height: 30px;
}

.filter {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 20px;
  color: black;
  width: 260px;
  z-index: 2;
  top: 39px;
}
.filter ul {
  max-height: 240px;
  overflow-y: auto;
}
.filter ul li a {
  padding-right: 20px !important;
  display: block;
  line-height: 1;
  padding: 8px 10px;
  color: #3572b0 !important;
}
.filter ul li a:hover, .filter ul li.selected a {
  background-color: #3572b0 !important;
  color: white !important;
}
.filter ul li.selected a {
  padding-left: 28px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAAQMGHjE8P0Bfi6Omt9Hi7/XCzsNoAAAAO0lEQVQI143HSxZAMBAAwQ5CfEPf/7AWHmZH7Qr+aMcmZHONcQa6PV9ZEnBofsKg1jtQ9A2UGOinxKcT2psCetpsGdwAAAAASUVORK5CYII=) no-repeat 9px center;
}
.filter .inputcontainer {
  margin: 10px;
}
.filter .inputcontainer input {
  height: 26px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 26px;
  width: 100%;
}

.table-filter, .chart-filter {
  float: right;
  margin-top: -20px;
}
.table-filter input, .chart-filter input {
  margin-left: 10px;
}

table.entry-table {
  width: 100%;
}
table.entry-table a {
  font-weight: bold;
}
table.entry-table td.datecell a {
  font-weight: normal;
}
table.entry-table td.flag {
  text-align: center;
}
table.entry-table td {
  border: thin solid #fff;
}
table.entry-table th {
  color: #888;
}
table.entry-table th.description {
  width: 90%;
}
table.entry-table tr td.change {
  font-weight: bold;
}
table.entry-table tr td.description {
  white-space: normal;
}
table.entry-table tr td.description span.links {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
}
table.entry-table tr.open {
  background-color: #e8e8e8;
}
table.entry-table tr.close {
  background-color: #606060;
}
table.entry-table tr.note {
  background-color: #aad0ff;
}
table.entry-table tr.document {
  background-color: #ffc8ff;
}
table.entry-table tr.pad {
  background-color: #8ff;
}
table.entry-table tr.padding {
  background-color: #cff;
}
table.entry-table tr.summarize {
  background-color: #cff;
}
table.entry-table tr.transfer {
  background-color: #cff;
}
table.entry-table tr.transaction.warning {
  background-color: #f8a;
}
table.entry-table tr.balance {
  background-color: #cfc;
}
table.entry-table tr.balance.fail {
  background-color: #f8a;
}
table.entry-table tr.posting {
  font-size: x-small;
  background-color: #e8e8e8;
  opacity: 0.6;
}
table.entry-table tr.posting.warning {
  background-color: #f66;
}
table.entry-table tr.transaction, table.entry-table tr.padding {
  cursor: pointer;
}
table.trial {
  width: auto;
}

span.payee {
  font-weight: bold;
}
span.pnsep {
  margin-left: 5px;
  margin-right: 5px;
}

.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  line-height: 1;
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end;
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-point {
  stroke-width: 6px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 3px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}

.ct-bar {
  fill: none;
  stroke-width: 14px;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #990000;
}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: #990000;
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #113861;
}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill: #113861;
}

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #777;
}
.ct-series-c .ct-slice-pie, .ct-series-c .ct-area {
  fill: #777;
}

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #1B9900;
}
.ct-series-d .ct-slice-pie, .ct-series-d .ct-area {
  fill: #1B9900;
}

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #FF8800;
}
.ct-series-e .ct-slice-pie, .ct-series-e .ct-area {
  fill: #FF8800;
}

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #59922b;
}
.ct-series-f .ct-slice-pie, .ct-series-f .ct-area {
  fill: #59922b;
}

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #0544d3;
}
.ct-series-g .ct-slice-pie, .ct-series-g .ct-area {
  fill: #0544d3;
}

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #6b0392;
}
.ct-series-h .ct-slice-pie, .ct-series-h .ct-area {
  fill: #6b0392;
}

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #f05b4f;
}
.ct-series-i .ct-slice-pie, .ct-series-i .ct-area {
  fill: #f05b4f;
}

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #dda458;
}
.ct-series-j .ct-slice-pie, .ct-series-j .ct-area {
  fill: #dda458;
}

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #eacf7d;
}
.ct-series-k .ct-slice-pie, .ct-series-k .ct-area {
  fill: #eacf7d;
}

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: #86797d;
}
.ct-series-l .ct-slice-pie, .ct-series-l .ct-area {
  fill: #86797d;
}

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #b2c326;
}
.ct-series-m .ct-slice-pie, .ct-series-m .ct-area {
  fill: #b2c326;
}

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #6188e2;
}
.ct-series-n .ct-slice-pie, .ct-series-n .ct-area {
  fill: #6188e2;
}

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #a748ca;
}
.ct-series-o .ct-slice-pie, .ct-series-o .ct-area {
  fill: #a748ca;
}

.ct-square {
  display: block;
  position: relative;
  width: 100%;
}
.ct-square:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 100%;
}
.ct-square:after {
  content: "";
  display: table;
  clear: both;
}
.ct-square > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 93.75%;
}
.ct-minor-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 88.88889%;
}
.ct-major-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 83.33333%;
}
.ct-minor-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 80%;
}
.ct-major-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fourth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 75%;
}
.ct-perfect-fourth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fourth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fifth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 66.66667%;
}
.ct-perfect-fifth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fifth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 62.5%;
}
.ct-minor-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}
.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.8047%;
}
.ct-golden-section:after {
  content: "";
  display: table;
  clear: both;
}
.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 60%;
}
.ct-major-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 56.25%;
}
.ct-minor-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 53.33333%;
}
.ct-major-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 50%;
}
.ct-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-tenth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 40%;
}
.ct-major-tenth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-tenth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-eleventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 37.5%;
}
.ct-major-eleventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-eleventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-twelfth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 33.33333%;
}
.ct-major-twelfth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-twelfth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}
.ct-double-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.charts .ct-label {
  font-size: 11px;
  font-weight: bold;
}
.charts .chart-labels {
  color: rgba(0, 0, 0, 0.2);
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.charts .chart-labels label {
  color: rgba(0, 0, 0, 0.3);
  padding: 0 5px;
}
.charts .chart-labels label:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.charts .chart-labels label.selected {
  color: rgba(0, 0, 0, 0.5);
}
.charts .charts-container {
  position: relative;
  height: 240px;
}
.charts .charts-container .loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin-top: 90px;
}
.charts .ct-chart {
  position: relative;
}
.charts .ct-legend {
  position: absolute;
  z-index: 10;
  top: 17px;
  left: 10px;
}
.charts .ct-legend li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 3px;
  cursor: pointer;
}
.charts .ct-legend li:before {
  width: 8px;
  height: 7px;
  position: absolute;
  left: 0;
  content: '';
  border: 3px solid transparent;
  top: -1px;
}
.charts .ct-legend li.inactive:before {
  background: transparent;
}
.charts .ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}
.charts .ct-legend .ct-series-0:before {
  background-color: #990000;
  border-color: #990000;
}
.charts .ct-legend .ct-series-1:before {
  background-color: #113861;
  border-color: #113861;
}
.charts .ct-legend .ct-series-2:before {
  background-color: #777;
  border-color: #777;
}
.charts .ct-legend .ct-series-3:before {
  background-color: #1B9900;
  border-color: #1B9900;
}
.charts .ct-legend .ct-series-4:before {
  background-color: #FF8800;
  border-color: #FF8800;
}
.charts .ct-legend .ct-series-5:before {
  background-color: #59922b;
  border-color: #59922b;
}
.charts .ct-legend .ct-series-6:before {
  background-color: #0544d3;
  border-color: #0544d3;
}
.charts .ct-legend .ct-series-7:before {
  background-color: #6b0392;
  border-color: #6b0392;
}
.charts .ct-legend .ct-series-8:before {
  background-color: #f05b4f;
  border-color: #f05b4f;
}
.charts .ct-legend .ct-series-9:before {
  background-color: #dda458;
  border-color: #dda458;
}
.charts .ct-legend .ct-series-10:before {
  background-color: #eacf7d;
  border-color: #eacf7d;
}
.charts .ct-legend .ct-series-11:before {
  background-color: #86797d;
  border-color: #86797d;
}
.charts .ct-legend .ct-series-12:before {
  background-color: #b2c326;
  border-color: #b2c326;
}
.charts .ct-legend .ct-series-13:before {
  background-color: #6188e2;
  border-color: #6188e2;
}
.charts .ct-legend .ct-series-14:before {
  background-color: #a748ca;
  border-color: #a748ca;
}

.treemap-node .treemap-label a {
  color: white;
}
.treemap-node .treemap-label a:hover {
  text-decoration: underline;
}

#treetable-popover {
  position: absolute;
  background: #f4f4f4;
  border: 1px solid #CCC;
  box-shadow: 0px 0px 5px #dddddd;
  padding: 10px 5px 0 15px;
}
#treetable-popover dl {
  margin-top: 0;
  min-width: 270px;
}
#treetable-popover dt {
  width: 60px;
}
#treetable-popover dd {
  margin-bottom: 8px;
}

.editor-wrapper {
  position: relative;
  margin-top: 20px;
}
.editor-wrapper.editor-wrapper-source {
  position: relative;
}
.editor-wrapper.editor-wrapper-source .editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.editor-wrapper.editor-wrapper-readonly {
  margin-bottom: 20px;
}

.editor.ace-chrome {
  border: 1px solid #e8e8e8;
}
.editor.ace-chrome .ace_gutter {
  border-right: 1px solid #e8e8e8;
  background: white;
  color: #A7A5A5;
  font-weight: normal;
}
.editor.ace-chrome .ace_gutter-cell {
  padding: 0 6px;
}
.editor.ace-chrome .ace_comment {
  color: #999988;
  font-style: italic;
}
.editor.ace-chrome .ace_directive {
  color: #333;
  font-weight: bold;
}
.editor.ace-chrome .ace_class, .editor.ace-chrome .ace_double {
  color: #bb8844;
}
.editor.ace-chrome .ace_constant.ace_numeric.ace_date {
  color: #009999;
}
.editor.ace-chrome .ace_constant, .editor.ace-chrome .ace_constant.ace_language, .editor.ace-chrome .ace_tag {
  color: #008080;
}
.editor.ace-chrome .ace_account {
  color: #333;
}
.editor.ace-chrome .ace_invalid {
  color: #333;
  background: transparent;
}

form.editor-source {
  float: right;
  margin-top: -20px;
}

form.editor-save {
  float: right;
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
