/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../sass/_base.scss */
html, body, html > body {
  font-family: "Arial", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: 100%;
}

/* line 21, ../sass/_base.scss */
.bodywrapper {
  min-height: 100%;
}

/* line 25, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 29, ../sass/_base.scss */
p, ol, ul, dl {
  margin: .2em 0 .8em 0;
}

/* line 33, ../sass/_base.scss */
p {
  padding: 0;
  line-height: 140%;
}

/* line 38, ../sass/_base.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

/* line 42, ../sass/_base.scss */
h1 {
  font-size: 18px;
  color: #333;
  margin: 0 0 .2em 0;
}

/* line 50, ../sass/_base.scss */
h2 {
  font-size: 16px;
}

/* line 56, ../sass/_base.scss */
h2.subhead {
  font-weight: normal;
  margin-top: 0;
}

/* line 61, ../sass/_base.scss */
h3 {
  font-size: 14px;
  margin: .8em 0 .3em 0;
  color: #333;
  font-weight: bold;
  display: block;
  text-align: center;
}

/* line 70, ../sass/_base.scss */
h4 {
  font-size: 12px;
  padding-bottom: 3px;
}

/* line 77, ../sass/_base.scss */
h5 {
  font-size: 10px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 86, ../sass/_base.scss */
strong, b {
  font-weight: bold;
}

/* line 90, ../sass/_base.scss */
em, i {
  font-style: italic;
}

/* line 94, ../sass/_base.scss */
a {
  text-decoration: underline;
}
/* line 97, ../sass/_base.scss */
a:hover, a:focus {
  color: darker(#3572b0);
  text-decoration: none;
}
/* line 102, ../sass/_base.scss */
a:link, a:visited {
  color: #3572b0;
  text-decoration: none;
}
/* line 109, ../sass/_base.scss */
a:active {
  outline: none;
}
/* line 113, ../sass/_base.scss */
a:focus {
  outline: none;
}
/* line 117, ../sass/_base.scss */
a img {
  border: none;
}
/* line 121, ../sass/_base.scss */
a.section:link, a.section:visited {
  color: white;
  text-decoration: none;
}

/* line 117, ../vendor/chartist-js/scss/chartist.scss */
.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  line-height: 1;
}

/* line 121, ../vendor/chartist-js/scss/chartist.scss */
.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 126, ../vendor/chartist-js/scss/chartist.scss */
.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

/* line 132, ../vendor/chartist-js/scss/chartist.scss */
.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

/* line 138, ../vendor/chartist-js/scss/chartist.scss */
.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

/* line 144, ../vendor/chartist-js/scss/chartist.scss */
.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

/* line 150, ../vendor/chartist-js/scss/chartist.scss */
.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

/* line 156, ../vendor/chartist-js/scss/chartist.scss */
.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

/* line 162, ../vendor/chartist-js/scss/chartist.scss */
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

/* line 168, ../vendor/chartist-js/scss/chartist.scss */
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

/* line 174, ../vendor/chartist-js/scss/chartist.scss */
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

/* line 181, ../vendor/chartist-js/scss/chartist.scss */
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end;
}

/* line 187, ../vendor/chartist-js/scss/chartist.scss */
.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

/* line 191, ../vendor/chartist-js/scss/chartist.scss */
.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}

/* line 195, ../vendor/chartist-js/scss/chartist.scss */
.ct-line {
  fill: none;
  stroke-width: 4px;
}

/* line 199, ../vendor/chartist-js/scss/chartist.scss */
.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}

/* line 203, ../vendor/chartist-js/scss/chartist.scss */
.ct-bar {
  fill: none;
  stroke-width: 10px;
}

/* line 207, ../vendor/chartist-js/scss/chartist.scss */
.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #d70206;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: #d70206;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #f05b4f;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill: #f05b4f;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #f4c63d;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-c .ct-slice-pie, .ct-series-c .ct-area {
  fill: #f4c63d;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #d17905;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-d .ct-slice-pie, .ct-series-d .ct-area {
  fill: #d17905;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #453d3f;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-e .ct-slice-pie, .ct-series-e .ct-area {
  fill: #453d3f;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #59922b;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-f .ct-slice-pie, .ct-series-f .ct-area {
  fill: #59922b;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #0544d3;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-g .ct-slice-pie, .ct-series-g .ct-area {
  fill: #0544d3;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #6b0392;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-h .ct-slice-pie, .ct-series-h .ct-area {
  fill: #6b0392;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #f05b4f;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-i .ct-slice-pie, .ct-series-i .ct-area {
  fill: #f05b4f;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #dda458;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-j .ct-slice-pie, .ct-series-j .ct-area {
  fill: #dda458;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #eacf7d;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-k .ct-slice-pie, .ct-series-k .ct-area {
  fill: #eacf7d;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: #86797d;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-l .ct-slice-pie, .ct-series-l .ct-area {
  fill: #86797d;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #b2c326;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-m .ct-slice-pie, .ct-series-m .ct-area {
  fill: #b2c326;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #6188e2;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-n .ct-slice-pie, .ct-series-n .ct-area {
  fill: #6188e2;
}

/* line 106, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #a748ca;
}
/* line 110, ../vendor/chartist-js/scss/chartist.scss */
.ct-series-o .ct-slice-pie, .ct-series-o .ct-area {
  fill: #a748ca;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-square {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-square:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 100%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-square:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-square > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 93.75%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-second:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-second {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 88.88889%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-second:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 83.33333%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-third:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-third {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 80%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-third:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-perfect-fourth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 75%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-perfect-fourth:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-perfect-fourth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-perfect-fifth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 66.66667%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-perfect-fifth:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-perfect-fifth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 62.5%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-sixth:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.8047%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-golden-section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 60%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-sixth:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 56.25%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-seventh:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-minor-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 53.33333%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-seventh:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-octave {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 50%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-octave:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-tenth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 40%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-tenth:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-tenth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-eleventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 37.5%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-eleventh:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-eleventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-twelfth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 33.33333%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-twelfth:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-major-twelfth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 227, ../vendor/chartist-js/scss/chartist.scss */
.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}
/* line 8, ../vendor/chartist-js/scss/chartist.scss */
.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}
/* line 17, ../vendor/chartist-js/scss/chartist.scss */
.ct-double-octave:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../vendor/chartist-js/scss/chartist.scss */
.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 19, ../sass/styles.scss */
.wrapper {
  position: absolute;
  top: 41px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 27, ../sass/styles.scss */
.halfleft {
  float: left;
  width: 50%;
  padding-right: 20px;
}

/* line 33, ../sass/styles.scss */
.halfright {
  float: right;
  width: 50%;
  padding-left: 20px;
}

/* line 39, ../sass/styles.scss */
#header {
  overflow: hidden;
  *zoom: 1;
  background: #205081;
  border-bottom: 1px solid #2e3d54;
  box-sizing: border-box;
  color: #fff;
  padding: 0 10px;
  height: 41px;
}
/* line 50, ../sass/styles.scss */
#header #branding img {
  margin-top: 7px;
  float: left;
}
/* line 55, ../sass/styles.scss */
#header #branding h1 {
  float: left;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 13px 10px;
  font-size: 14px;
  font-weight: normal;
}
/* line 66, ../sass/styles.scss */
#header a {
  color: white;
  text-decoration: none;
}
/* line 70, ../sass/styles.scss */
#header a:hover {
  text-decoration: none;
}
/* line 75, ../sass/styles.scss */
#header ul.topmenu {
  position: absolute;
  right: 20px;
}
/* line 79, ../sass/styles.scss */
#header ul.topmenu > li {
  float: left;
  padding: 0;
}
/* line 83, ../sass/styles.scss */
#header ul.topmenu > li > a {
  position: relative;
  padding-right: 23px !important;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 13px 10px;
}
/* line 91, ../sass/styles.scss */
#header ul.topmenu > li > a:hover {
  background-color: #3572b0;
}
/* line 95, ../sass/styles.scss */
#header ul.topmenu > li > a::after {
  border: 4px solid transparent;
  border-top-color: #fff;
  content: "";
  height: 0;
  margin-left: -18px;
  margin-top: -2px;
  opacity: .8;
  left: 100%;
  position: absolute;
  text-indent: -99999px;
  top: 50%;
  width: 0;
}
/* line 111, ../sass/styles.scss */
#header ul.topmenu > li:hover > .filter {
  display: block;
}

/* line 118, ../sass/styles.scss */
.sidebar {
  width: 200px;
  float: left;
  height: 100%;
  position: absolute;
  color: #dadad9;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;
}
/* line 127, ../sass/styles.scss */
.sidebar ul {
  margin-top: 20px;
}
/* line 131, ../sass/styles.scss */
.sidebar li {
  font-size: 1.1em;
  display: block;
}
/* line 135, ../sass/styles.scss */
.sidebar li.selected, .sidebar li a:hover {
  background-color: #e6e6e6;
  color: #3572b0;
}
/* line 140, ../sass/styles.scss */
.sidebar li a {
  color: #36382e;
  display: block;
  padding: 7px 10px 7px 20px;
}
/* line 145, ../sass/styles.scss */
.sidebar li a span {
  float: right;
  margin-top: -2px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(51, 51, 51, 0.8);
  border-radius: 2em;
  font-size: 11px;
  font-weight: 700;
  line-height: .99;
  min-height: 1em;
  min-width: 1em;
  padding: 3px 8px 3px;
  position: relative;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/* line 168, ../sass/styles.scss */
.main {
  margin-left: 200px;
  padding: 20px;
}

/* line 173, ../sass/styles.scss */
table {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 177, ../sass/styles.scss */
table th, table tfoot td {
  border: 1px solid #dadad9;
  padding: 3px 8px;
  font-weight: bold;
  background: #dadad9;
  color: #888;
}
/* line 186, ../sass/styles.scss */
table tfoot td {
  color: #666;
  padding: 2px 8px;
}
/* line 192, ../sass/styles.scss */
table tr:nth-child(2n) {
  background: #F8F8F8;
}
/* line 196, ../sass/styles.scss */
table td {
  border: 1px solid #e8e8e8;
  padding: 3px 6px;
  white-space: nowrap;
}
/* line 201, ../sass/styles.scss */
table td:first-child {
  min-width: 200px;
}
/* line 205, ../sass/styles.scss */
table td.num {
  padding-left: 14px;
  font: 1.1em/1.1em monospace;
  text-align: right;
  padding-right: 6px !important;
  vertical-align: top;
}
/* line 213, ../sass/styles.scss */
table td a.account {
  font-weight: bold;
}
/* line 217, ../sass/styles.scss */
table td.account-level-1 {
  padding-left: 8px;
}
/* line 222, ../sass/styles.scss */
table td.account-level-2 {
  padding-left: 2.1em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-3 {
  padding-left: 3.4em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-4 {
  padding-left: 4.7em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-5 {
  padding-left: 6em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-6 {
  padding-left: 7.3em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-7 {
  padding-left: 8.6em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-8 {
  padding-left: 9.9em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-9 {
  padding-left: 11.2em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-10 {
  padding-left: 12.5em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-11 {
  padding-left: 13.8em;
}
/* line 222, ../sass/styles.scss */
table td.account-level-12 {
  padding-left: 15.1em;
}
/* line 228, ../sass/styles.scss */
table tr.posting.leg td {
  padding: 2px 6px;
}
/* line 232, ../sass/styles.scss */
table tr td.change.num, table tr td.balance.num {
  font-size: 12px;
}
/* line 237, ../sass/styles.scss */
table.errors a, table.holdings a, table.net_worth a {
  font-weight: bold;
}
/* line 243, ../sass/styles.scss */
table.highlighttable td:first-child, table.entry-table td:first-child {
  min-width: inherit;
}
/* line 2, ../sass/_pygments.scss */
table.highlighttable {
  background: #fff;
  color: #333;
}
/* line 3, ../sass/_pygments.scss */
table.highlighttable .hll {
  display: block;
  background-color: #ffffcc;
}
/* line 4, ../sass/_pygments.scss */
table.highlighttable .c {
  color: #999988;
  font-style: italic;
}
/* line 10, ../sass/_pygments.scss */
table.highlighttable .k, table.highlighttable .o {
  font-weight: bold;
}
/* line 12, ../sass/_pygments.scss */
table.highlighttable .cm {
  color: #999988;
  font-style: italic;
}
/* line 15, ../sass/_pygments.scss */
table.highlighttable .cp {
  color: #999999;
  font-weight: bold;
}
/* line 18, ../sass/_pygments.scss */
table.highlighttable .c1 {
  color: #999988;
  font-style: italic;
}
/* line 21, ../sass/_pygments.scss */
table.highlighttable .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 25, ../sass/_pygments.scss */
table.highlighttable .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 28, ../sass/_pygments.scss */
table.highlighttable .ge {
  font-style: italic;
}
/* line 30, ../sass/_pygments.scss */
table.highlighttable .gr {
  color: #aa0000;
}
/* line 32, ../sass/_pygments.scss */
table.highlighttable .gh {
  color: #999999;
}
/* line 34, ../sass/_pygments.scss */
table.highlighttable .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 37, ../sass/_pygments.scss */
table.highlighttable .go {
  color: #888888;
}
/* line 39, ../sass/_pygments.scss */
table.highlighttable .gp {
  color: #555555;
}
/* line 41, ../sass/_pygments.scss */
table.highlighttable .gs {
  font-weight: bold;
}
/* line 43, ../sass/_pygments.scss */
table.highlighttable .gu {
  color: #aaaaaa;
}
/* line 45, ../sass/_pygments.scss */
table.highlighttable .gt {
  color: #aa0000;
}
/* line 47, ../sass/_pygments.scss */
table.highlighttable .kc, table.highlighttable .kd, table.highlighttable .kn, table.highlighttable .kp, table.highlighttable .kr {
  font-weight: bold;
}
/* line 49, ../sass/_pygments.scss */
table.highlighttable .kt {
  color: #445588;
  font-weight: bold;
}
/* line 52, ../sass/_pygments.scss */
table.highlighttable .m {
  color: #009999;
}
/* line 54, ../sass/_pygments.scss */
table.highlighttable .s {
  color: #bb8844;
}
/* line 56, ../sass/_pygments.scss */
table.highlighttable .na {
  color: #008080;
}
/* line 58, ../sass/_pygments.scss */
table.highlighttable .nb {
  color: #999999;
}
/* line 60, ../sass/_pygments.scss */
table.highlighttable .nc {
  color: #445588;
  font-weight: bold;
}
/* line 63, ../sass/_pygments.scss */
table.highlighttable .no {
  color: #008080;
}
/* line 65, ../sass/_pygments.scss */
table.highlighttable .ni {
  color: #800080;
}
/* line 67, ../sass/_pygments.scss */
table.highlighttable .ne, table.highlighttable .nf {
  color: #990000;
  font-weight: bold;
}
/* line 70, ../sass/_pygments.scss */
table.highlighttable .nn {
  color: #555555;
}
/* line 72, ../sass/_pygments.scss */
table.highlighttable .nt {
  color: #000080;
}
/* line 74, ../sass/_pygments.scss */
table.highlighttable .nv {
  color: #008080;
}
/* line 76, ../sass/_pygments.scss */
table.highlighttable .ow {
  font-weight: bold;
}
/* line 78, ../sass/_pygments.scss */
table.highlighttable .w {
  color: #bbbbbb;
}
/* line 80, ../sass/_pygments.scss */
table.highlighttable .mf, table.highlighttable .mh, table.highlighttable .mi, table.highlighttable .mo {
  color: #009999;
}
/* line 82, ../sass/_pygments.scss */
table.highlighttable .sb, table.highlighttable .sc, table.highlighttable .sd, table.highlighttable .s2, table.highlighttable .se, table.highlighttable .sh, table.highlighttable .si, table.highlighttable .sx {
  color: #bb8844;
}
/* line 84, ../sass/_pygments.scss */
table.highlighttable .sr {
  color: #808000;
}
/* line 86, ../sass/_pygments.scss */
table.highlighttable .s1, table.highlighttable .ss {
  color: #bb8844;
}
/* line 88, ../sass/_pygments.scss */
table.highlighttable .bp {
  color: #999999;
}
/* line 90, ../sass/_pygments.scss */
table.highlighttable .vc, table.highlighttable .vg, table.highlighttable .vi {
  color: #008080;
}
/* line 92, ../sass/_pygments.scss */
table.highlighttable .il {
  color: #009999;
}
/* line 251, ../sass/styles.scss */
table.highlighttable td.linenos {
  text-align: right;
}
/* line 254, ../sass/styles.scss */
table.highlighttable td.linenos a {
  color: #A7A5A5;
}
/* line 259, ../sass/styles.scss */
table.highlighttable pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 0;
  line-height: 1.2em;
  font-size: 1.1em;
}

/* line 271, ../sass/styles.scss */
#assets table, #liabilities table, #equity table, #income table, #expenses table {
  width: 100%;
}

/* line 276, ../sass/styles.scss */
p.empty {
  margin-top: 20px;
}

/* line 280, ../sass/styles.scss */
.filters {
  width: 100%;
  background: #f06449;
  height: 30px;
}

/* line 286, ../sass/styles.scss */
.filter {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 20px;
  color: black;
  width: 260px;
  z-index: 2;
  top: 39px;
}
/* line 300, ../sass/styles.scss */
.filter ul {
  max-height: 240px;
  overflow-y: auto;
}
/* line 305, ../sass/styles.scss */
.filter ul li a {
  padding-right: 20px !important;
  display: block;
  line-height: 1;
  padding: 8px 10px;
  color: #3572b0 !important;
}
/* line 313, ../sass/styles.scss */
.filter ul li a:hover, .filter ul li.selected a {
  background-color: #3572b0 !important;
  color: white !important;
}
/* line 318, ../sass/styles.scss */
.filter ul li.selected a {
  padding-left: 28px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAAQMGHjE8P0Bfi6Omt9Hi7/XCzsNoAAAAO0lEQVQI143HSxZAMBAAwQ5CfEPf/7AWHmZH7Qr+aMcmZHONcQa6PV9ZEnBofsKg1jtQ9A2UGOinxKcT2psCetpsGdwAAAAASUVORK5CYII=) no-repeat 9px center;
}
/* line 323, ../sass/styles.scss */
.filter .inputcontainer {
  margin: 10px;
}
/* line 326, ../sass/styles.scss */
.filter .inputcontainer input {
  height: 26px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 26px;
  width: 100%;
}

/* line 339, ../sass/styles.scss */
.tablefilter {
  position: absolute;
  right: 20px;
  top: 22px;
}
/* line 344, ../sass/styles.scss */
.tablefilter input {
  margin-left: 10px;
}

/* line 348, ../sass/styles.scss */
table.entry-table {
  width: 100%;
}
/* line 351, ../sass/styles.scss */
table.entry-table a {
  font-weight: bold;
}
/* line 355, ../sass/styles.scss */
table.entry-table td.datecell a {
  font-weight: normal;
}
/* line 359, ../sass/styles.scss */
table.entry-table td.flag {
  text-align: center;
}
/* line 363, ../sass/styles.scss */
table.entry-table td {
  border: thin solid #fff;
}
/* line 367, ../sass/styles.scss */
table.entry-table th {
  color: #888;
}
/* line 370, ../sass/styles.scss */
table.entry-table th.description {
  width: 90%;
}
/* line 377, ../sass/styles.scss */
table.entry-table tr td.change {
  font-weight: bold;
}
/* line 381, ../sass/styles.scss */
table.entry-table tr td.description {
  white-space: normal;
}
/* line 384, ../sass/styles.scss */
table.entry-table tr td.description span.links {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
}
/* line 392, ../sass/styles.scss */
table.entry-table tr.open {
  background-color: #e8e8e8;
}
/* line 396, ../sass/styles.scss */
table.entry-table tr.close {
  background-color: #606060;
}
/* line 400, ../sass/styles.scss */
table.entry-table tr.note {
  background-color: #aad0ff;
}
/* line 404, ../sass/styles.scss */
table.entry-table tr.document {
  background-color: #ffc8ff;
}
/* line 408, ../sass/styles.scss */
table.entry-table tr.pad {
  background-color: #8ff;
}
/* line 412, ../sass/styles.scss */
table.entry-table tr.padding {
  background-color: #cff;
}
/* line 416, ../sass/styles.scss */
table.entry-table tr.summarize {
  background-color: #cff;
}
/* line 420, ../sass/styles.scss */
table.entry-table tr.transfer {
  background-color: #cff;
}
/* line 424, ../sass/styles.scss */
table.entry-table tr.transaction.warning {
  background-color: #f8a;
}
/* line 428, ../sass/styles.scss */
table.entry-table tr.balance {
  background-color: #cfc;
}
/* line 431, ../sass/styles.scss */
table.entry-table tr.balance.fail {
  background-color: #f8a;
}
/* line 436, ../sass/styles.scss */
table.entry-table tr.posting {
  font-size: x-small;
  background-color: #e8e8e8;
  opacity: 0.6;
}
/* line 441, ../sass/styles.scss */
table.entry-table tr.posting.warning {
  background-color: #f66;
}
/* line 448, ../sass/styles.scss */
table.trial {
  width: auto;
}

/* line 454, ../sass/styles.scss */
span.payee {
  font-weight: bold;
}
/* line 458, ../sass/styles.scss */
span.pnsep {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 3, ../sass/_chartist.scss */
.chart .ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #113861;
  /* Control the thikness of your lines */
  stroke-width: 2px;
}
/* line 11, ../sass/_chartist.scss */
.chart .ct-series-a .ct-bar {
  stroke: #990000;
  stroke-width: 14px;
}
/* line 16, ../sass/_chartist.scss */
.chart .ct-series-b .ct-bar {
  stroke: #113861;
  stroke-width: 14px;
}
/* line 21, ../sass/_chartist.scss */
.chart .ct-series-c .ct-bar {
  stroke: #777;
  stroke-width: 14px;
}

/*# sourceMappingURL=styles.css.map */
