<script>
    window.chart_data.push({
        label: "Monthly changes (Income/Expenses)",
        type:  "bar",
        dateformat: "MMM 'YY",
        data: {
            labels: [
                {% for total in monthly_totals.totals -%}
                new Date({{ total.begin_date.year }}, {{ total.begin_date.month-1 }}, {{ total.begin_date.day }}),
                {% endfor %}
            ],
            series: [
                {% for currency in monthly_totals.operating_currencies -%}
                    [
                    {% for total in monthly_totals.totals -%}
                        {{ (total.income_totals.operating_totals[currency] + total.expenses_totals.operating_totals[currency]) * -1 }},
                        {% endfor %}
                    ],
                {% endfor -%}
            ]
        }
    });

    window.chart_data.push({
        label: "Monthly income",
        type:  "bar",
        dateformat: "MMM 'YY",
        data: {
            labels: [
                {% for total in monthly_totals.totals -%}
                new Date({{ total.begin_date.year }}, {{ total.begin_date.month-1 }}, {{ total.begin_date.day }}),
                {% endfor %}
            ],
            series: [
                {% for currency in monthly_totals.operating_currencies -%}
                    [
                    {% for row in monthly_totals.totals -%}
                        {{ (row.income_totals.operating_totals[currency] * -1) or '0' }},
                    {% endfor %}
                    ],
                {% endfor -%}
            ]
        }
    });

    window.chart_data.push({
        label: "Monthly expenses",
        type:  "bar",
        dateformat: "MMM 'YY",
        data: {
            labels: [
                {% for total in monthly_totals.totals -%}
                new Date({{ total.begin_date.year }}, {{ total.begin_date.month-1 }}, {{ total.begin_date.day }}),
                {% endfor %}
            ],
            series: [
                {% for currency in monthly_totals.operating_currencies -%}
                    [
                    {% for row in monthly_totals.totals -%}
                        {{ (row.expenses_totals.operating_totals[currency] * -1) or '0' }},
                    {% endfor %}
                    ],
                {% endfor -%}
            ]
        }
    });
</script>
