<script>
{% for currency in net_worth.monthly_totals.operating_currencies %}
    window.chart_data.push({
        label: "Net worth (in {{ currency }})",
        type: "line",
        dateformat: "MMM 'YY",
        data: {
            series: [{
                name: 'net_worth_{{ currency }}',
                data: [
                    {% for row in net_worth.monthly_totals.totals -%}
                        { x: new Date({{ row.date.year }}, {{ row.date.month-1 }}, {{ row.date.day }}), y: {{ row.totals[currency] or '0' }} },
                    {% endfor %}
                ]
            }]
        }
    });
{% endfor %}
</script>
