<form id="filter-form" action="{{ url_for_current() }}" method="GET">
    <ul class="topmenu">
        <li{% if g.filters['time'] %} class="selected"{% endif %}>
            <a href="">
                <span>{{ g.filters['time'] or 'Time' }}</span>
            </a>
            <div class="filter" id="filter-time">
                <div class="inputcontainer">
                    <input type="search" class="search-direct-apply" data-url="{{ url_for(request.endpoint, **request.view_args) }}&time=">
                </div>
                <ul>
                    {% set time_search_strings = ['this month', '2015-03', 'march 2015', 'mar 2015', 'last year', 'aug last year', '2010-10 - 2014'] %}
                    <li class="info">Supports search strings like
                        {% for suggestion in time_search_strings %}
                            {% if suggestion != g.filters['time'] %}
                            <a href="{{ url_for_current(time=suggestion) }}" data-filter="{{ suggestion }}">{{ suggestion }}</a>{% if not loop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </li>

                    {% if g.filters['time'] and g.filters['time'] not in api.active_years|map('string') %}
                        <li class="suggestion selected" data-filter="{{ g.filters['time'] }}">
                            <a href="{{ url_for_current(time=None) }}">{{ g.filters['time'] }}</a>
                        </li>
                    {% endif %}

                    {% for time_ in api.active_years %}
                    <li class="suggestion{% if time_|string == g.filters['time'] %} selected{% endif %}" data-filter="{{ time_ }}">
                        {% if time_|string == g.filters['time'] %}
                            <a href="{{ url_for_current(time=None) }}">{{ g.filters['time'] }}</a>
                        {% else %}
                            <a href="{{ url_for_current(time=time_) }}">{{ time_ }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li{% if g.filters['tag']  %} class="selected"{% endif %}>
            <a href="">
                <span>
                    {% if g.filters['tag'] %}
                        {% if g.filters['tag']|length == 1 %}
                            # {{ g.filters['tag']|first }}
                        {% else %}
                            Multiple tags
                        {% endif %}
                    {% else %}
                        Tag
                    {% endif %}
                </span>
            </a>
            <div class="filter">
                <div class="inputcontainer">
                    <input type="search">
                </div>
                <ul>
                    <li class="info">You can select multiple tags.</li>

                    {% for tag in g.filters['tag'] %}
                    <li class="suggestion selected" data-filter="{{ tag|lower }}">
                        <a href="{{ url_for_current(pop=('tag',tag)) }}">{{ tag }}</a>
                    </li>
                    {% endfor %}

                {% for tag in api.active_tags %}
                    {% if tag not in g.filters['tag'] %}
                    <li class="suggestion" data-filter="{{ tag|lower }}">
                        <a href="{{ url_for_current(tag=tag) }}"># {{ tag }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </li>
        <li{% if g.filters['account'] %} class="selected"{% endif %}>
            <a href="">
                <span>{{ g.filters['account'] or 'Component' }}</span>
            </a>
            <div class="filter">
                <div class="inputcontainer">
                    <input type="search">
                </div>
                <ul>
                    {% if g.filters['account'] %}
                        <li class="suggestion selected" data-filter="{{ g.filters['account']|lower }}">
                            <a href="{{ url_for_current(account=None) }}" title="{{ g.filters['account'] }}">{{ g.filters['account'] }}</a>
                        </li>
                    {% endif %}
                    {% for account in api.all_accounts %}
                    <li class="suggestion{% if account.full_name == g.filters['account'] %} selected{% endif %}" data-filter="{{ account.full_name|lower }}">
                        <a href="{{ url_for_current(account=account.full_name) }}" title="{{ account.full_name }}">
                            {% for i in range(account.depth) %}&ndash;{% endfor %}&nbsp;{{ account.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li{% if g.filters['payee']  %} class="selected"{% endif %}>
            {% macro print_payee(payee) %}{{ payee if payee else '<No Payee>'}}{% endmacro %}
            <a href="">
                <span>
                    {% if g.filters['payee'] %}
                        {% if g.filters['payee']|length == 1 %}
                            {{ print_payee(g.filters['payee']|first) }}
                        {% else %}
                            Multiple payees
                        {% endif %}
                    {% else %}
                        Payee
                    {% endif %}
                </span>
            </a>
            <div class="filter">
                <div class="inputcontainer">
                    <input type="search">
                </div>
                <ul>
                    <li class="info">You can select multiple payees.</li>

                    {% for payee in g.filters['payee'] %}
                    <li class="suggestion selected" data-filter="{{ payee|lower }}">
                        <a href="{{ url_for_current(pop=('payee', payee)) }}">{{ print_payee(payee) }}</a>
                    </li>
                    {% endfor %}

                {% for payee in api.active_payees %}
                    {% if payee not in g.filters['payee'] %}
                    <li class="suggestion" data-filter="{{ payee|lower }}">
                        <a href="{{ url_for_current(payee=payee) }}">{{ print_payee(payee) }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</form>
