{% set entry_types = [('open',        config.getboolean('journal-show-type-open')),
                      ('close',       config.getboolean('journal-show-type-close')),
                      ('transaction', config.getboolean('journal-show-type-transaction')),
                      ('balance',     config.getboolean('journal-show-type-balance')),
                      ('note',        config.getboolean('journal-show-type-note')),
                      ('document',    config.getboolean('journal-show-type-document')),
                      ('pad',         config.getboolean('journal-show-type-pad')),
                      ('padding',     config.getboolean('journal-show-type-padding'))] %}

{% if show_tablefilter %}
    <div class="table-filter">
        <form>
            {% for type, default_checked in entry_types %}
                <input type="checkbox" value="{{ type }}" id="filter-{{ type }}" data-type="{{ type }}"{% if default_checked %} checked="checked"{% endif %}>
                <label for="filter-{{ type }}">{{ type|capitalize }}</label>
            {% endfor %}
            <input type="submit" id="toggle-legs" value="{% if config.getboolean('journal-show-legs') %}Hide{% else %}Show{% endif %} legs">
        </form>
    </div>
{% endif %}

<script>
    window.contextURL = "{{ url_for('context', ehash='_REPLACE_ME_') }}";
    window.accountURL = "{{ url_for('account_with_journal', name='_REPLACE_ME_') }}";
    window.documentURL = "{{ url_for('document') }}?file_path=_REPLACE_ME_";
    window.journalURL = "{{ url_for('journal') }}";

{% if journal is defined %}
    window.journalAsJSON = {{ journal|to_json }};
{% endif %}
    window.journalShowChangeAndBalance = {{ show_change_and_balance|lower or 'false' }};
    window.journalShowLegs = {{ config.getboolean('journal-show-legs')|lower }};
    window.journalShowTypes = [
        {% for type, default_checked in entry_types %}
            {% if show_tablefilter %}{% if default_checked %}'{{ type }}',{% endif %}{% else %}'{{ type }}',{% endif %}
        {% endfor %}
    ];
</script>
<div class="journal-table">
    <div class="loading">Loading journal entries&hellip;</div>
</div>

{% raw %}
<script id="journal-table-template" type="text/x-handlebars-template">
  <table class="journal-table">
        <thead>
            <tr>
                <th class="datecell">Date</th>
                <th class="flag">F</th>
                <th class="description">Narration/Payee</th>
                <th class="position">Position</th>
                <th class="price">Price</th>
                <th class="cost">Cost</th>
                {{#ifShowChangeAndBalance window}}
                    <th class="change">Change</th>
                    <th class="balance">Balance</th>
                {{/ifShowChangeAndBalance}}
            </tr>
        </thead>
        <tbody>
        {{#each journal}}
            {{#ifShowType window}}
            <tr class="{{ meta.type }}{{#if diff_amount }} fail{{/if}}{{#ifCond flag '==' '!'}} warning{{/ifCond}}{{#ifShowLegs window}}{{#if legs }} display-legs{{/if}}{{/ifShowLegs}}" data-has-legs="{{#if legs }}True{{else}}False{{/if}}" data-type="{{ meta.type }}" data-hash="{{ hash }}" title="{{ meta.filename }}:{{ meta.lineno }}">
                <td class="datecell"><a href="{{ context_url hash }}">{{ date }}</a></td>
                <td class="flag">{{ flag }}</td>
                <td class="description" colspan="4">
                    {{#ifCond meta.type '==' 'open'}}
                        <a href="{{ account_url account }}">{{ account }}</a>
                    {{/ifCond}}
                    {{#ifCond meta.type '==' 'note'}}
                        Note: {{ comment }}
                    {{/ifCond}}
                    {{#ifCond meta.type '==' 'pad'}}
                        Pad <a href="{{ account_url account }}">{{ account }}</a> from <a href="{{ account_url source_account }}">{{ source_account }}</a>
                    {{/ifCond}}
                    {{#ifCond meta.type '==' 'padding'}}
                        {{ narration }}
                    {{/ifCond}}
                    {{#ifCond meta.type '==' 'document'}}
                        Document for <a href="{{ account_url account }}">{{ account }}</a>: <a href="{{ document_url filename }}">{{ filename }}</a>
                    {{/ifCond}}
                    {{#ifCond meta.type '==' 'balance'}}
                        Balance <a href="{{ account_url account }}">{{ account }}</a>
                        {{#if diff_amount }} fails;
                            expected =
                            {{#each amount }}
                                {{ format_currency this }} {{ @key }},
                            {{/each}}
                            balance =
                            {{#each balance }}
                                {{ format_currency this }} {{ @key }},
                            {{/each}}
                            difference =
                            {{#each diff_amount }}
                                {{ format_currency this }} {{ @key }}
                            {{/each}}
                        {{else}}
                            has
                            {{#each amount }}
                                {{ format_currency this }} {{ @key }}<br>
                            {{/each}}
                        {{/if}}
                    {{/ifCond}}
                    {{#ifCond meta.type '==' 'transaction'}}
                        <div class="narration">
                            <strong>{{ payee }}</strong>
                            {{#if payee }} {{#if narration }}<span>|</span>{{/if}} {{/if}}
                            {{ narration }}
                        </div>
                        {{#if tags }}
                            <div class="tags">
                                {{#each tags }}<a href="{% endraw %}{{ url_for('filter_entries') }}?next={{ request.path|urlencode }}{% raw %}&filter_type=tags&filter_value={{ this }}" title="Filter for tag #{{ this }}"><span>#</span>{{ this }}</a>{{/each}}
                            </div>
                        {{/if}}
                    {{/ifCond}}
                </td>
                {{#ifShowChangeAndBalance window}}
                    <td class="change num">
                        {{#if change }}
                            {{#each change }}
                                {{ format_currency this }} {{ @key }}<br>
                            {{/each}}
                        {{/if}}
                    </td>
                    <td class="balance num">
                        {{#if balance }}
                            {{#each balance }}
                                {{ format_currency this }} {{ @key }}<br>
                            {{/each}}
                        {{/if}}
                    </td>
                {{/ifShowChangeAndBalance}}
            </tr>
                {{#ifShowLegs window}}
                    {{#with this as |journalEntry|}}
                        {{> legPartialTemplate }}
                    {{/with}}
                {{/ifShowLegs}}
            {{/ifShowType}}
        {{/each}}
        </tbody>
    </table>
</script>
<script id="journal-leg-template" type="text/x-handlebars-template">
    {{#each legs }}
        <tr class="posting leg" data-type="leg" data-parent-hash="{{ hash }}">
            <td class="datecell"></td>
            <td class="flag"></td>
            <td class="description"><a href="{{ account_url account }}">{{ account }}</a></td>
            <td class="position num">{{ format_currency position }} {{ position_currency }}</td>
            <td class="price num">{{ format_currency price }} {{ price_currency }}</td>
            <td class="cost num">{{ format_currency cost }} {{ cost_currency }}</td>
            {{#ifShowChangeAndBalance window}}
                <td class="change num"></td>
                <td class="balance num"></td>
            {{/ifShowChangeAndBalance}}
        </tr>
    {{/each}}
</script>
{% endraw %}
