{% set navigation_bar = [
    ("", [
        ('/income_statement/',    'income_stmt',          'Income Statement'),
        ('/balance_sheet/',       'balance_sheet',        'Balance Sheet'),
        ('/trial_balance/',       'trial_balance',        'Trial Balance'),
        ('/journal/',             'journal',              'General Journal'),
    ]),
    ("Other", [
        ('/holdings/',            'holdings',             'Equity/Holdings'),
        ('/net_worth/',           'net_worth',            'Net Worth'),
        ('/documents/',           'documents',            'Documents'),
        ('/notes/',               'notes',                'Notes'),
        ('/events/',              'events',               'Events'),
        ('/commodities/',         'commodities',          'Commodities'),
    ]),
    ("Configuration", [
        ('/source/',             'source',         'Source'),
        ('/options/',            'options',        'Options'),
        ('/statistics/',         'statistics',     'Statistics'),
        ('/errors/',             'errors',         'Errors'),
    ])
] -%}
{% set active_page = active_page|default('journal') -%}
<!doctype html>
<html>
<head>
    {% block head %}
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <title>{% block title %}{% endblock %} - {{ title }}</title>
    {% endblock %}
    <script>window.chartData = [];</script>
</head>
<body>
    <div class="bodywrapper">
        <header id="header">
            <div id="header">
                <div id="branding">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAsVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+3mHKcAAAAOnRSTlMAAQMEBQYHCAwNDg8QExkaISImJzQ7RUZHSUtVZGtsb3FzdXd4f5WYm56jr7y+xcfP2tze4OLk6/X9+wsXVgAAAMJJREFUKFPFkWkTgiAYhDG1wy677VSzw0q6pKz3//+wBGRkGO2r+4ndZ9hhFoQq0AaXKZoiKFfE4Uzt82iKOWyrcJjDJU90N45dnZ/3HCbrPvfmE64YHkZ216MQi6rwPUBp0VF4GVrQowlAqwA6cN8xKJ4uwyDNGdz+g0EBnAvoFEALxjZC9gIsCd60zJy6ZqpRmFmNLfQ9NJirE7pWbDLTuYj5SI0Fhk+IzwdqfvLhJ0jRSvqVl/rRCYdnKNVG7atcP+gmOQsBuK8NAAAAAElFTkSuQmCC" alt="">
                    <h1 id="site-name">{{ title }}</h1>
                </div>
                <ul class="topmenu">
                    <li{% if entry_filters['year'] %} class="selected"{% endif %}>
                        <a href="">
                            <span>{{ entry_filters['year'] or 'Time' }}</span>
                        </a>
                        <div class="filter">
                            <div class="inputcontainer">
                                <input type="search">
                            </div>
                            <ul>
                                {% for year in api.active_years -%}
                                <li {% if year == entry_filters['year'] %} class="selected"{% endif %}>
                                    <a href="{{ request.path }}?filter_year={% if year != entry_filters['year'] %}{{ year }}{% endif %}">{{ year }}</a>
                                </li>
                                {% endfor -%}
                            </ul>
                        </div>
                    </li>
                    <li{% if entry_filters['tag'] %} class="selected"{% endif %}>
                        <a href="">
                            <span>{% if entry_filters['tag'] %}# {{ entry_filters['tag'] }}{% else %}Tag{% endif %}</span>
                        </a>
                        <div class="filter">
                            <div class="inputcontainer">
                                <input type="search">
                            </div>
                            <ul>
                                {% for tag in api.active_tags -%}
                                <li {% if tag == entry_filters['tag'] %} class="selected"{% endif %}>
                                    <a href="{{ request.path }}?filter_tag={% if tag != entry_filters['tag'] %}{{ tag }}{% endif %}"># {{ tag }}</a>
                                </li>
                                {% endfor -%}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href=""><span>Account</span></a>
                        <div class="filter">
                            <div class="inputcontainer">
                                <input type="search">
                            </div>
                            <ul>
                                {% for component in api.all_accounts -%}
                                <li><a href="{{ url_for('account_with_journal', name=component.full_name) }}" title="{{ component.full_name }}">{% for i in range(component.depth) %}&ndash;{% endfor %}&nbsp;{{ component.name }}</a></li>
                                {% endfor -%}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <div class="wrapper">
            <div class="sidebar">
                {% for title_, menuitems in navigation_bar %}
                    {% if title_ %}<h3>{{ title_ }}</h3>{% endif %}
                    <ul id="navigation">
                    {% for href, id, caption in menuitems -%}
                        <li{% if id == active_page %} class="selected"{% endif %}><a href="{{ href|e }}">{{ caption|e }}{% if id == 'errors' and errors|length > 0 %}<span>{{ errors|length }}</span>{% endif %}</a></li>
                    {% endfor -%}
                    </ul>
                {% endfor %}
            </div>
            <div class="main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='vendor/jquery-js/jquery-2.1.4.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chartist-js/chartist.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chartist-js/chartist-plugin-legend.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chartist-js/chartist-plugin-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/moment-js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-treemap-js/jquery-treemap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/ace-js/ace.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/editor.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/charts.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
