{% extends "_layout.html" %}
{% set active_page = 'trial_balance' %}

{% block title %}Account {{ account.name }}{% endblock %}

{% block content %}
    <h1>{{ account.name }}</h1>

    {% include "charts/_chart_skeleton.html" %}
    <script>
        window.chartData.push({
            label: "Account balance",
            type: "line",
            data: {
                series: [
                    {% for currency in operating_currencies %}
                        {
                            name: '{{ currency }}',
                            data: [
                                {% for row in chart_data -%}
                                    {% if currency in row.balance -%}
                                    { x: new Date({{ row.date.year }}, {{ row.date.month-1 }}, {{ row.date.day }}), y: {{ row.balance[currency] or '0' }} },
                                    {% endif -%}
                                {% endfor -%}
                            ]
                        },
                    {% endfor %}
                ]
            }
        });
    </script>
    {% with monthly_totals = account.monthly_totals %}
        {% include "charts/_chart_monthly_totals.html" %}
    {% endwith %}
    {% with label=treemap.label, rows=treemap.balances, modifier=treemap.modifier, level=account.name.split(':')|length %}
        {% include "charts/_chart_treemap.html" %}
    {% endwith %}

    <div class="headerline">
        <h3>Journal</h3> <h3><a href="{{ url_for('monthly_balances', account=account.name) }}">Monthly balances</a></h3>
    </div>
    {% with journal=account.journal, show_tablefilter=True %}
        {% include "_journal_table.html" %}
    {% endwith %}
{% endblock %}
