{% extends "_layout.html" %}
{% set active_page = 'balance_sheet' %}
3
{% block title %}Balance Sheet{% endblock %}

{% block content %}
    <h1>Balance Sheet</h1>

    {% include "_chart_skeleton.html" %}
    {% with monthly_totals=balance_sheet.monthly_totals %}
        {% include "_chart_monthly_ie_changes.html" %}
    {% endwith %}
    {% include "_chart_monthly_net_worth.html" %}

    <div class="tables">
        <div class="halfleft">
            <div id="assets">
                {% with table_title="Account", currencies=balance_sheet.currencies, table_data=balance_sheet.assets, totals=balance_sheet.assets_totals %}
                    {% include "_balance_sheet_table.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="halfright">
            <div id="liabilities">
                {% with table_title="Liabilities", currencies=balance_sheet.currencies, table_data=balance_sheet.liabilities, totals=balance_sheet.liabilities_totals %}
                    {% include "_balance_sheet_table.html" %}
                {% endwith %}
            </div>
            <div id="equity">
                {% with table_title="Equity", currencies=balance_sheet.currencies, table_data=balance_sheet.equity, totals=balance_sheet.equity_totals %}
                    {% include "_balance_sheet_table.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
