{% extends "_layout.html" %}
{% set active_page = 'commodities' %}

{% block content %}
    <h1>Commodities</h1>

    {% set commodity_pairs = api.commodity_pairs() %}

    {% include "charts/_chart_skeleton.html" %}
    <script>
    {% for commodity in commodity_pairs %}
        window.chartData.push({
            label: "{{ commodity.0 }} / {{ commodity.1 }}",
            type: "line",
            options: {
                dateFormat: "MMM 'YY"
            },
            data: {
                series: [{
                    name: '{{ commodity.0 }} /  {{ commodity.1 }}',
                    data: [
                        {% set prices = api.prices(commodity.0, commodity.1) %}
                        {% for price in prices %}
                            {
                                x: new Date({{ price.0.year }}, {{ price.0.month-1 }}, {{ price.0.day }}),
                                y: {{ price.1 }},
                                meta: "1 {{ commodity.0 }} = {{ price.1 }} {{ commodity.1 }}<br><em>{{ price.0 }}</em>"
                            },
                        {% endfor %}
                    ]
                }]
            }
        });
    {% endfor %}
    </script>

    <div class="commodities">
        {% for commodity in commodity_pairs %}
            <div class="commodity-container commodity-{{ commodity.0 }}-{{ commodity.1 }}" style="float: left; margin-right: 20px; ">
                <h3>{{ commodity.0 }} / {{ commodity.1 }}</h3>
                <table class="commodity sortable">
                    <thead>
                        <th data-sort="string" data-sort-default="desc" class="sorting-asc">Date</th>
                        <th data-sort="float">Price</th>
                    </thead>
                    <tbody>
                        {% set prices = api.prices(commodity.0, commodity.1) %}
                        {% for price in prices %}
                            <tr>
                                <td>{{ price.0 }}</td>
                                <td class="num">{{ price.1 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
