{% extends "_layout.html" %}
{% set active_page = 'context' %}

{% block title %}Context{% endblock %}
{% block javascript %}<script src="{{ url_for('static', filename='javascript/editor.js') }}"></script>{% endblock %}

{% block content %}
    <h1>Context: <pre>{{ context.hash }}</pre></h1>

    {% for context_ in context.contexts %}
        <dl>
            <dt>Hash:</dt>
            <dd><pre>{{ context_.hash }}</pre></dd>
            <dt>Location:</dt>
            <dd><pre><a href="{{ url_for('source') }}?file_path={{context_.filename }}&line={{ context_.line }}">{{ context_.filename }}:{{ context_.line }}</a></pre></dd>
        </dl>
        <div class="editor-wrapper">
            <div class="editor editor-readonly" id="editor-{{ context.hash }}"><pre>{{ context_.context | safe }}</pre></div>
        </div>
    {% endfor %}

    <h3>Matching Journal Entries</h3>
    {% with journal=context.journal %}
        {% include "_journal_table.html" %}
    {% endwith %}
{% endblock %}
