{% extends "_layout.html" %}
{% set active_page = 'context' %}

{% block title %}Context{% endblock %}

{% block content %}
    <h1>Context: <pre>{{ context.hash }}</pre></h1>

    {% for context_ in context.contexts %}
        <dl>
            <dt>Hash:</dt>
            <dd><pre>{{ context_.hash }}</pre></dd>
            <dt>Location:</dt>
            <dd><pre><a href="beancount://open?url={{context_.filename }}&line={{ context_.line }}">{{ context_.filename }}:{{ context_.line }}</a></pre></dd>
        </dl>

        {{ context_.context_highlighted | safe }}
    {% endfor %}

    <h3>Matching Journal Entries</h3>
    {% with journal=context.journal %}
        {% include "_journal_table.html" %}
    {% endwith %}
{% endblock %}
