{% extends "_layout.html" %}
{% set active_page = 'documents' %}

{% block title %}Documents{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='vendor/handlebars-js/handlebars-v4.0.5.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/journal.js') }}"></script>
{% endblock javascript %}

{% block content %}
    <h1>Documents</h1>
    {% set documents = api.documents() %}
    {% if documents %}
        {% with journal=documents %}
            {% include "_journal_table.html" %}
        {% endwith %}
    {% else %}
    <p class="empty">
        No documents.
    </p>
    {% endif %}
{% endblock %}
