{% extends "_layout.html" %}
{% set active_page = 'events' %}

{% block content %}
    <h1>Event: {{ event_type }}</h1>

    {% set events = api.events(event_type=event_type) %}

    {% if events %}
        {% include "charts/_chart_skeleton.html" %}
        <script>
            window.chartData.push({
                label: "Event: {{ event_type }}",
                type: "line",
                options: {
                    showLine: false,
                    high: 2,
                    low: 0
                },
                data: {
                    series: [{
                        name: '{{ event_type }}',
                        data: [
                            {% for event in events %}
                                {
                                    x: new Date({{ event.date.year }}, {{ event.date.month-1 }}, {{ event.date.day }}),
                                    y: 1,
                                    meta: "{{ event.description }}<br><em>{{ event.date }}</em>"
                                },
                            {% endfor %}
                        ]
                    }]
                }
            });
        </script>

        <h3>Entries</h3>
        <table class="events sortable">
            <thead>
                <tr>
                    <th data-sort="string" data-sort-default="desc" class="sorting-asc">Date</th>
                    <th data-sort="string">Type</th>
                    <th data-sort="string">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>
                            <a href="{{ url_for_source(file_path=event.meta.filename, line=event.meta.lineno) }}" title="Show source {{ event.meta.filename }}:{{ event.meta.lineno }}">{{ event.date }}</a>
                        </td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p class="empty">
        No events.
    </p>
    {% endif %}
{% endblock %}
