{% extends "_layout.html" %}
{% set active_page = 'income_stmt' %}
3
{% block title %}Income Statement{% endblock %}

{% block content %}
    <h1>Income Statement</h1>

    {% include "charts/_chart_skeleton.html" %}
    {% with monthly_totals=income_statement.monthly_totals  %}
        {% include "charts/_chart_monthly_ie_changes.html" %}
    {% endwith %}

    <div class="tables">
        <div class="halfleft">
            <div id="income">
                {% with table_title="Income", currencies=income_statement.currencies, table_data=income_statement.income, totals=income_statement.income_totals %}
                    {% include "_tree_table.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="halfright">
            <div id="expenses">
                {% with table_title="Expenses", currencies=income_statement.currencies, table_data=income_statement.expenses, totals=income_statement.expenses_totals %}
                    {% include "_tree_table.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
