{% extends "_layout.html" %}
{% set active_page = 'journal' %}

{% block title %}General Ledger{% endblock %}

{% block javascript %}
    {% assets
        output="gen/packed-journal.js",
        "vendor/handlebars-js/handlebars-v4.0.5.js",
        "javascript/journal.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
    <h1>General Ledger</h1>
    {% set journal = api.journal() %}
    {% with show_tablefilter=True  %}
        {% include "_journal_table.html" %}
    {% endwith %}
{% endblock %}
