{% extends "_layout.html" %}
{% set active_page = 'monthly_expenses' %}

{% block title %}Monthly Expenses{% endblock %}

{% block content %}
    <h1>Monthly Expenses</h1>
    {# TODO make this generic enough to work with any account, eg. month-by-month view for each account #}

    {% include "charts/_chart_skeleton.html" %}

    {% for month in monthly_ie_treetable %}
        {% with label=month.label, rows=month.balances, modifier=month.modifier %}
            {% include "charts/_chart_treemap.html" %}
        {% endwith %}
    {% endfor %}

    <table class="fullwidth tree-table">
        <thead>
            <tr>
                <th>Account</th>
                {% for end_date in monthly_ie.months|reverse %}
                    <th>{{ end_date.strftime("%b '%y") }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in monthly_ie.vals %}
            <tr class="row-level-{{ account_level(row.account) }}">
                <td class="account account-level-{{ account_level(row.account) }}"><a href="{{ url_for('account', name=row.account) }}" class="account">{{ row.account|last_segment }}</a></td>

                {% for end_date in monthly_ie.months|reverse %}
                    <td class="num">
                        {% if end_date.isoformat() in row.totals and row.totals[end_date.isoformat()].balances|length > 0 -%}
                            <span class="balance">
                            {% for currency, number in row.totals[end_date.isoformat()].balances.items() -%}
                                {% if number -%}
                                    {{ number|format_currency }} {{ currency }}<br>
                                {% endif -%}
                            {% endfor -%}
                            </span>
                        {% endif -%}
                        {% if end_date.isoformat() in row.totals and row.totals[end_date.isoformat()].balances_children|length > 0 -%}
                            <span class="tree-balance">
                            {% for currency, number in row.totals[end_date.isoformat()].balances_children.items() -%}
                                {% if number -%}
                                    {{ number|format_currency }} {{ currency }}<br>
                                {% endif -%}
                            {% endfor -%}
                            </span>
                        {% endif -%}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp;</td>
                {% for end_date in monthly_ie.months|reverse %}
                    <td class="num">
                        {% for currency, number in monthly_ie.totals[end_date.isoformat()].items() %}
                            {% if number %}
                                    {{ number|format_currency }} {{ currency }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
{% endblock %}
