{% extends "_layout.html" %}
{% set active_page = 'net_worth' %}

{% block title %}Net Worth{% endblock %}

{% block content %}
    <h1>Net Worth</h1>

    {% include "charts/_chart_skeleton.html" %}
    {% include "charts/_chart_monthly_net_worth.html" %}

    <table class="net_worth">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Net Worth</th>
            </tr>
        </thead>
        <tbody>
            {% for currency, number in net_worth.net_worth.items() %}
            <tr>
               <td>{{ currency }}</td>
               <td class="num">{{ number|format_currency }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
