{% extends "_layout.html" %}
{% set active_page = 'notes' %}

{% block title %}Notes{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='vendor/handlebars-js/handlebars-v4.0.5.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/journal.js') }}"></script>
{% endblock javascript %}

{% block content %}
    <h1>Notes</h1>
    {% set notes = api.notes() %}
    {% if notes %}
        {% with journal=notes %}
            {% include "_journal_table.html" %}
        {% endwith %}
    {% else %}
    <p class="empty">
        No notes.
    </p>
    {% endif %}
{% endblock %}
