{% extends "_layout.html" %}
{% set active_page = 'source' %}

{% block title %}Source{% endblock %}

{% block javascript %}{% include "javascript/_editor.html" %}{% endblock %}

{% block content %}
    <h1>Source</h1>
    {% if config.getboolean('use-external-editor') %}
    <table class="errors sortable">
        <thead>
            <tr>
                <th data-sort="string" class="sorting-asc">File</th>
            </tr>
        </thead>
        <tbody>
            {% for source_file in api.source_files() %}
            <tr>
                {% with link=url_for_source(file_path=source_file) %}
                <td><a class="source" href="{{ link }}" title="Show source {{ source_file }}">{{ source_file }}</a></td>
                {% endwith %}
             </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <form class="editor-source" action="{{ url_for('source') }}" method="get">
        <select name="file_path">
            {% for source_file in api.source_files() %}
                <option{% if source_file == file_path %} selected="selected"{% endif %}>{{ source_file }}</option>
            {% endfor %}
        </select>
    </form>
    <div class="editor-wrapper editor-wrapper-source">
        <div class="editor" id="editor-source"></div>
    </div>
    <form class="editor-save" action="{{ url_for('source') }}" method="post">
        <input type="submit" value="Save">
    </form>
    {% endif %}
{% endblock %}
