{% extends "_layout.html" %}
{% set active_page = 'statistics' %}

{% block title %}Statistics{% endblock %}

{% block content %}
    <h1>Statistics</h1>

    {% set statistics = api.statistics() %}

    <div class="left statistics">
        <h3>Postings per Account</h3>
        <table class="statistics">
            <thead>
                <tr>
                    <th>Type</th>
                    <th># Entries</th>
                </tr>
            </thead>
            <tbody>
                {% for account_name, num in statistics.postings_by_account|dictsort(false, 'value')|reverse %}
                    <tr>
                        <td><a href="{{ url_for('account_with_journal', name=account_name) }}">{{ account_name }}</a></td>
                        <td class="num">{{ num }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="num">{{ statistics.postings_by_account_total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="left statistics">
        <h3>Update Activity per Account</h3>
        <table class="statistics">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Last Entry</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in statistics.activity_by_account %}
                    <tr>
                        <td><a href="{{ url_for('account_with_journal', name=activity.account) }}">{{ activity.account }}</a></td>
                        <td><a href="{{ url_for('source') }}?file_path={{ activity.last_posting_filename }}&line={{ activity.last_posting_lineno }}">{{ activity.last_posting_date }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="left statistics">
        <h3>Directive Type</h3>
        <table class="statistics">
            <thead>
                <tr>
                    <th>Type</th>
                    <th># Entries</th>
                </tr>
            </thead>
            <tbody>
                {% for type, num in statistics.entries_by_type|dictsort(false, 'value')|reverse %}
                    <tr>
                        <td>{{ type }}</td>
                        <td class="num">{{ num }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="num">{{ statistics.entries_by_type_total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
