{% extends "_layout.html" %}
{% set active_page = 'trial_balance' %}

{% block title %}Trial Balance{% endblock %}

{% block content %}
    <h1>Trial Balance</h1>
    {% set trial_balance = api.trial_balance() %}

    {% include "charts/_chart_skeleton.html" %}

    {% for balance in treemap_balances %}
        {% with label=balance.label, rows=balance.balances, modifier=balance.modifier %}
            {% include "charts/_chart_treemap.html" %}
        {% endwith %}
    {% endfor %}

    <div class="tables">
        <div id="trial_balance">
            {% with table_title=None, currencies=trial_balance.currencies, table_data=trial_balance, totals=False %}
                {% include "_tree_table.html" %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
