.git
.gitignore
**/__pycache__/
**/*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info
.env
.env.*
.venv
.idea
.vscode
dist
build
node_modules
.DS_Store
coverage
coverage.xml
.pytest_cache
allure-results
allure-report
htmlcov
