/*cache
/.coverage
/.eggs
/.tox
/.idea/
/build/
/pip-wheel-metadata/
/dist/
/docs/api/
/fava/static
/fava.egg-info
/fava/translations/messages.pot
/htmlcov
/venv

node_modules
*.pyc
.DS_Store
.env
TODO
npm-debug.log
