/*cache/
/.coverage
/.eggs/
/.idea/
/.tox/
/.venv/
/.vscode/
/build/
/dist/
/docs/api/
/frontend/coverage/
/frontend/node_modules/
/htmlcov/
/src/fava.egg-info/
/src/fava/static/*.css
/src/fava/static/*.js
/src/fava/static/*.map
/src/fava/static/*.wasm
/src/fava/static/*.woff2
/src/fava/translations/messages.pot
/src/fava/translations/**/messages.mo
/venv/

*.pyc
*.so
.DS_Store
.env
__pycache__
npm-debug.log
