ci:
  autoupdate_schedule: quarterly
  skip: ["eslint", "stylelint", "prettier"]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--wrap", "80"]
        additional_dependencies:
          - mdformat-gfm

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.12
    hooks:
      - id: biome-check
        args: ["--error-on-warnings"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bunx prettier --write --list-different
        types_or: ["svelte", "yaml"]
        pass_filenames: true

      - id: stylelint
        name: stylelint
        language: system
        entry: bunx stylelint --fix --config frontend/stylelint.config.js
        types_or: ["css", "svelte"]
        pass_filenames: true

      - id: eslint
        name: eslint
        language: system
        entry: bunx eslint --config frontend/eslint.config.js --fix --max-warnings 0
        types_or: ["javascript", "svelte", "ts"]
        files: "^frontend/"
        pass_filenames: true
