ci:
  skip: ["eslint"]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: prettier --write --list-different --ignore-unknown
        require_serial: true
        additional_dependencies:
          - "prettier@3.2.4"
          - "prettier-plugin-svelte@3.1.2"
          - "svelte@4.2.9"
      - id: stylelint
        name: stylelint
        language: node
        entry: stylelint --fix
        files: \.(css|svelte)$
        require_serial: true
        additional_dependencies:
          - "stylelint@16.2.0"
          - "stylelint-config-recess-order@4.4.0"
          - "stylelint-config-standard@36.0.0"
          - "postcss-html@1.6.0"
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
        require_serial: true
        files: frontend/.*\.(js|ts|svelte)$
