ci:
  autoupdate_schedule: quarterly
  skip: ["eslint", "stylelint"]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--wrap", "80"]
        additional_dependencies:
          - mdformat-gfm
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.4.4
    hooks:
      - id: biome-check
        args: ["--error-on-warnings"]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: prettier --write --list-different
        types_or: ["svelte", "yaml"]
        require_serial: true
        additional_dependencies:
          - "prettier@3.8.1"
          - "prettier-plugin-svelte@3.5.0"
          - "svelte@5.53.1"
      - id: stylelint
        name: stylelint
        language: node
        entry: stylelint --fix --config frontend/stylelint.config.js
        types_or: ["css", "svelte"]
        require_serial: true
        additional_dependencies:
          - "stylelint@17.3.0"
          - "stylelint-config-recess-order@7.6.1"
          - "stylelint-config-standard@40.0.0"
          - "postcss-html@1.8.1"
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --config
          frontend/eslint.config.js --fix --max-warnings 0
        require_serial: true
        types_or: ["javascript", "svelte", "ts"]
        files: "^frontend/"
