-e hg+https://bitbucket.org/blais/beancount#egg=beancount
Flask==0.10.1
Flask-Assets==0.11
itsdangerous==0.24
Jinja2==2.8
livereload==2.4.0
MarkupSafe==0.23
six==1.10.0
tornado==4.3
webassets==0.11.1
Werkzeug==0.11.2
