{% import 'macros/_interval_macros.html' as interval_macros with context %}

{% set chart_data = [] %}

{% macro hierarchy(account_name, begin_date=None, end_date=None, label=None) %}
{% do chart_data.append({
    'type': 'hierarchy',
    'label': account_name if not label else label,
    'modifier': api.get_account_sign(account_name),
    'root': api.charts.hierarchy(account_name, begin_date, end_date),
}) %}
{% endmacro %}

{% macro interval_totals(interval, account_name, label=None) %}
{% do chart_data.append({
    'type': 'bar',
    'label': '{} {}'.format(interval_macros.interval_label, account_name if not label else label),
    'interval_totals': api.charts.interval_totals(interval, account_name),
}) %}
{% endmacro %}

{% macro events(event_type=None) %}
{% do chart_data.append({
    'type': 'scatterplot',
    'label': 'Events' if not event_type else 'Event: {}'.format(event_type),
    'events': api.charts.events(event_type),
}) %}
{% endmacro %}

{% macro net_worth(interval) %}
{% do chart_data.append({
    'type': 'balances',
    'label': 'Net Worth ({})'.format(interval_macros.interval_label|lower),
    'data': api.charts.net_worth_at_dates(interval),
}) %}
{% endmacro %}

{% macro account_balance(account_name) %}
{% do chart_data.append({
    'type': 'balances',
    'label': 'Account Balance',
    'data': api.charts.linechart(account_name),
}) %}
{% endmacro %}

{% macro commodities() %}
{% for pair in api.commodity_pairs() %}
{% do chart_data.append({
    'type': 'commodities',
    'label': '{0[0]} / {0[1]}'.format(pair),
    'prices': api.prices(pair[0], pair[1]),
    'base': pair[0],
    'quote': pair[1],
}) %}
{% endfor %}
{% endmacro %}

{% macro skeleton(hide_interval_filter=False) %}
{% set show_charts = config['charts'] %}
<button type="button" id="toggle-chart" class="toggle-chart{% if not show_charts %} hide-charts{% endif %}">
    <span></span>
</button>
<div id="charts" class="charts {% if not show_charts %} hidden{% endif %}">
    <form id="chart-form">
        <span id="chart-legend" class="chart-legend"></span>
        <select name="chart-currency" id="chart-currency" class="hidden">
        {% for currency in operating_currencies %}
            <option value="{{ currency }}">{{ currency }}</option>
        {% endfor %}
        </select>
        <span id="chart-mode" class="hidden">
            <input name="mode" type="radio" value="treemap" id="mode-treemap" checked> <label for="mode-treemap">{{ _('Treemap') }}</label>
            <input name="mode" type="radio" value="sunburst" id="mode-sunburst"> <label for="mode-sunburst">{{ _('Sunburst') }}</label>
        </span>
        {% if not hide_interval_filter %}
            <select name="chart-interval" id="chart-interval" data-default="{{ config['interval'] }}">
                <option value="day"{% if interval == 'day' %} selected="selected"{% endif %}>{{ _('Daily') }}</option>
                <option value="week"{% if interval == 'week' %} selected="selected"{% endif %}>{{ _('Weekly') }}</option>
                <option value="month"{% if interval == 'month' %} selected="selected"{% endif %}>{{ _('Monthly') }}</option>
                <option value="quarter"{% if interval == 'quarter' %} selected="selected"{% endif %}>{{ _('Quarterly') }}</option>
                <option value="year"{% if interval == 'year' %} selected="selected"{% endif %}>{{ _('Yearly') }}</option>
            </select>
        {% endif %}
    </form>
    <div id="chart-container" class="chart-container">
        <div class="loading">{{ _('Loading charts&hellip;') }}</div>
    </div>
    <div id="chart-labels" class="chart-labels"></div>
</div>
{% endmacro %}
