{% import 'macros/_interval_macros.html' as interval_macros with context %}

{% macro add_chart(data) %}
<script>window.chartData.push({{ data|tojson|safe }})</script>
{% endmacro %}

{% macro treemap(account_name, begin_date=None, end_date=None, label=None) %}
{{ add_chart({
    'type': 'treemap',
    'label': account_name if not label else label,
    'modifier': api.get_account_sign(account_name),
    'root': api.balances(account_name, begin_date, end_date)[0],
}) }}
{% endmacro %}

{% macro sunburst(account_name, diameter=500, begin_date=None, end_date=None, label=None) %}
{{ add_chart({
    'type': 'sunburst',
    'label': '{} (Sunburst)'.format(account_name if not label else label),
    'diameter': diameter,
    'root': api.balances(account_name, begin_date, end_date)[0],
}) }}
{% endmacro %}

{% macro interval_totals(interval, account_name, label=None) %}
{{ add_chart({
    'type': 'bar',
    'label': '{} {}'.format(interval_macros.interval_label, account_name if not label else label),
    'interval_totals': api.interval_totals(interval, account_name),
}) }}
{% endmacro %}

{% macro events(event_type=None, label=None) %}
{{ add_chart({
    'type': 'scatterplot',
    'label': 'Events' if not label else label,
    'events': api.events(event_type),
}) }}
{% endmacro %}

{% macro net_worth(interval) %}
{{ add_chart({
    'type': 'balances',
    'label': 'Net Worth ({})'.format(interval_macros.interval_label|lower),
    'data': api.net_worth_at_intervals(interval),
}) }}
{% endmacro %}

{% macro account_balance(account_name) %}
{{ add_chart({
    'type': 'balances',
    'label': 'Account Balance',
    'data': api.linechart_data(account_name),
}) }}
{% endmacro %}

{% macro commodities() %}
{% for pair in api.commodity_pairs() %}
{{ add_chart({
    'type': 'commodities',
    'label': '{0[0]} / {0[1]}'.format(pair),
    'prices': api.prices(pair[0], pair[1]),
    'base': pair[0],
    'quote': pair[1],
}) }}
{% endfor %}
{% endmacro %}

{% macro skeleton(hide_interval_filter=False) %}
{% set show_charts = config['charts-show'] %}
<form class="wide-form chart-filter">
    {% if not hide_interval_filter %}
        <select name="chart-interval" id="chart-interval">
            <option value="day"{% if interval == 'day' %} selected="selected"{% endif %}>{{ _('Daily') }}</option>
            <option value="week"{% if interval == 'week' %} selected="selected"{% endif %}>{{ _('Weekly') }}</option>
            <option value="month"{% if interval == 'month' %} selected="selected"{% endif %}>{{ _('Monthly') }}</option>
            <option value="quarter"{% if interval == 'quarter' %} selected="selected"{% endif %}>{{ _('Quarterly') }}</option>
            <option value="year"{% if interval == 'year' %} selected="selected"{% endif %}>{{ _('Yearly') }}</option>
        </select>
    {% endif %}
    <input type="submit" id="toggle-chart"{% if show_charts %} class="show-charts"{% endif %} value="{{ _('Toggle charts') }}">
</form>
<div class="charts">
    <div id="chart-container" class="chart-container{% if not show_charts %} hidden{% endif %}">
        <div class="loading">{{ _('Loading charts&hellip;') }}</div>
    </div>
    <div id="chart-labels" class="chart-labels{% if not show_charts %} hidden{% endif %}"> </div>
</div>
<script>
    window.interval = "{{ interval }}";
    window.operating_currencies = {{ operating_currencies|tojson|safe }};
    window.commodities = {{ api.options['commodities']|tojson|safe }};
    window.accountUrl = "{{ url_for('account_with_journal', name='REPLACEME') }}";
</script>
{% endmacro %}
