{% set entry_hash = request.args.get('entry_hash') %}
{% set entry, context, slice, sha256sum = ledger.context(entry_hash) %}
<dl>
  <dt>{{ _('Hash') }}:</dt>
  <dd><code>{{ entry_hash }}</code></dd>
  <dt>{{ _('Location') }}:</dt>
  <dd><code><a href="{{ url_for_source(file_path=entry.meta.filename, line=entry.meta.lineno) }}" title="{{ _('Show source %(file)s:%(lineno)s', file=entry.meta.filename, lineno=entry.meta.lineno) }}">{{ entry.meta.filename }}:{{ entry.meta.lineno }}</a></code></dd>
</dl>
{#
<textarea class="editor">{{ context|safe }}</textarea>
#}
<form id="source-slice-editor-form" class="source-slice-editor-form">
  <textarea id="source-slice-editor" name="source-slice" autofocus spellcheck="false" data-sha256sum="{{ sha256sum }}">{{ slice or '' }}</textarea>
  <button id="source-slice-editor-submit" type="button" disabled data-command="favaSave" data-entry-hash="{{ entry_hash }}" data-progress-content="{{ _('Saving...') }}" title="{{ _('Save') }} (Ctrl/Cmd+s)"(>{{ _('Save') }}</button>
</form>
