{% set entry, context = ledger.context(request.args.get('entry_hash')) %}
<dl>
  <dt>{{ _('Hash') }}:</dt>
  <dd><code>{{ request.args.get('entry_hash') }}</code></dd>
  <dt>{{ _('Location') }}:</dt>
  <dd><code><a href="{{ url_for_source(file_path=entry.meta.filename, line=entry.meta.lineno) }}" title="{{ _('Show source %(file)s:%(lineno)s', file=entry.meta.filename, lineno=entry.meta.lineno) }}">{{ entry.meta.filename }}:{{ entry.meta.lineno }}</a></code></dd>
</dl>
<textarea class="editor editor-readonly" readonly>{{ context|safe }}</textarea>
