{% macro input_account(account) %}
<input type="text" class="account" placeholder="{{ _('Account') }}" list="accounts" value="{{ account or '' }}" pattern="{{ config.ACCOUNT_RE }}">
{% endmacro %}
{% macro input_date(date) -%}
<input type="date" name="date" value="{{ date or today() }}" required>
{%- endmacro %}
{% macro input_number(number) -%}
<input type="tel" class="number" name="number" pattern="[0-9.,]*" placeholder="{{ _('Number') }}" value="{{ number }}">
{%- endmacro %}

{% macro posting(posting=None) %}
<div class="fieldset posting">
  <button class="muted round remove-fieldset" data-event="remove-fieldset" type="button" tabindex="-1">×</button>
  {{ input_account(posting.account) }}
  <input type="text" class="amount" placeholder="{{ _('Amount') }}" value="{{ posting.amount if posting else '' }}">
  <button class="muted round add-row" type="button" data-event="add-posting" title="{{ _('Add posting') }}">+</button>
</div>
{% endmacro %}

{% macro metadata(key=None, value=None) %}
<div class="fieldset metadata-row">
  <button class="muted round remove-fieldset" data-event="remove-fieldset" type="button" tabindex="-1">×</button>
  <input type="text" class="metadata-key" placeholder="{{ _('Key') }}" value="{{ key or '' }}" required>
  <input type="text" class="metadata-value" placeholder="{{ _('Value') }}" value="{{ value or '' }}">
  <button class="muted round add-row" type="button" data-event="add-metadata" title="{{ _('Add metadata') }}">+</button>
</div>
{% endmacro %}

{% macro entry_meta(meta) %}
<div class="metadata">
  {% for key, value in meta|remove_keys(['__duplicate__', '__source__', 'filename', 'lineno'])|dictsort %}
  {{ metadata(key=key, value=value) }}
  {% endfor %}
</div>
{% endmacro %}

{% macro Transaction(entry=None) %}
<div class="entry-form transaction" data-type="Transaction">
  <div class="fieldset">
    {{ input_date(entry.date) }}
    <input type="text" name="flag" value="{{ entry.flag or '*' }}" required>
    <label for="payee">{{ _('Payee') }}:</label>
    <input type="text" name="payee" placeholder="{{ _('Payee') }}" list="payees" value="{{ entry.payee or '' }}">
    <label for="payee">{{ _('Narration') }}:</label>
    <input type="text" name="narration" placeholder="{{ _('Narration') }}" value="{{ entry.narration or '' }}">
    <button class="muted round" type="button" data-event="add-metadata" title="{{ _('Add metadata') }}">m</button>
    <button class="muted round" type="button" data-event="add-posting" title="{{ _('Add posting') }}">p</button>
  </div>
  {{ entry_meta(entry.meta) }}
  <div class="postings">
    {% for p in (entry.postings or [None, None]) %}
    {{ posting(posting=p) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro Balance(entry=None) %}
<div class="entry-form balance" data-type="Balance">
  <div class="fieldset">
    {{ input_date(entry.date) }}
    <h4>{{ _('Balance') }}</h4>
    {{ input_account(entry.account) }}
    {{ input_number(entry.amount.number if entry.amount else '') }}
    <input type="text" class="currency" name="currency" placeholder="{{ _('Currency') }}" list="currencies" value="{{ entry.amount.currency if entry.amount else '' }}">
    <button class="muted round" type="button" data-event="add-metadata" title="{{ _('Add metadata') }}">m</button>
  </div>
  {{ entry_meta(entry.meta) }}
</div>
{% endmacro %}

{% macro Note(entry=None) %}
<div class="entry-form note" data-type="Note">
  <div class="fieldset">
    {{ input_date(entry.date) }}
    <h4>{{ _('Note') }}</h4>
    {{ input_account(entry.account) }}
    <button class="muted round" type="button" data-event="add-metadata" title="{{ _('Add metadata') }}">m</button>
  </div>
  <div class="fieldset">
    <textarea name="comment" rows="2">{{ entry.comment or '' }}</textarea>
  </div>
  {{ entry_meta(entry.meta) }}
</div>
{% endmacro %}
