{% set all_pages = {
    'balance_sheet':    (_('Balance Sheet'),    'g b'),
    'commodities':      (_('Commodities'),      'g c'),
    'documents':        (_('Documents'),        'g d'),
    'editor':           (_('Editor'),           'g e'),
    'errors':           (_('Errors'),           ''),
    'events':           (_('Events'),           'g E'),
    'help':             (_('Help'),             'g H'),
    'holdings':         (_('Holdings'),         'g h'),
    'import':           (_('Import'),           'g n'),
    'income_statement': (_('Income Statement'), 'g i'),
    'journal':          (_('Journal'),          'g j'),
    'options':          (_('Options'),          'g o'),
    'query':            (_('Query'),            'g q'),
    'statistics':       (_('Statistics'),       'g x'),
    'trial_balance':    (_('Trial Balance'),    'g t'),
} %}
{% set navigation_bar = [
    ['income_statement', 'balance_sheet', 'trial_balance', 'journal', 'query'],
    ['holdings', 'commodities', 'documents', 'events', 'statistics'],
    ['editor', 'import', 'options', 'help']
] %}
