{% set entry_types = ['open', 'close', 'transaction', 'balance', 'note', 'document', 'pad', 'query'] %}
{% set transaction_types = ['cleared', 'uncleared', 'padding', 'summarize', 'transfer'] %}
{% set show_type = {
    'open':        config.user.getboolean('journal-show-type-open'),
    'close':       config.user.getboolean('journal-show-type-close'),
    'transaction': config.user.getboolean('journal-show-type-transaction'),
    'balance':     config.user.getboolean('journal-show-type-balance'),
    'note':        config.user.getboolean('journal-show-type-note'),
    'document':    config.user.getboolean('journal-show-type-document'),
    'pad':         config.user.getboolean('journal-show-type-pad'),
    'query':       config.user.getboolean('journal-show-type-query')
} %}
{% set show_transaction_type = {
    'cleared':   config.user.getboolean('journal-show-transaction-cleared'),
    'uncleared': config.user.getboolean('journal-show-transaction-uncleared'),
    'padding':   config.user.getboolean('journal-show-transaction-padding'),
    'summarize': config.user.getboolean('journal-show-transaction-summarize'),
    'transfer':  config.user.getboolean('journal-show-transaction-transfer'),
} %}

{% set show_metadata= config.user.getboolean('journal-show-metadata') %}
{% set show_legs = config.user.getboolean('journal-show-legs') %}

{% if show_tablefilter %}
    <div id="entry-filters" class="table-filter">
        <form>
            {% for type in entry_types %}
                <input type="checkbox" value="{{ type }}" id="filter-{{ type }}" data-type="{{ type }}"{% if show_type[type] %} checked="checked"{% endif %}>
                <label for="filter-{{ type }}">{{ type|capitalize }}</label>
            {% endfor %}
            <input type="submit" id="toggle-metadata" value="{% if show_metadata %}Hide{% else %}Show{% endif %} metadata">
            <input type="submit" id="toggle-legs" value="{% if show_legs %}Hide{% else %}Show{% endif %} legs">
        </form>
    </div>
    <div id="transaction-filters" class="table-filter">
        <form>
            {% for type in transaction_types %}
                <input type="checkbox" value="{{ type }}" id="filter-{{ type }}" data-type="{{ type }}"{% if show_transaction_type[type] %} checked="checked"{% endif %}>
                <label for="filter-{{ type }}">{{ type|capitalize }}</label>
            {% endfor %}
        </form>
    </div>
{% endif %}

{#
<script>
    window.contextURL = "{{ url_for('context', ehash='REPLACEME')|safe }}";
    window.accountURL = "{{ url_for('account_with_journal', name='REPLACEME')|safe }}";
    window.queryURL = "{{ url_for('query', query_hash='REPLACEME')|safe }}";
    window.tagURL = "{{ url_for_current(tag='REPLACEME')|safe }}";
    window.documentURL = "{{ url_for('document', file_path='REPLACEME')|safe }}";
    window.journalURL = "{{ url_for('journal')|safe }}";
</script>
#}

<div class="journal-table">
  <table class="journal-table">
        <thead>
            <tr>
                <th class="datecell">Date</th>
                <th class="flag">F</th>
                <th class="description">Narration/Payee</th>
                <th class="position">Position</th>
                <th class="price">Price</th>
                <th class="cost">Cost</th>
                {% if show_change_and_balance %}
                <th class="change">Change</th>
                <th class="balance">Balance</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entry in journal %}
            {% set type = entry.meta.type %}
            <tr class="{{ type }} {{ entry.transaction_type }}
            {%- if not show_type[type] %} hidden{% endif -%}
            {%- if (entry.transaction_type and not show_transaction_type[entry.transaction_type]) %} hidden-type{% endif -%}
            {%- if entry.diff_amount %} fail{% endif -%}
            " data-type="{{ type -}}
            " data-hash="{{ entry.hash -}}
            " title="{{ entry.meta.filename }}:{{ entry.meta.lineno }}">
                <td class="datecell"><a href="{{ url_for('context', ehash=entry.hash) }}">{{ entry.date }}</a></td>
                <td class="flag">{{ flag }}</td>
                <td class="description" colspan="4">
                {% if type == 'open' %}
                    Open <a href="{{ url_for('account_with_journal', name=entry.account) }}">{{ entry.account }}</a>
                {% endif %}
                {% if type == 'note' %}
                    Note: {{ entry.comment }}
                {% endif %}
                {% if type == 'query' %}
                    Query: <a href="{{ url_for('query', query_hash=entry.hash) }}">{{ entry.name }}</a>
                {% endif %}
                {% if type == 'pad' %}
                    Pad <a href="{{ url_for('account_with_journal', name=entry.account) }}">{{ entry.account }}</a> from <a href="{{ url_for('account_with_journal', name=entry.source_account) }}">{{ entry.source_account }}</a>
                {% endif %}
                {% if type == 'document' %}
                    Document for <a href="{{ url_for('account_with_journal', name=entry.account) }}">{{ entry.account }}</a>: <a href="{{ url_for('document', file_path=entry.filename) }}">{{ entry.filename }}</a>
                {% endif %}
                {% if type == 'balance' %}
                    Balance <a href="{{ url_for('account_with_journal', name=entry.account) }}">{{ entry.account }}</a>
                    {% if diff_amount %} fails;
                        expected = {{ entry.amount|format_currency }} {{ entry.amount_currency }}
                        balance = {{ entry.balance|format_currency }} {{ entry.amount_currency }}
                        difference = {{ entry.diff_amount|format_currency }} {{ entry.amount_currency }}
                    {% else %}
                        has {{ entry.amount }} {{ entry.amount_currency }}
                    {% endif %}
                {% endif %}
                {% if type == 'transaction' %}
                    <strong>{{ entry.payee or '' }}</strong>{% if entry.payee and entry.narration %} | {% endif %}{{ entry.narration or '' }}
                    {% for tag in entry.tags %}<a href="{{ url_for_current(tag=tag) }}" title="Filter for tag #{{ tag }}"><span>#</span>{{ tag }}</a>{% endfor %}
                {% endif %}
                {% if entry.metadata %}
                    <dl class="metadata"{% if show_metadata %} style="display: block;"{% endif %}>
                        {% for key, value in entry.metadata %}
                            <dt>{{ key }}</dt>
                            <dd>
                                {% if key == 'statement' %}<a href="{{ url_for('document', file_path=value)  }}">{% endif %}
                                {{ value }}
                                {% if key == 'statement' %}</a>{% endif %}
                            </dd>
                        {% endfor %}
                    </dl>
                {% endif %}
                </td>
                {% if show_change_and_balance %}
                    <td class="change num">
                    {% if entry.change %}
                        {% for currency, number in entry.change.items() %}
                            {{ number|format_currency }} {{ currency }}<br>
                        {% endfor %}
                    {% endif %}
                    </td>
                    <td class="balance num">
                    {% if entry.balance %}
                        {% for currency, number in entry.balance.items() %}
                            {{ number|format_currency }} {{ currency }}<br>
                        {% endfor %}
                    {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% for leg in entry.legs %}
        <tr class="posting posting-{{ entry.transaction_type }}{%- if not show_legs %} hidden{% endif -%}{%- if not show_type[type] %} hidden-parent{% endif -%}{%- if (type == 'transaction' and not show_transaction_type[entry.transaction_type]) %} hidden-parent-type{% endif -%}
            " data-parent-hash="{{ entry.hash }}" data-type="posting">
                <td class="datecell"></td>
                <td class="flag"></td>
                <td class="description"><a href="{{ url_for('account_with_journal', name=leg.account) }}">{{ leg.account }}</a></td>
                <td class="position num">{{ leg.units.number|format_currency }} {{ leg.units.currency }}</td>
                <td class="price num">{{ leg.price.number|format_currency }} {{ leg.price.currency }}</td>
                <td class="cost num">{{ leg.cost.number|format_currency }} {{ leg.cost.currency }}</td>
                {% if show_change_and_balance %}
                <td class="change num"></td>
                <td class="balance num"></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
