{% if link %}
    {% set entry_types = ['transaction', 'document'] %}
    <h3 class="link-title">Link ^{{ link }}</h3>
{% else %}
    {% set entry_types = ['open', 'close', 'transaction', 'balance', 'note', 'document', 'pad', 'query', 'custom', 'budget'] %}
{% endif %}
{% set transaction_types = ['cleared', 'pending', 'other'] %}
{% set flags_to_types = {'*': 'cleared', '!': 'pending'} %}
{% set document_types = ['discovered', 'statement'] %}
{% set default_show_type = {
    'open':        'open' in config['journal-show'],
    'close':       'close' in config['journal-show'],
    'balance':     'balance' in config['journal-show'],
    'note':        'note' in config['journal-show'],
    'pad':         'pad' in config['journal-show'],
    'query':       'query' in config['journal-show'],
    'custom':      'custom' in config['journal-show'],
    'budget':      'budget' in config['journal-show'],

    'transaction': 'transaction' in config['journal-show'],
    'cleared':     'cleared' in config['journal-show-transaction'],
    'pending':     'pending' in config['journal-show-transaction'],
    'other':       'other' in config['journal-show-transaction'],

    'document':    'document' in config['journal-show'],
    'discovered':  'discovered' in config['journal-show-document'],
    'statement':   'statement' in config['journal-show-document'],

    'metadata':    'metadata' in config['journal-show'],
    'postings':    'postings' in config['journal-show'],
} %}
{% if request.args.get('show', False) %}
    {% set _list = request.args.getlist('show') %}
    {% set show_type = {
        'open':        'open' in _list,
        'close':       'close' in _list,
        'balance':     'balance' in _list,
        'note':        'note' in _list,
        'pad':         'pad' in _list,
        'query':       'query' in _list,
        'custom':      'custom' in _list,
        'budget':      'budget' in _list,

        'transaction': 'transaction' in _list,
        'cleared':     'cleared' in _list,
        'pending':     'pending' in _list,
        'other':       'other' in _list,

        'document':    'document' in _list,
        'discovered':  'discovered' in _list,
        'statement':   'statement' in _list,

        'metadata':     'metadata' in _list,
        'postings':         'postings' in _list,
    } %}
{% else %}
    {% set show_type = default_show_type %}
{% endif %}
{% set transaction_type_buttons = {
    'cleared': ('*', _('Cleared Transactions')),
    'pending': ('!', _('Pending Transactions')),
    'other':   ('x', _('Other Transactions')),
}
%}
{% set document_type_buttons = {
    'discovered': ('D', _('Documents discovered by beancount')),
    'statement': ('S', _('Statements from metadata'))
}
%}
<form id="entry-filters" class="journal-entry-filters wide-form">
    {% for type in entry_types %}
        {% if type != 'budget' or api.budgets %}
    <button type="button" title="Toggle {{ type|capitalize }} entries" data-type="{{ type }}"{% if not show_type[type] %} class="inactive"{% endif %}>{{ type|capitalize }}</button>
            {% if type == 'transaction' %}
                {% for txn_type in transaction_types %}
    <button type="button" title="{{ transaction_type_buttons[txn_type].1 }}" data-type="{{ txn_type }}" class="txn-toggle{% if not show_type[txn_type] or not show_type['transaction'] %} inactive{% endif %}">{{ transaction_type_buttons[txn_type].0 }}</button>
                {% endfor %}
            {% endif %}
            {% if type == 'document' %}
                {% for doc_type in document_types %}
    <button type="button" title="{{ document_type_buttons[doc_type].1 }}" data-type="{{ doc_type }}" class="doc-toggle{% if not show_type[doc_type] or not show_type['document'] %} inactive{% endif %}">{{ document_type_buttons[doc_type].0 }}</button>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <button type="button" title="Toggle metadata" data-type="metadata"{% if not show_type['metadata'] %} class="inactive"{% endif %}>Metadata</button>
    <button type="button" title="Toggle postings" data-type="postings" {% if not show_type['postings'] %} class="inactive"{% endif %}>Postings</button>
</form>

{% set context_url = url_for('context', ehash='REPLACEME') %}
{% set account_url = url_for('account', name='REPLACEME') %}
{% set tag_url = url_for_current(tag='REPLACEME,'+(g.filters['tag'] or '')) %}

{% macro account_link(name) -%}
<a class="account-link" href="{{ account_url.replace('REPLACEME', name) }}">
    {% set levels = name|account_level %}
    {%- for level in range(0, levels) -%}
        {% set subaccount_name = name.rsplit(':', maxsplit=levels-loop.index)[0] %}
        {% set subaccount_part = name.split(':')[level] %}

        {%- if loop.last -%}
            <span>{{ subaccount_part }}</span>
        {%- else -%}
            {{ subaccount_part }}:
        {%- endif -%}
    {%- endfor -%}
</a>
{%- endmacro %}

{% macro render_inventory(inv) -%}
    {% for pos in inv %}
        {{ pos.units|format_amount }}<br>
    {% endfor %}
{%- endmacro %}

{% macro render_metadata(metadata, show_metadata, entry=None) -%}
{% if metadata %}
    <dl class="metadata{% if not show_metadata %} hidden{% endif %}">
        {% for key, value in metadata.items() %}
            <dt>{{ key }}</dt>
            <dd>
                {%- if key.startswith('statement') %}
                    <a href="{{ url_for('statement', filename=entry.meta.filename, lineno=entry.meta.lineno, key=key) }}">
                {% endif -%}
                {{ value }}
                {%- if key.startswith('statement') %}</a>{% endif -%}
            </dd>
        {% endfor %}
    </dl>
{% endif %}
{%- endmacro %}

{% macro render_tags_links(entry) -%}
{% for tag in entry.tags or [] %}<a class="tag" href="{{ tag_url.replace('REPLACEME', tag) }}" title="Filter for tag #{{ tag }}"><span>#</span>{{ tag }}</a>{% endfor %}
{% for link_ in entry.links or [] %}<a class="link" href="{{ url_for('journal_link', link=link_) }}"><span>^</span>{{ link_ }}</a>{% endfor %}
{%- endmacro %}

<ol id="journal-table" class="journal-table">
    <li class="head">
        <p>
        <span class="datecell" data-sort="string" data-order="asc">{{ _('Date') }}</span>
        <span class="flag" data-sort="string">{{ _('F') }}</span>
        <span class="description" data-sort="string">{{ _('Narration/Payee') }}</span>
        <span class="num">{{ _('Position') }}</span>
        <span class="num">{{ _('Price') }}</span>
        <span class="num">{{ _('Cost') }}</span>
        {% if show_change_and_balance %}
        <span class="num">{{ _('Change') }}</span>
        <span class="num">{{ _('Balance') }}</span>
        {% endif %}
        </p>
    </li>
{% for entry in journal %}
    {% if show_change_and_balance %}
        {% set entry, _, change, balance = entry %}
    {% endif %}
    {% set type = entry.__class__.__name__.lower() %}
    <li class="{{ type }}
    {%- if entry.flag %} {{ flags_to_types.get(entry.flag, 'other') }}
        {%- if not show_type[flags_to_types.get(entry.flag, 'other')] %} hidden{% endif -%}
    {% endif -%}
    {%- if entry.tags and 'statement' in entry.tags %}{% if not show_type['statement'] %} hidden{% endif %} statement{% endif -%}
    {%- if entry.tags and 'discovered' in entry.tags %}{% if not show_type['discovered'] %} hidden{% endif %} discovered{% endif -%}
    {%- if not show_type[type] %} hidden{% endif -%}
    {%- if entry.diff_amount %} fail{% endif -%}
    " title="{{ entry.meta.filename }}:{{ entry.meta.lineno }}">
        <p>
        <span class="datecell"><a href="{{ context_url.replace('REPLACEME', api.hash_entry(entry)) }}">{{ entry.date }}</a></span>
        <span class="flag">{{ entry.flag }}</span>
        <span class="description{%- if type == 'transaction' %} droptarget{% endif -%}"{%- if type == 'transaction' %} data-filename="{{ entry.meta.filename }}" data-lineno="{{ entry.meta.lineno }}" data-account-name="{{ entry.postings[0].account }}"{% endif -%}>
        {% if type == 'open' %}
            Open {{ account_link(entry.account) }}
        {% elif type == 'close' %}
            Close {{ account_link(entry.account) }}
        {% elif type == 'note' %}
            <label>Note:</label> {{ entry.comment }}
        {% elif type == 'query' %}
            Query: <a href="{{ url_for('query', name=entry.name, bql=entry.query_string) }}">{{ entry.name }}</a>
        {% elif type == 'pad' %}
            Pad {{ account_link(entry.account) }} from {{ account_link(entry.source_account) }}
        {% elif type == 'custom' %}
          {% if entry.type == 'budget' %}
            {% set account = entry.values[0].value %}
            {% set period_type = entry.values[1].value %}
            {% set value = entry.values[2].value %}
            {{ period_type|capitalize }} budget for {{ account_link(account) }}
            <span class="budget-value num">{{ value.number|format_currency(value.currency) }} {{ value.currency }}</span>
          {% else %}
            Custom <strong>{{ entry.type }}</strong>
            {% for value in entry['values'] %}
                &nbsp;
                {%- if value.dtype|string == "<AccountDummy>" %}{{ account_link(value.value) }}{% endif -%}
                {%- if value.dtype|string == "<class 'beancount.core.amount.Amount'>" %}<span class="num">{{ value.value|format_amount }}</span>{% endif -%}
                {%- if value.dtype|string == "<class 'str'>" %}"{{ value.value }}"{% endif -%}
                {%- if value.dtype|string == "<class 'bool'>" %}{{ value.value }}{% endif -%}
                {%- if value.dtype|string == "<class 'datetime.date'>" %}{{ value.value }}{% endif -%}
            {% endfor %}
          {% endif %}
        {% elif type == 'budget' %}
        {% elif type == 'document' %}
            Document for {{ account_link(entry.account) }} <a class="filename" href="{{ url_for('document', file_path=entry.filename) }}">{{ entry.filename|basename }}</a>
            {{ render_tags_links(entry) }}
        {% elif type == 'balance' %}
            Balance {{ account_link(entry.account) }}
            {% if entry.diff_amount %} fails;
                expected = {{ entry.amount|format_amount }}
                balance = {{ (entry.amount.number + entry.diff_amount.number)|format_currency(entry.amount.currency) }} {{ entry.amount.currency }}
                difference = {{ entry.diff_amount|format_amount }}
            {% else %}
                has {{ entry.amount }}
            {% endif %}
        {% elif type == 'transaction' %}
            <strong>{{ entry.payee or '' }}</strong>{% if entry.payee and entry.narration %}<span class="separator"></span> {% endif %}{{ entry.narration or '' }}
            {{ render_tags_links(entry) }}
        {% endif %}
        </span>
        {% if type == 'transaction' %}
            {% for posting in entry.postings %}
                <span class="leg-indicator{% if posting.flag %} leg-{{ flags_to_types.get(posting.flag, 'other') }}{% endif %}"></span>
            {% endfor %}
        {% endif %}
        {% if show_change_and_balance %}
            <span class="change num">{{ render_inventory(change) }}</span>
            <span class="num">{{ render_inventory(balance) }}</span>
        </p>
        {% endif %}
        {{ render_metadata(entry.meta|remove_keys(['__tolerances__', '__automatic__', 'filename', 'lineno']), show_type['metadata'], entry) }}
        {% if entry.postings %}
        <ul class="postings{% if not show_type['postings'] %} hidden{% endif %}">
        {% for posting in entry.postings %}
        <li{% if posting.flag %} class="{{ flags_to_types.get(posting.flag, 'other') }}"{% endif %}>
            <p>
                <span class="datecell"></span>
                <span class="flag"> </span>
                <span class="description droptarget" data-filename="{{ entry.meta.filename }}" data-lineno="{{ entry.meta.lineno }}" data-account-name="{{ posting.account }}">{{ account_link(posting.account) }}</span>
                {# We want the output these amounts with the same precision as in the input file.
                   For computed values this might give a lot of digits, so format the price using the DisplayContext for now.#}
                <span class="num">{{ posting.units or '' }}</span>
                <span class="num">{{ posting.price|format_amount }}</span>
                <span class="num">{{ posting.cost.number }} {{ posting.cost.currency }}
                    {{- ', {}'.format(posting.cost.date) if posting.cost.date else '' }}
                    {{- ', "{}"'.format(posting.cost.label) if posting.cost.label else '' }}</span>
                {% if show_change_and_balance %}
                <span class="change num"></span>
                <span class="num"></span>
                {% endif %}
            </p>
            {{ render_metadata(posting.meta|remove_keys(['__automatic__', 'lineno', 'filename']), show_type['metadata']) }}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endfor %}
</ol>
