<div class="overlay-wrapper">
    <div class="overlay">
        <a href="#close" class="close">(close)</a>
        <h1>Keyboard shortcuts</h1>
        <div class="halfleft">
            <p>
                <strong>General:</strong><br>
                <kbd>Shift</kbd> + <kbd>c</kbd>: show/hide chart<br>
                <kbd>c</kbd>: cycle through all the charts available<br>
                <strong>Jumping to pages:</strong><br>
                <kbd>g</kbd> then <kbd>i</kbd>: Go to Income Statement<br>
                <kbd>g</kbd> then <kbd>b</kbd>: Go to Balance Sheet<br>
                <kbd>g</kbd> then <kbd>t</kbd>: Go to Trial Balance<br>
                <kbd>g</kbd> then <kbd>g</kbd>: Go to General Journal<br>
                <kbd>g</kbd> then <kbd>q</kbd>: Go to Custom Query
            </p>
            <p>
                <kbd>g</kbd> then <kbd>h</kbd>: Go to Holdings<br>
                <kbd>g</kbd> then <kbd>w</kbd>: Go to Net Worth<br>
                <kbd>g</kbd> then <kbd>d</kbd>: Go to Documents<br>
                <kbd>g</kbd> then <kbd>n</kbd>: Go to Notes<br>
                <kbd>g</kbd> then <kbd>e</kbd>: Go to Events<br>
                <kbd>g</kbd> then <kbd>c</kbd>: Go to Commodities
            </p>
            <p>
                <kbd>g</kbd> then <kbd>s</kbd>: Go to Source<br>
                <kbd>g</kbd> then <kbd>o</kbd>: Go to Options<br>
                <kbd>g</kbd> then <kbd>x</kbd>: Go to Statistics<br>
                <kbd>g</kbd> then <kbd>r</kbd>: Go to Errors
            </p>
        </div>
        <div class="halfleft">
            <p>
                <strong>Filtering:</strong><br>
                <kbd>f</kbd> then <kbd>t</kbd>: Filter by Time      (pull down menu)<br>
                <kbd>f</kbd> then <kbd>g</kbd>: Filter by Tag       (pull down menu)<br>
                <kbd>f</kbd> then <kbd>c</kbd>: Filter by Component (pull down menu)<br>
                <kbd>f</kbd> then <kbd>p</kbd>: Filter by Payee     (pull down menu)
            </p>
            <p>
                <strong>Options in transaction pages:</strong><br>
                <kbd>l</kbd>: show/hide legs<br>
                <kbd>s</kbd> then <kbd>l</kbd>: show/hide legs<br>
                <kbd>m</kbd>: show/hide metadata<br>
                <kbd>s</kbd> then <kbd>m</kbd>: show/hide metadata<br>
                <kbd>s</kbd> then <kbd>o</kbd>: show/hide open<br>
                <kbd>s</kbd> then <kbd>c</kbd>: show/hide close<br>
                <kbd>s</kbd> then <kbd>t</kbd>: show/hide transaction<br>
                <kbd>s</kbd> then <kbd>b</kbd>: show/hide balance<br>
                <kbd>s</kbd> then <kbd>n</kbd>: show/hide note<br>
                <kbd>s</kbd> then <kbd>d</kbd>: show/hide document<br>
                <kbd>s</kbd> then <kbd>p</kbd>: show/hide pad<br>
                <kbd>s</kbd> then <kbd>P</kbd>: show/hide padding
            </p>
        </div>
    </div>
</div>
