{% set navigation_bar = [
    ("", [
        ('income_statement', 'Income Statement',    'g i'),
        ('balance_sheet',    'Balance Sheet',       'g b'),
        ('trial_balance',    'Trial Balance',       'g t'),
        ('journal',          'General Journal',     'g g'),
        ('query',            'Custom Query',        'g q'),
    ]),
    ("Other", [
        ('holdings',         'Holdings',            'g h'),
        ('net_worth',        'Net Worth',           'g w'),
        ('commodities',      'Commodities',         'g c'),
        ('documents',        'Documents',           'g d'),
        ('notes',            'Notes',               'g n'),
        ('events',           'Events',              'g e'),
    ]),
    ("Configuration", [
        ('source',           'Source',              'g s'),
        ('errors',           'Errors',              'g r'),
        ('options',          'Options',             'g o'),
        ('statistics',       'Statistics',          'g x'),
        ('help',             'Help',                'g shift+h'),
    ])
] %}

{% set all_pages = {
    'income_statement': 'Income Statement',
    'balance_sheet':    'Balance Sheet',
    'trial_balance':    'Trial Balance',
    'journal':          'General Journal',
    'query':            'Custom Query',
    'holdings':         'Holdings',
    'net_worth':        'Net Worth',
    'commodities':      'Commodities',
    'documents':        'Documents',
    'notes':            'Notes',
    'events':           'Events',
    'source':           'Source',
    'errors':           'Errors',
    'options':          'Options',
    'statistics':       'Statistics',
    'help':             'Help',
} %}
{% set active_page = active_page|default('journal') %}
{% set show_filters = show_filters|default(True) %}
{% set user_queries = api.queries()[:config.user.getint('sidebar-show-queries')] %}
<!doctype html>
<html>
<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/theme_' + config.user.get('theme') + '.css') }}">
    <title>{% block title %}{{ all_pages[active_page] }}{% endblock %} - {{ api.title }}</title>
    {% endblock %}
    <script>window.chartData = [];</script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if not options['operating_currency'] or messages %}
        <ul class="warnings">
            {% if not options['operating_currency'] %}
            <li class="error">
                    No <code>operating_currency</code> specified.
                    Add <code>option "operating_currency" "USD"</code> to your beancount file.
            </li>
            {% endif %}
            {% if messages %}
            {% for message in messages %}
            <li class="error">
                {{ message }}
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
    {% endwith %}
    <header>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAsVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+3mHKcAAAAOnRSTlMAAQMEBQYHCAwNDg8QExkaISImJzQ7RUZHSUtVZGtsb3FzdXd4f5WYm56jr7y+xcfP2tze4OLk6/X9+wsXVgAAAMJJREFUKFPFkWkTgiAYhDG1wy677VSzw0q6pKz3//+wBGRkGO2r+4ndZ9hhFoQq0AaXKZoiKFfE4Uzt82iKOWyrcJjDJU90N45dnZ/3HCbrPvfmE64YHkZ216MQi6rwPUBp0VF4GVrQowlAqwA6cN8xKJ4uwyDNGdz+g0EBnAvoFEALxjZC9gIsCd60zJy6ZqpRmFmNLfQ9NJirE7pWbDLTuYj5SI0Fhk+IzwdqfvLhJ0jRSvqVl/rRCYdnKNVG7atcP+gmOQsBuK8NAAAAAElFTkSuQmCC" alt="">
        <h1 class="site-name">{{ api.title or 'Beancount Web' }}</h1>
        {% if show_filters %}
        <nav>
            {% include "_entry_filters.html" %}
        </nav>
        {% endif %}
    </header>
    <div class="main">
        <aside>
            {% for title_, menuitems in navigation_bar %}
                {% if title_ %}<h3>{{ title_ }}</h3>{% endif %}
                <ul class="navigation">
                {% for id, caption, shortcut in menuitems %}
                    <li{% if id == active_page %} class="selected"{% endif %}><a href="{{ url_for('report', report_name=id) }}">{{ caption|e }}{% if id == 'errors' and api.errors|length > 0 %}<span>{{ api.errors|length }}</span>{% endif %}</a>
                    {% if id == "query" and user_queries|length > 0 %}
                        <ul class="navigation">
                        {% for query in user_queries %}
                            <li{% if query.hash == query_hash %} class="selected"{% endif %}><a href="{{ url_for('get_stored_query', stored_query_hash=query.hash) }}">{{ query.name|truncate(25, True, ' …') }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        </aside>
        <article id="page-{{ active_page }}">
            {% block content %}{% endblock %}
        </article>
    </div>
    {% include "overlays/_keyboard_shortcuts.html" %}
    {% include "overlays/_documents_upload.html" %}

    <script type="text/javascript" src="{{ url_for('static', filename='gen/app.js') }}"></script>
    <script>
        // Jumping to pages:
        Mousetrap.bind({
            {% for title_, menuitems in navigation_bar %}
                {% for id, caption, shortcut in menuitems %}
            '{{ shortcut }}': function() { window.location = '{{ url_for('report', report_name=id) }}'; },
                {% endfor %}

            {% endfor %}
        }, 'keyup');

        // Filtering:
        Mousetrap.bind({
            {% for shortcut in ['f t', 'f g', 'f c', 'f p'] %}
            '{{ shortcut }}': function() {
                $('ul.topmenu>li').removeClass('opened');
                $('ul.topmenu>li:nth-child({{ loop.index }})').toggleClass('opened').find('input[type=search]').focus();
            },
            {% endfor %}
        }, 'keyup');

        window.documentsFolders = {{ options['documents']|tojson|safe }};
        window.documentsUploadUrl = "{{ url_for('document', _method='POST') }}";
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>
