{% set navigation_bar = [
    ("",              ['income_statement', 'balance_sheet', 'trial_balance', 'journal', 'query']),
    ("Other",         [ 'holdings', 'net_worth', 'commodities', 'documents', 'notes', 'events']),
    ("Configuration", [ 'source', 'errors', 'options', 'statistics', 'help'])
] %}
{% set all_pages = {
    'income_statement': (_('Income Statement'), 'g i'),
    'balance_sheet':    (_('Balance Sheet'),    'g b'),
    'trial_balance':    (_('Trial Balance'),    'g t'),
    'journal':          (_('Journal'),          'g j'),
    'query':            (_('Query'),            'g q'),
    'holdings':         (_('Holdings'),         'g h'),
    'net_worth':        (_('Net Worth'),        'g w'),
    'commodities':      (_('Commodities'),      'g c'),
    'documents':        (_('Documents'),        'g d'),
    'notes':            (_('Notes'),            'g n'),
    'events':           (_('Events'),           'g e'),
    'source':           (_('Source'),           'g s'),
    'errors':           (_('Errors'),           'g r'),
    'options':          (_('Options'),          'g o'),
    'statistics':       (_('Statistics'),       'g x'),
    'help':             (_('Help'),             'g shift+h'),
} %}
{% set page_title = all_pages[active_page].0 if not page_title else page_title %}
{% set short_title = page_title if not short_title else short_title %}
{% set show_filters = show_filters|default(True) %}
{% set user_queries = api.queries[:config['sidebar-show-queries']] %}
{% set sidebar_links = api.sidebar_links() %}
<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/theme_' + config['theme'] + '.css') }}">
    <title>{{ short_title }} - {{ api.title }}</title>
    <script>window.chartData = [];</script>
</head>
<body>
    <header>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAsVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+3mHKcAAAAOnRSTlMAAQMEBQYHCAwNDg8QExkaISImJzQ7RUZHSUtVZGtsb3FzdXd4f5WYm56jr7y+xcfP2tze4OLk6/X9+wsXVgAAAMJJREFUKFPFkWkTgiAYhDG1wy677VSzw0q6pKz3//+wBGRkGO2r+4ndZ9hhFoQq0AaXKZoiKFfE4Uzt82iKOWyrcJjDJU90N45dnZ/3HCbrPvfmE64YHkZ216MQi6rwPUBp0VF4GVrQowlAqwA6cN8xKJ4uwyDNGdz+g0EBnAvoFEALxjZC9gIsCd60zJy6ZqpRmFmNLfQ9NJirE7pWbDLTuYj5SI0Fhk+IzwdqfvLhJ0jRSvqVl/rRCYdnKNVG7atcP+gmOQsBuK8NAAAAAElFTkSuQmCC" alt="">
        <h1 class="site-name">{{ api.title or 'fava' }}{{ ' ▾' if config['APIS']|length > 1 else '' }}<strong>{{ page_title }}</strong>
            {% if config['APIS']|length > 1 %}
            <div class="beancount-files">
                <ul>
                {% for file_slug, file_api in config['APIS'].items() %}
                    <li{% if file_slug == g.beancount_file_slug %} class="selected"{% endif %}>
                    <a href="{{ url_for('index', bfile=file_slug) }}">{{ file_api.title or 'fava' }}</a>
                    </li>
                {% endfor %}
                </ul>
        </div>{% endif %}</h1>
        {% if show_filters %}
        <nav>
            {% include "_entry_filters.html" %}
        </nav>
        {% endif %}
    </header>
    <div class="main">
        <aside>
            {% if sidebar_links %}
                <h3>{{ _('Custom Links') }}</h3>
                <ul class="navigation">
                    {% for label, link in sidebar_links %}
                        <li><a href="{{ link }}">{{ label }}</a></li>
                    {% endfor %}
                </ul>
                <h3>{{ _('Reports') }}</h3>
            {% endif %}
            {% for title_, menuitems in navigation_bar %}
                {% if title_ %}<h3>{{ title_ }}</h3>{% endif %}
                <ul class="navigation">
                {% for id in menuitems %}
                    <li{% if id == active_page %} class="selected"{% endif %}><a href="{{ url_for('report', report_name=id) }}">{{ all_pages[id].0|e }}{% if id == 'errors' and api.errors|length > 0 %}<span>{{ api.errors|length }}</span>{% endif %}</a>
                    {% if id == "query" and user_queries|length > 0 %}
                        <ul class="navigation">
                        {% for query in user_queries %}
                            <li{% if query.name == name %} class="selected"{% endif %}><a href="{{ url_for('query', query_string=query.query_string, name=query.name) }}">{{ query.name|truncate(25, True, ' …') }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        </aside>
        <article id="page-{{ active_page }}">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="warnings">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
            {% block content %}{% endblock %}
        </article>
    </div>
    {% include "overlays/_keyboard_shortcuts.html" %}
    {% include "overlays/_documents_upload.html" %}

    <script type="text/javascript" src="{{ url_for('static', filename='gen/app.js') }}"></script>
    <script>
        // Jumping to pages:
        Mousetrap.bind({
            {% for key, value in all_pages|dictsort %}
            '{{ value.1 }}': function() { window.location = '{{ url_for('report', report_name=key) }}'; },
            {% endfor %}
        }, 'keyup');

        window.documentsFolders = {{ api.options['documents']|tojson|safe }};
        window.documentsUploadUrl = "{{ url_for('add_document') }}";
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>
