{% import '_entry_forms.html' as forms %}

<div id="documents-upload" class="documents-upload overlay-wrapper">
  <div class="overlay">
    <button type=button class="link close-overlay">({{ _('close') }})</button>
    <form id="document-upload-form" data-event="document-upload" data-url="{{ url_for('json_api.add_document') }}">
      <h3>{{ _('Upload file(s)') }}:</h3>
      <div id="document-names" class="fieldset"></div>
      <div class="fieldset">
        <label for="folder">{{ _('Documents folder') }}:</label>
        <select name="folder">
          {% for folder in ledger.options['documents'] %}
          <option{% if loop.first %} selected{% endif %}>{{ folder }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="fieldset">
        <label for="account">{{ _('Account') }}:</label>
        <input type="text" name="account" list="accounts">
        <input type="hidden" name="hash">
      </div>
      <button type="submit">{{ _('Upload') }}</button>
    </form>
  </div>
</div>
<div id="transaction" class="transaction-overlay overlay-wrapper">
  <div class="overlay">
    <button type=button class="link close-overlay">({{ _('close') }})</button>
    <form id="transaction-form">
      <h3>{{ _('New transaction') }}:</h3>
      {{ forms.Transaction() }}
      <div class="fieldset">
        <button type="button" data-event="transaction-form-submit">{{ _('Save') }}</button>
        <button type="button" class="muted" data-event="transaction-form-submit-and-new">{{ _('Save and add new') }}</button>
      </div>
    </form>
  </div>
</div>
<div id="context-overlay" class="context-overlay overlay-wrapper">
  <div class="overlay">
    <button type=button class="link close-overlay">({{ _('close') }})</button>
    <div class="content"></div>
  </div>
</div>
<div id="export-overlay" class="overlay-wrapper">
  <div class="overlay">
    <button type=button class="link close-overlay">({{ _('close') }})</button>
    <div class="content">
      <h3>{{ _('Export') }}:</h3>
      <a href="{{ url_for('download_journal') }}" class="button" data-remote>{{ _('Download currently filtered entries as a Beancount file') }}</a>
    </div>
  </div>
</div>
<div class="hidden" id="posting-template">{{ forms.posting() }}</div>
<div class="hidden" id="metadata-template">{{ forms.metadata() }}</div>
