{% import 'macros/_account_macros.html' as account_macros with context %}
{% set show_other_column = (operating_currencies|sort != api.options['commodities']|list|sort) %}

{% macro tree(real_account, totals=True) %}
<ol class="tree-table {{ operating_currencies|length }}-currencies">
    <li class="head">
        <p>
        <span class="account-cell"><span>{{ _('Account') }}</span><a href="#" class="expand-all hidden" title="{{ _('Expand all accounts') }}">{{ _('Expand all') }}</a></span>
        {% for currency in operating_currencies %}
            <span class="num-header">{{ currency }}</span>
        {% endfor %}
        {% if show_other_column %}
            <span class="other">{{ _('Other') }}</span>
        {% endif %}
        </p>
    </li>
{% for account in ([real_account] if real_account.account else real_account.values()) recursive %}
    {% if account|should_show %}
    {% set balance = account.balance.cost() %}
    {% set balance_children = (account|balance_children).cost() %}
    <li>
        <p{% if not balance.is_empty() %} class='has-balance'{% endif %}>
        <span class="account-cell depth-{{ loop.depth0 }} droptarget
        {{- '' if not account|length else ' has-children'}}
        {%- if account.account|should_collapse_account %} toggled{% endif %}
        " data-account-name="{{ account.account }}">
            {% if account|length %}<span class="expander" title="{{ _('Hold Shift while clicking to expand all children \nHold Ctrl or Cmd while clicking to expand one level') }}"></span>{% endif %}
        {{ account_macros.account_name(account.account, last_segment=True) }}</span>
    {% for currency in operating_currencies %}
        <span class="num">
            <span class="balance">
                <span class="number">{{ balance.get_units(currency).number|format_currency(currency) }}</span>
            </span>
            <span class="balance-children">
                <span class="number">{{ balance_children.get_units(currency).number|format_currency(currency) }}</span>
            </span>
        </span>
    {% endfor %}
    {% if show_other_column %}
        <span class="num other">
        {% for currency in api.options['commodities'] if currency not in operating_currencies %}
            {% if currency in balance.currencies() %}
            <span class="balance">
                <span class="number">{{ balance.get_units(currency).number|format_currency(currency) }} {{ currency }}</span>
            </span>
            {% endif %}
            {% if currency in balance_children.currencies() %}
            <span class="balance-children">
                <span class="number">{{ balance_children.get_units(currency).number|format_currency(currency) }} {{ currency }}</span>
            </span>
            {% endif %}
        {% endfor %}
        </span>
    {% endif %}
    </p>
    {% if account|length %}
    <ol>
    {{ loop(account.values()) }}
    </ol>
    {% endif %}
    </li>
    {% endif %}
{% endfor %}
{% if totals %}
    {% set balance = (real_account|balance_children).cost() %}
        <li class="totals">
            <p>
            <span class="account-cell">&nbsp;</span>
        {% for currency in operating_currencies %}
            <span class="num">
        {{ balance.get_units(currency).number|format_currency(currency) }}</span>
        {% endfor %}
        {% if show_other_column %}
            <span class="num other">
                {% for currency in api.options['commodities'] if currency not in operating_currencies%}
                    {% if currency in balance.currencies() %}
                        {{ balance.get_units(currency).number|format_currency(currency) }} {{ currency }}<br>
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}
            </p>
        </li>
{% endif %}
</ol>
{% endmacro %}
