{% import 'macros/_account_macros.html' as account_macros with context %}
{% set show_other_column = (operating_currencies|length < ledger.options['commodities']|length) %}

{% macro tree(real_account, totals=True) %}
    <ol class="tree-table{{ ' two-currencies' if operating_currencies|length > 1 else '' }}" title="{{ _('Hold Shift while clicking to expand all children \nHold Ctrl or Cmd while clicking to expand one level') }}">
    <li class="head">
        <p>
        <span class="account-cell"><span>{{ _('Account') }}</span><a href="#" class="expand-all hidden" title="{{ _('Expand all accounts') }}">{{ _('Expand all') }}</a></span>
        {% for currency in operating_currencies %}
            <span class="num">{{ currency }}</span>
        {% endfor %}
        {% if show_other_column %}
            <span class="other">{{ _('Other') }}</span>
        {% endif %}
        </p>
    </li>
{% for account in ([real_account] if real_account.account else real_account.values()) recursive %}
    {% if account|should_show %}
    {% set balance = account.balance|cost_or_value %}
    {% set balance_children = account|balance_children|cost_or_value %}
    <li{% if account.account|should_collapse_account %} class="toggled"{% endif %}>
        <p{% if not balance.is_empty() %} class='has-balance'{% endif %}>
        <span class="account-cell depth-{{ loop.depth0 }} droptarget
        {{- '' if not account|length else ' has-children'}}
        " data-account-name="{{ account.account }}">
        {{ account_macros.account_name(account.account, last_segment=True) }}</span>
    {% for currency in operating_currencies %}
        <span class="num">
            <span class="balance">{{ balance.get_currency_units(currency).number|format_currency(currency) }}</span>
            <span class="balance-children">{{ balance_children.get_currency_units(currency).number|format_currency(currency) }}</span>
        </span>
    {% endfor %}
    {% if show_other_column %}
        <span class="num other">
            <span class="balance">
                {% for pos in balance|sort(attribute='units.currency') if pos.units.currency not in operating_currencies %}
                    {{ pos.units|format_amount }}<br>
                {% endfor %}
            </span>
            <span class="balance-children">
                {% for pos in balance_children|sort(attribute='units.currency') if pos.units.currency not in operating_currencies %}
                    {{ pos.units|format_amount }}<br>
                {% endfor %}
            </span>
        </span>
    {% endif %}
    </p>
    {% if account|length %}
    <ol>
    {{ loop(account.values()|sort(attribute='account')) }}
    </ol>
    {% endif %}
    </li>
    {% endif %}
{% endfor %}
{% if totals %}
    {% set balance = real_account|balance_children|cost_or_value %}
        <li class="totals">
            <p>
            <span class="account-cell">&nbsp;</span>
        {% for currency in operating_currencies %}
            <span class="num">{{ balance.get_currency_units(currency).number|format_currency(currency) }}</span>
        {% endfor %}
        {% if show_other_column %}
            <span class="num other">
                {% for pos in balance|sort(attribute='units.currency') if pos.units.currency not in operating_currencies %}
                    {{ pos.units|format_amount }}<br>
                {% endfor %}
            </span>
        {% endif %}
            </p>
        </li>
{% endif %}
</ol>
{% endmacro %}

{% macro render_budget(budget, currency, number=0) %}
  {% if budget %}
    {% if currency in budget %}
      {% set diff = budget[currency] - number %}
      <span class="budget budget-{% if diff > 0 %}positive{% else %}{% if diff < 0 %}negative{% else %}zero{% endif %}{% endif %}" title="{{ budget[currency]|format_currency(currency) }} {{ currency }}">
        ({{ diff|format_currency(currency, show_if_zero=True) }}{{ ' '+currency if not number else '' }})
      </span>
    {% else %}
      <span class="budget no-budget"></span>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro account_tree(account_name, interval_balances, dates, accumulate) %}
<ol class="fullwidth tree-table">
    <li class="head">
        <p>
        <span class="account-cell"><span>{{ _('Account') }}</span><a href="" class="expand-all hidden" title="{{ _('Expand all accounts') }}">{{ _('Expand all') }}</a></span>
        {% for begin_date, end_date in dates %}
            {% if accumulate %}
                {% set time_filter = dates[0][0]|string + ' - ' + end_date|string %}
            {% else %}
                {% set time_filter = begin_date|string + ' - ' + end_date|string %}
            {% endif %}

            <span class="other"><a href="{{ url_for('account', name=account_name, time=time_filter) }}">{{ interval_macros.format_date(begin_date) }}</a></span>
        {% endfor %}
        </p>
    </li>
{% for account in [interval_balances[0]|get_or_create(account_name)] recursive %}
    <li{% if account.account|should_collapse_account %} class="toggled"{% endif %}>
        <p>
        <span class="account-cell depth-{{ loop.depth0 }} droptarget
        {{- '' if not account|length else ' has-children'}}
        " data-account-name="{{ account.account }}">
            {% if account|length %}<span class="expander" title="{{ _('Hold the Shift-key while clicking to expand all children') }}"></span>{% endif %}
        {{ account_macros.account_name(account.account, last_segment=True) }}</span>
    {% for begin_date, end_date in dates %}
        {% if accumulate %}{% set begin_date = dates[-1][0] %}{% endif %}
        {% set budget = ledger.budgets.calculate(account.account, begin_date, end_date) %}
        {% set budget_children = ledger.budgets.calculate_children(account.account, begin_date, end_date) %}
        {% set current_account = interval_balances[loop.index0]|get_or_create(account.account) %}
        {% set balance = current_account.balance|cost_or_value(end_date) %}
        {% set balance_children = current_account|balance_children|cost_or_value(end_date) %}
        <span class="num other{{ ' has-balance' if (budget or not balance.is_empty()) else '' }}">
            <a href="{{ url_for('account', name=account.account, time=begin_date|string + ' - ' + end_date|string) }}">
            {% for pos in balance %}
                <span class="balance">
                    {{ render_budget(budget, pos.units.currency, pos.units.number) }}
                    <span class="number">{{ pos.units|format_amount }}</span>
                </span>
            {% endfor %}
            {% if budget %}
              {% for currency, number in budget.items() if currency not in balance.currencies() %}
                <span class="balance">
                {{ render_budget(budget, currency) }}
                </span>
              {% endfor %}
            {% endif %}
            {% for pos in balance_children %}
                <span class="balance-children">
                    {{ render_budget(budget_children, pos.units.currency, pos.units.number) }}
                    <span class="number">{{ pos.units|format_amount }}</span>
                </span>
            {% endfor %}
            {% if budget_children %}
              {% for currency, number in budget_children.items() if currency not in balance_children.currencies() %}
                <span class="balance-children">
                {{ render_budget(budget_children, currency) }}
                </span>
              {% endfor %}
            {% endif %}
            </a>
        </span>
    {% endfor %}
    </p>
    <ol>
    {{ loop(account.values()|sort(attribute='account')) }}
    </ol>
    </li>
{% endfor %}
    <li class="totals">
        <p>
        <span class="account-cell">&nbsp;</span>
    {% for begin_date, end_date in dates %}
        {% set current_account = interval_balances[loop.index0]|get_or_create(account_name) %}
        {% set balance_children = current_account|balance_children|cost_or_value(end_date) %}
        <span class="num other">
            {% for pos in balance_children %}
                {{ pos.units|format_amount }}<br>
            {% endfor %}
        </span>
        {% endfor %}
        </p>
    </li>
</ol>
{% endmacro %}
