{% extends "_layout.html" %}
{% set active_page = 'trial_balance' %}

{% import 'macros/_account_macros.html' as account_macros with context %}
{% import 'macros/_interval_macros.html' as interval_macros with context %}
{% import "charts/_charts.html" as charts with context %}

{% block title %}Account {{ account_name }}{% endblock %}

{% block content %}
    {{ account_macros.account_name_header(account_name) }}

    {% include "charts/_chart_skeleton.html" %}

    {% with linechart_data=api.linechart_data(account_name) %}
        {% include "charts/_chart_account_balance.html" %}
    {% endwith %}
    {% with label="Changes", interval_totals=api.interval_totals(interval, account_name) %}
        {% include "charts/_chart_interval_totals.html" %}
    {% endwith %}

    {% if not journal %}
        {{ charts.treemap(account_name) }}
    {% endif %}

    <div class="headerline">
        <h3>{% if not journal %}<a href="{{ url_for('account_with_journal', name=account_name) }}">Journal</a>{% else %}Journal{% endif %}</h3>
        <h3>{% if not (not journal and not accumulate) %}<a href="{{ url_for('account_with_interval_changes', name=account_name, interval=interval) }}">{{ interval_macros.interval_label }} Changes</a>{% else %}{{ interval_macros.interval_label }} Changes{% endif %}</h3>
        <h3>{% if not (not journal and accumulate) %}<a href="{{ url_for('account_with_interval_balances', name=account_name, interval=interval) }}">{{ interval_macros.interval_label }} Balances</a>{% else %}{{ interval_macros.interval_label }} Balances{% endif %}</h3>
    </div>

    {% if journal %}
        {% set journal = api.journal(account_name, with_change_and_balance=True, with_journal_children=config['journal-show-childentries']) %}
        {% with show_tablefilter=True, show_change_and_balance=True %}
            {% include "_journal_table.html" %}
        {% endwith %}
    {% else %}
        {% set interval_balances, dates = api.interval_balances(interval, account_name, accumulate) %}

        {% for begin_date, end_date in dates[-3:]|reverse %}
            {{ charts.treemap(account_name, begin_date, end_date, label=interval_macros.format_date(end_date)) }}
        {% endfor %}
        <table class="fullwidth tree-table">
            <thead>
                <tr>
                    <th>Account <a href="" class="expand-all" title="Expand all accounts">Expand all</a></th>
                    {% for begin_date, _ in dates|reverse %}
                        <th>{{ interval_macros.format_date(begin_date) }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in interval_balances %}
                {% with account_level = row[0].account|account_level  %}
                <tr data-level="{{ account_level }}" data-is-parent="{% if not row[0].is_leaf %}true{% else %}false{% endif %}">
                    <td class="account account-level-{{ account_level }}" data-level="{{ account_level }}">
                        <a href="{{ url_for('account_with_journal', name=row[0].account) }}" class="account">{{ row[0].account|last_segment }}</a>
                    </td>

                    {% for entry in row|reverse %}
                        <td class="num">
                            {% if entry.balance %}
                                <span class="balance">
                                {% for currency, number in entry.balance.items() %}
                                    {{ number|format_currency(currency) }} {{ currency }}<br>
                                {% endfor %}
                                </span>
                            {% endif %}
                            {% if entry.balance_children %}
                                <span class="tree-balance">
                                {% for currency, number in entry.balance_children.items() %}
                                    {{ number|format_currency(currency) }} {{ currency }}<br>
                                {% endfor %}
                                </span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    {% for entry in interval_balances[0]|reverse %}
                    <td class="num">
                        {% for currency, number in entry.balance_children.items() %}
                            {% if number %}
                                {{ number|format_currency(currency) }} {{ currency }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    {% endif %}
{% endblock %}
