{% extends "_layout.html" %}
{% set active_page = 'balance_sheet' %}

{% import "charts/_charts.html" as charts with context %}

{% block content %}
    <h1>Balance Sheet</h1>
    {% set net_worth = api.net_worth(interval=interval) %}

    {% include "charts/_chart_skeleton.html" %}
    {% include "charts/_chart_interval_net_worth.html" %}

    {{ charts.treemap(api.options['name_assets']) }}
    {{ charts.treemap(api.options['name_liabilities']) }}
    {{ charts.treemap(api.options['name_equity']) }}

    <div class="halfleft">
        {% with table_title="Assets", real_accounts=api.closing_balances(api.options['name_assets']), totals=True %}
            {% include "_tree_table.html" %}
        {% endwith %}
    </div>
    <div class="halfright">
        {% with table_title="Liabilities", real_accounts=api.closing_balances(api.options['name_liabilities']), totals=True %}
            {% include "_tree_table.html" %}
        {% endwith %}
        {% with table_title="Equity", real_accounts=api.closing_balances(api.options['name_equity']), totals=True %}
            {% include "_tree_table.html" %}
        {% endwith %}
    </div>
{% endblock %}
