{% extends "_layout.html" %}
{% set active_page = 'balance_sheet' %}

{% block content %}
    <h1>Balance Sheet</h1>
    {% set assets = api.closing_balances(api.options['name_assets']) %}
    {% set liabilities = api.closing_balances(api.options['name_liabilities']) %}
    {% set equity = api.closing_balances(api.options['name_equity']) %}
    {% set net_worth = api.net_worth() %}

    {% include "charts/_chart_skeleton.html" %}
    {% include "charts/_chart_monthly_net_worth.html" %}
    {% with label="Assets", rows=assets %}
        {% include "charts/_chart_treemap.html" %}
    {% endwith %}
    {% with label="Liabilities", rows=liabilities, modifier=-1 %}
        {% include "charts/_chart_treemap.html" %}
    {% endwith %}
    {% with label="Equity", rows=equity, modifier=-1 %}
        {% include "charts/_chart_treemap.html" %}
    {% endwith %}

    <div class="halfleft">
        {% with table_title="Assets", table_data=assets, totals=True %}
            {% include "_tree_table.html" %}
        {% endwith %}
    </div>
    <div class="halfright">
        {% with table_title="Liabilities", table_data=liabilities, totals=True %}
            {% include "_tree_table.html" %}
        {% endwith %}
        {% with table_title="Equity", table_data=equity, totals=True %}
            {% include "_tree_table.html" %}
        {% endwith %}
    </div>
{% endblock %}
