{% extends "_layout.html" %}
{% set active_page = 'commodities' %}

{% block content %}
    {{ charts.skeleton(hide_interval_filter=True) }}
    {{ charts.commodities() }}

    {% for commodity in api.commodity_pairs() %}
        <div class="left">
            <h3>{{ commodity.0 }} / {{ commodity.1 }}</h3>
            <table class="sortable">
                <thead>
                    <th data-sort="string" data-sort-default="desc" class="sorting-asc">{{ _('Date') }}</th>
                    <th data-sort="float">{{ _('Price') }}</th>
                </thead>
                <tbody>
                    {% set prices = api.prices(commodity.0, commodity.1) %}
                    {% for price in prices %}
                        <tr>
                            <td>{{ price.0 }}</td>
                            <td class="num">{{ price.1|format_currency(commodity.1) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}
