{% extends "_layout.html" %}
{% set active_page = 'context' %}
{% set page_title = "Context: " + ehash %}

{% block content %}
{% set entry, context = ledger.context(ehash) %}
    <dl>
        <dt>{{ _('Hash:') }}</dt>
        <dd><code>{{ ehash }}</code></dd>
        <dt>{{ _('Location:') }}</dt>
        <dd><code><a href="{{ url_for_source(file_path=entry.meta.filename, line=entry.meta.lineno) }}" title="{{ _('Show source %(file)s:%(lineno)s', file=entry.meta.filename, lineno=entry.meta.lineno) }}">{{ entry.meta.filename }}:{{ entry.meta.lineno }}</a></code></dd>
    </dl>
    <textarea class="editor editor-readonly" readonly>{{ context|safe }}</textarea>
    <h3>{{ _('Journal Entry') }}</h3>
    {% with journal = [entry] %}
        {% include "_journal_table.html" %}
    {% endwith %}
{% endblock %}
