{% extends "_layout.html" %}
{% set active_page = 'context' %}

{% block title %}Context{% endblock %}

{% block javascript %}
    {% include "javascript/_editor.html" %}
{% endblock %}

{% block content %}
    {% set context = api.context(ehash) %}
    <h1>Context: <code>{{ ehash }}</code></h1>
    {% if context %}
    <dl>
        <dt>Hash:</dt>
        <dd><code>{{ context.hash }}</code></dd>
        <dt>Location:</dt>
        <dd><code><a href="{{ url_for_source(file_path=context.filename, line=context.line) }}" title="Show source {{ context.filename }}:{{ context.line }}">{{ context.filename }}:{{ context.line }}</a></code></dd>
    </dl>
    <div class="editor-wrapper editor-wrapper-readonly">
        <div class="editor editor-readonly" id="editor-{{ context.hash }}">
            <pre><code>{{ context.context|safe }}</code></pre>
        </div>
    </div>

    <h3>Journal Entry</h3>
    {% with journal=context.journal %}
        {% include "_journal_table.html" %}
    {% endwith %}
    {% else %}
    <p class="empty">
    No entry matches the given hash.
    </p>
    {% endif %}
{% endblock %}
