{% extends "_layout.html" %}
{% set active_page = 'errors' %}
{% set show_filters = False %}

{% block content %}
<h1>Errors</h1>
    {% if api.errors %}
        <table class="errors sortable">
            <thead>
                <tr>
                    <th data-sort="string" class="sorting-asc">File</th>
                    <th data-sort="int">Line</th>
                    <th data-sort="string">Error</th>
                </tr>
            </thead>
            <tbody>
                {% for error in api.errors %}
                <tr>
                    {% with link=url_for_source(file_path=error.file, line=error.line) %}
                    <td><a class="source" href="{{ link }}" title="Show source {{ error.file }}:{{ error.line }}">{{ error.file }}</a></td>
                    <td class="num"><a class="source" href="{{ link }}" title="Show source {{ error.file }}:{{ error.line }}">{{ error.line }}</a></td>
                    <td>{{ error.error }}</td>
                    {% endwith %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="empty">
            No errors.
        </p>
    {% endif %}
{% endblock %}
