{% extends "_layout.html" %}
{% set active_page = 'events' %}
{% set page_title = 'Event - ' +  event_type %}

{% import "charts/_charts.html" as charts with context %}

{% block content %}

    {% set events = api.events(event_type=event_type) %}

    {% if events %}
        {{ charts.skeleton() }}
        {{ charts.events(event_type, label="Event: " + event_type) }}

        <h3>Entries</h3>
        <table class="events sortable">
            <thead>
                <tr>
                    <th data-sort="string" data-sort-default="desc" class="sorting-asc">Date</th>
                    <th data-sort="string">Type</th>
                    <th data-sort="string">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>
                            <a href="{{ url_for_source(file_path=event.meta.filename, line=event.meta.lineno) }}" title="Show source {{ event.meta.filename }}:{{ event.meta.lineno }}">{{ event.date }}</a>
                        </td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>
        No events.
    </p>
    {% endif %}
{% endblock %}
