{% extends "_layout.html" %}
{% set active_page = 'events' %}
{% set page_title = _('Event') + ' - ' +  event_type %}

{% import "_charts.html" as charts with context %}

{% block content %}

    {% set events = api.events(event_type=event_type) %}

    {% if events %}
        {{ charts.skeleton() }}
        {{ charts.events(event_type, label=_('Event: %(type)s', type=event_type)) }}

        <h3>{{ _('Entries') }}</h3>
        <table class="events sortable">
            <thead>
                <tr>
                    <th data-sort="string" data-sort-default="desc" class="sorting-asc">{{ _('Date') }}</th>
                    <th data-sort="string">{{ _('Type') }}</th>
                    <th data-sort="string">{{ _('Description') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>
                            <a href="{{ url_for_source(file_path=event.meta.filename, line=event.meta.lineno) }}" title="Show source {{ event.meta.filename }}:{{ event.meta.lineno }}">{{ event.date }}</a>
                        </td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>
        {{ _('No events.') }}
    </p>
    {% endif %}
{% endblock %}
