{% extends "_layout.html" %}
{% set active_page = 'events' %}

{% block content %}
    {% set events = ledger.events() %}
    {% if events %}
        {{ charts.skeleton(hide_interval_filter=True) }}
        {{ charts.events() }}

    <section class="event-container" >
    {% for group in events|groupby('type') %}
        <article class="event-table">
            <div class="rounded-box-container">
                {{ charts.events(group.grouper) }}
                <h3 class="rounded-box-header">{{ _('%(type)s', type=group.grouper) }}</h3>
                <table class="sortable">
                    <thead>
                        <tr>
                            <th data-sort="string" data-order="asc">{{ _('Date') }}</th>
                            <th data-sort="string">{{ _('Description') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in group.list %}
                            <tr>
                                <td>
                                    <a href="{{ url_for_source(file_path=event.meta.filename, line=event.meta.lineno) }}" title="{{ _('Show source %(file)s:%(lineno)s', file=event.meta.file, lineno=event.meta.lineno) }}">{{ event.date }}</a>
                                </td>
                                <td>{{ event.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>
    {% endfor %}
    </section>
    {% else %}
    <p>
        {{ _('No events.') }}
    </p>
    {% endif %}
{% endblock %}

