{% extends "_layout.html" %}
{% set active_page = 'import' %}
{% import '_entry_forms.html' as entry_forms %}

{% block content %}
<div class="headerline">
  <h3>{{ _('Import') }} <code>{{ request.args.get('filename') }}</code></h3>
  <span class="spacer"></span>
  <button type="button" data-event="extract-toggle-source">{{ _('Toggle source') }}</button>
  <button type="button" data-event="extract-toggle-ignore">{{ _('Toggle ignore') }}</button>
</div>
<form class="ingest-extract">
  <div class="ingest-row header">
    <div class="line">{{ _('Line') }}</div>
    <div class="source">{{ _('Source') }}</div>
    <div class="entry-form">{{ _('Entry') }}</div>
    <div class="actions">{{ _('Actions') }}</div>
  </div>
  {% for entry in g.ledger.ingest.extract(request.args.get('filename'), request.args.get('importer')) %}
  {% set type = entry.__class__.__name__ %}
  {% set duplicate = '__duplicate__' in entry.meta %}
  <div class="ingest-row{{ ' duplicate' if duplicate else ' import' }}">
    <div class="line">{% if entry.meta.lineno > 0 %}{{ entry.meta.lineno }}{% endif %}</div>
    <div class="source">
      {% if entry.meta['__source__'] %}
      <pre>{{ entry.meta['__source__'] }}</pre>
      {% endif %}
    </div>
    {{ entry_forms[type](entry|serialise) if type in ['Balance', 'Note', 'Transaction'] else '' }}
    <div class="actions">
      <div class="inner">
        <label><input name="action-{{ loop.index }}" type="radio" value="ignore">{{ _('Ignore') }}</label>
        <label><input name="action-{{ loop.index }}" type="radio" value="duplicate"{{ ' checked' if duplicate else '' }}>{{ _('Duplicate') }}</label>
        <label><input name="action-{{ loop.index }}" type="radio" value="import"{{ ' checked' if not duplicate else '' }}>{{ _('Import') }}</label>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="fieldset ingest-footer">
    <button type="button" data-event="extract-submit">{{ _('Import entries') }}</button>
  </div>
</form>
{% endblock %}
