{% extends "_layout.html" %}
{% set active_page = 'import' %}

{% import 'macros/_account_macros.html' as account_macros with context %}
{% import '_entry_forms.html' as forms with context %}

{% block content %}
<div class="headerline">
  <h3>{{ _('Import') }} <code>{{ request.args.get('filename') }}</code></h3>
  <span class="spacer"></span>
  <button type="button" id="toggle-source">{{ _('Toggle source') }}</button>
  <button type="button" id="toggle-ignore">{{ _('Toggle ignore') }}</button>
</div>
<form class="ingest-extract" action="{{ url_for('json_api.add_entries') }}">
  <div class="ingest-row header">
    <div class="line">{{ _('Line') }}</div>
    <div class="source">{{ _('Source') }}</div>
    <div class="entry-form">{{ _('Entry') }}</div>
    <div class="actions">{{ _('Actions') }}</div>
  </div>
  {% for entry in g.ledger.ingest.extract(request.args.get('filename'), request.args.get('importer')) %}
  {% set type = entry.__class__.__name__.lower() %}
  {% set duplicate = '__duplicate__' in entry.meta %}
  <div class="ingest-row{{ ' duplicate' if duplicate else ' import' }}">
    <div class="line">{% if entry.meta.lineno > 0 %}{{ entry.meta.lineno }}{% endif %}</div>
    <div class="source">
      {% if entry.meta['__source__'] %}
      <pre>{{ entry.meta['__source__'] }}</pre>
      {% endif %}
    </div>
    {% if type == 'transaction' %}
    {{ forms.transaction(entry=entry) }}
    {% elif type == 'balance' %}
    {{ forms.balance(entry=entry) }}
    {% elif type == 'note' %}
    {{ forms.note(entry=entry) }}
    {% endif %}
    <div class="actions">
      <div class="inner">
        <label><input name="action-{{ loop.index }}" type="radio" value="ignore">{{ _('Ignore') }}</label>
        <label><input name="action-{{ loop.index }}" type="radio" value="duplicate"{{ ' checked' if duplicate else '' }}>{{ _('Duplicate') }}</label>
        <label><input name="action-{{ loop.index }}" type="radio" value="import"{{ ' checked' if not duplicate else '' }}>{{ _('Import') }}</label>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="fieldset ingest-footer">
    <button type="submit" class="ingest-form-submit">{{ _('Import transactions') }}</button>
  </div>
</form>
{% endblock %}
