{% extends "_layout.html" %}
{% set active_page = page_slug %}
{% set show_filters = False %}

{% block title %}Help - {{ config['HELP_PAGES'][page_slug] }}{% endblock %}

{% block content %}
    <div class="help">
        <div class="help-sidebar">
            <h4>Help pages</h4>
            <ul>
                {% for slug, title in config['HELP_PAGES']|dictsort %}
                    <li><a href="{{ url_for('help_page', page_slug=slug) }}"{% if slug == page_slug %} class="selected"{% endif %}>{{ title }}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="help-text">
            {{ help_html|safe }}
        </div>
    </div>
{% endblock %}
