{% extends "_layout.html" %}
{% set active_page = 'holdings' %}
{% import '_account_macros.html' as account_macros with context %}

{% macro num_cell(value) -%}
<td class="num" data-sort-value="{{ value }}">{% if value %}{{ value|format_currency }}{% endif %}</td>
{%- endmacro %}

{% block content %}
    <h1>Holdings</h1>
    {% set holdings = api.holdings(aggregation_key) %}
    <div class="headerline">
        <h3>{% if aggregation_key %}<a href="{{ url_for('report', report_name='holdings') }}">Holdings</a>{% else %}Holdings{% endif %}</h3>
        {% for key in ['account', 'currency', 'cost_currency'] %}
        <h3>{% if not (aggregation_key == key) %}<a href="{{ url_for('holdings_by', aggregation_key=key) }}">Holdings by {{key|replace('_',' ')|capitalize}}</a>{% else %}Holdings by {{key|replace('_',' ')|capitalize}}{% endif %}</h3>
        {% endfor %}
    </div>

    <table class="holdings sortable">
        <thead>
            <tr>
                <th data-sort="string" data-sort-default="desc" class="sorting-asc">Account</th>
                <th data-sort="float" data-sort-default="desc">Units</th>
                <th data-sort="string">Currency</th>
                <th data-sort="string">Cost Currency</th>
                <th data-sort="float" data-sort-default="desc">Average Cost</th>
                <th data-sort="float" data-sort-default="desc">Price</th>
                <th data-sort="float" data-sort-default="desc">Book Value</th>
                <th data-sort="float" data-sort-default="desc">Market Value</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in holdings %}
            <tr>
                <td>{{ account_macros.account_name(holding.account) }}</td>
                {{ num_cell(holding.number) }}
                <td>{{ holding.currency}}</td>
                <td>{{ holding.cost_currency }}</td>
                {{ num_cell(holding.cost_number) }}
                {{ num_cell(holding.price_number) }}
                {{ num_cell(holding.book_value) }}
                {{ num_cell(holding.market_value) }}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
