{% extends "_layout.html" %}
{% set active_page = 'import' %}

{% import 'macros/_account_macros.html' as account_macros with context %}
{% import 'macros/_entry_forms.html' as forms with context %}

{% block content %}
  {% if not ledger.fava_options['ingest-config'] %}
    <p>
    No importers configured. See <a href="{{ url_for('help_page', page_slug='options') }}">Help (Options)</a> for more information.
    </p>
  {% endif %}
  {% for directory, files in ledger.ingest.dirs_importers() %}
    <h3>{{ directory }}</h3>
    <table class="ingest-files">
      <thead>
        <tr>
          <th>{{ _('File') }}</th>
          <th>{{ _('Importer') }}</th>
          <th>{{ _('Account') }}</th>
          <th>{{ _('Action') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
          {% for importer in file.importers %}
            <tr>
              <td>
                <pre title="{{ file.filename }}">{{ file.filename|basename }}</pre>
                <input type="hidden" name="filename" value="{{ file.filename }}">
              </td>
              <td>{{ importer.name }}</td>
              <td>{{ account_macros.account_name(importer.account) }}</td>
              <td>
                <a class="button" title="{{ _('Extract') }} {{ file.filename }}" href="{{ url_for('report', report_name='extract', filename=file.filename, importer=importer.name) }}">{{ _('Extract') }}</button>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endblock %}
