{% extends "_layout.html" %}
{% set active_page = 'income_statement' %}
{% import '_tree_table.html' as tree_table with context %}

{% block content %}
    {{ charts.skeleton() }}

    {{ charts.interval_totals(g.interval, (ledger.options['name_income'], ledger.options['name_expenses']), label=_('Net Profit')) }}
    {{ charts.interval_totals(g.interval, ledger.options['name_income'], label=_('Income')) }}
    {{ charts.interval_totals(g.interval, ledger.options['name_expenses'], label=_('Expenses')) }}

    {{ charts.hierarchy(ledger.options['name_income']) }}
    {{ charts.hierarchy(ledger.options['name_expenses']) }}

    <div class="row">
        <div class="column">
            <h3>{{ ledger.options['name_income'] }}</h3>
            {{ tree_table.tree(ledger.root_tree.get(ledger.options['name_income'])) }}
        </div>
        <div class="column">
            <h3>{{ ledger.options['name_expenses'] }}</h3>
            {{ tree_table.tree(ledger.root_tree.get(ledger.options['name_expenses'])) }}
        </div>
    </div>
{% endblock %}
