{% extends "_layout.html" %}
{% set active_page = 'income_statement' %}

{% import "charts/_charts.html" as charts with context %}

{% block content %}
    <h1>Income Statement</h1>
    {% include "charts/_chart_skeleton.html" %}

    {% with label="Changes (Income/Expenses)", interval_totals=api.interval_totals(interval, [options['name_income'], options['name_expenses']]) %}
        {% include "charts/_chart_interval_totals.html" %}
    {% endwith %}

    {% with label="Income", interval_totals=api.interval_totals(interval, options['name_income']) %}
        {% include "charts/_chart_interval_totals.html" %}
    {% endwith %}

    {% with label="Expenses", interval_totals=api.interval_totals(interval, options['name_expenses']) %}
        {% include "charts/_chart_interval_totals.html" %}
    {% endwith %}

    {{ charts.treemap(api.options['name_income']) }}
    {{ charts.treemap(api.options['name_expenses']) }}

    <div class="halfleft">
        {% with table_title="Income", real_accounts=api.balances(options['name_income']), totals=True %}
            {% include "_tree_table.html" %}
        {% endwith %}
    </div>
    <div class="halfright">
        {% with table_title="Expenses", real_accounts=api.balances(options['name_expenses']), totals=True %}
            {% include "_tree_table.html" %}
        {% endwith %}
    </div>
{% endblock %}
