{% extends "_layout.html" %}
{% set active_page = 'ingest' %}

{% import 'macros/_account_macros.html' as account_macros with context %}
{% import 'overlays/_transaction_form.html' as tform with context %}

{% block content %}
    <h3>{{ _('Import') }}</h3>
    {% if not entries %}
        <form action="{{ url_for('ingest') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload and process</button>
        </form>
    {% else %}
        {# <form id="entry-filters" class="journal-entry-filters wide-form">
            <button type="button" title="Toggle Open entries" data-type="open">Import</button>
            <button type="button" title="Toggle Close entries" data-type="close" class="inactive">Duplicate</button>
            <button type="button" title="Toggle Close entries" data-type="close">Ignore</button>
        </form> #}
        <form id="ingest-form" action="{{ url_for('json_api.add_entries') }}">
            <div class="ingest-row header">
                <div class="line">Line</div>
                <div class="source">Source</div>
                <div class="form">
                    Transaction
                </div>
                <div class="actions">Actions</div>
            </div>
        {% for entry in entries %}
            <div class="ingest-row {{ entry.type.name|lower }}">
                <div class="line">{{ entry.line }}</div>
                <div class="source"><pre>{{ entry.source }}</pre></div>
                <div class="form">
                    {{ tform.transaction_form(transaction=entry.entry) }}
                </div>
                <div class="actions">
                    <div class="inner">
                        <div class="action"><label><input name="action-{{ entry.line }}" type="radio" value="ignore"{% if entry.type.name == 'IGNORE' %} checked{% endif %}>Ignore</label></div>
                        <div class="action"><label><input name="action-{{ entry.line }}" type="radio" value="duplicate"{% if entry.type.name == 'DUPLICATE' %} checked{% endif %}>Duplicate</label></div>
                        <div class="action"><label><input name="action-{{ entry.line }}" type="radio" value="import"{% if entry.type.name == 'IMPORT' and loop.index != 4 %} checked{% endif %}>Import</label></div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="fieldset ingest-footer">
                <button type="submit" id="ingest-form-submit" data-url="{{ url_for('ingest') }}">Import transactions</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
