{% extends "_layout.html" %}
{% set active_page = 'net_worth' %}

{% import "_charts.html" as charts with context %}

{% block content %}
    {{ charts.skeleton() }}
    {{ charts.net_worth(interval) }}

    <table class="net_worth sortable">
        <thead>
            <tr>
                <th data-sort="string" data-sort-default="desc" class="sorting-asc">{{ _('Currency') }}</th>
                <th data-sort="float" data-sort-default="desc">{{ _('Net Worth') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for currency, number in api.net_worth().items() %}
            <tr>
               <td>{{ currency }}</td>
               <td class="num" data-sort-value="{{ number }}">{{ number|format_currency(currency) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
