{% extends "_layout.html" %}
{% set active_page = 'options' %}

{% block content %}
    <h2>{{ _('fava: options') }}</h2>
    <table class="options sortable">
        <thead>
            <tr>
                <th data-sort="string" data-sort-default="desc" data-order="asc">{{ _('Key') }}</th>
                <th>{{ _('Value') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in api.fava_options|dictsort %}
            <tr>
                <td>{{ key }}</td>
                <td><pre>{{ value }}</pre></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>{{ _('beancount: options') }}</h2>
    <table class="options sortable">
        <thead>
            <tr>
                <th data-sort="string" data-sort-default="desc" data-order="asc">{{ _('Key') }}</th>
                <th>{{ _('Value') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in api.options|dictsort %}
            <tr>
               <td>{{ key }}</td>
               <td><pre>{{ value }}</pre></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
