{% set result_only = request.args.get('result_only', False) %}{% if not result_only %}{% extends "_layout.html" %}{% endif %}
{% set active_page = 'query' %}

{% import '_query_table.html' as querytable %}

{% set query = request.args.get('query_string', '') %}
{% set query_shell_history = ledger.query_shell.get_history(20)|reverse %}
{% set contents, result_types, result_rows = ledger.query_shell.execute_query(query, add_to_history=True) %}

{% block content %}
{% if not result_only %}
<form id="query-form" class="query-box" data-event="query" action="{{ url_for('report', report_name='query') }}" method="GET">
  <textarea name="query_string" placeholder="{{ _('...enter a BQL query. \'help\' to list available commands.') }}">{{ query or '' }}</textarea>
  <button type="submit" data-key="Ctrl/Cmd+Enter">{{ _('Submit') }}</button>
</form>
<div id="query-container">
  {% endif %}
  {% if query %}
  <div class="toggle-box queryresults-wrapper{{ ' error' if (contents and 'ERROR' in contents) else '' }}">
    <div class="toggle-box-header"><pre><code>{{ query }}</code></pre>
      <span class="spacer"></span>
      {{ querytable.download_links(query) if result_types else '' }}
    </div>
    {% if contents or result_types %}
    <div class="toggle-box-content">
      {{ querytable.querytable(contents, result_types, result_rows) }}
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% if not result_only %}
  {% for history_item in query_shell_history %}
  <div class="toggle-box queryresults-wrapper toggled inactive">
    <div class="toggle-box-header">
      <pre><code>{{ history_item }}</code></pre>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
