{% extends "_layout.html" %}
{% set active_page = 'query' %}

{% import 'macros/_account_macros.html' as account_macros with context %}

{% macro querycell(name, value, type_) %}
{% set type = type_|string %}
{% if type == "<class 'beancount.core.inventory.Inventory'>" %}
    <td class="num">
    {% for position in value.cost() %}
        {% if position.units.number != 0 %}
            {{ position.units|format_amount }}<br>
        {% endif %}
    {% endfor %}
    </td>
{% elif type == "<class 'str'>" %}
    <td>
        {% if name == "account" %}
            {{ account_macros.account_name(value) }}
        {% else %}
            {{value }}
        {% endif %}
        {# TODO do the same for payee(s) and tag(s) #}
    </td>
{% elif type == "<class 'decimal.Decimal'>" %}
    <td class="num" data-sort-value="{{ value }}">{{ value|format_currency }}</td>
{% elif type == "<class 'cdecimal.Decimal'>" %}
    <td class="num" data-sort-value="{{ value }}">{{ value|format_currency }}</td>
{% elif type == "<class 'bool'>" %}
    <td>{{ value|upper }}</td>
{% elif type == "<class 'int'>" %}
    <td class="num">{{ value }}</td>
{% elif type == "<class 'set'>" %}
    <td>{{ value|join(',') }}</td>
{% elif type == "<class 'datetime.date'>" %}
    <td>{{ value }}</td>
{% elif type == "<class 'beancount.core.position.Position'>" %}
    <td class="num">{{ value.units|format_amount }}</td>
{% else %}
    <td class="query-error" title="Type {{ type|string }} not recognized">{{ value }}</td>
{% endif %}
{% endmacro %}

{% set name = request.args.get('name', None) %}
{% set query = request.args.get('query_string', '') %}
{% set result_only = request.args.get('result_only', False) %}

{% block content %}
    {% if not result_only %}
    {% if api.queries %}
        <form class="wide-form stored-queries">
            <label for="stored-queries">{{ _('Load stored query:') }}</label>
            <select id="stored-queries">
                <option value="" data-source-link="#"></option>
                {% for query in api.queries %}
                    <option value="{{ query.query_string }}" data-source-link="{{ url_for_source(file_path=query.meta.filename, line=query.meta.lineno)}}"{% if query.name == name %} selected="selected"{% endif %}>{{ query.name }}</option>
                {% endfor %}
            </select>
            <a href="{% if name %}{% set query_ = api.get_query(name) %}{{ url_for_source(file_path=query_.meta.filename, line=query_.meta.lineno)}}{% endif %}" class="source-link{% if not name %} hidden{% endif %}">{{ _('(Source)') }}</a>
        </form>
    {% endif %}

    <form id="query-form" class="query-box" action="{{ url_for('query') }}" method="get">
        <textarea id="query-editor" name="query_string">{{ query or '' }}</textarea>
        <button id="submit-query" type="submit">Submit Query</button>
    </form>
    <div id="query-container">
    {% endif %}
    {% if not error and not result_types %}
        <h3>Sample Queries</h3>
        <ul class="sample-queries">
            <li><a href="{{ url_for('query', query_string="balances from year = 2014") }}"><code>balances from year = 2014</code></a></li>
            <li><a href="{{ url_for('query', query_string="SELECT last(date) as last_date, cost(sum(position)) as cost;") }}"><code>SELECT last(date) as last_date, cost(sum(position)) as cost;</code></a></li>
            <li><a href="{{ url_for('query', query_string="SELECT date, account, position, balance WHERE account ~ 'Travel';") }}"><code>SELECT date, account, position, balance WHERE account ~ 'Travel';</code></a></li>
            <li><a href="http://aumayr.github.io/beancount-sql-queries/">{{ _('More sample queries') }}</a>
        </ul>
    {% endif %}

    {% if error %}
        <h3>{{ _('Result') }}</h3>
        <p class="query-syntax-error">
            {{ error }}
        </p>
    {% endif %}

    {% if result_types %}
        <div class="queryresults-wrapper">
            <p class="download">
                {{ _('Download as') }}
                <a class="download-csv" href="{{ url_for('download_query', query_string=query, name=name, result_format='csv') }}">CSV</a>{% if config['HAVE_EXCEL'] %},
                <a class="download-csv" href="{{ url_for('download_query', query_string=query, name=name, result_format='xls') }}">XLS</a>,
                <a class="download-csv" href="{{ url_for('download_query', query_string=query, name=name, result_format='xlsx') }}">XLSX</a> or
                <a class="download-csv" href="{{ url_for('download_query', query_string=query, name=name, result_format='ods') }}">ODS</a>
            {% endif %}
            </p>
            <h3>{{ _('Result') }}</h3>
            <table class="queryresults sortable">
                <thead>
                    <tr>
                        {% for name, type in result_types %}
                            <th>{{ name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in result_rows %}
                        <tr>
                            {% for name, type in result_types %}
                                {{ querycell(name, row[name], type)  }}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if not result_only %}
    </div>
    {% endif %}
{% endblock %}
