{% extends "_layout.html" %}
{% set active_page = 'source' %}
{% set show_filters = False %}
{% set source_files = api.source_files() %}
{% if config['USER_SETTINGS'] %}
    {% set source_files = source_files + [config['USER_SETTINGS']] %}
{% endif %}

{% block javascript %}{% include "javascript/_editor.html" %}{% endblock %}

{% block content %}
    {% if config['use-external-editor'] %}
        <div id="source-readonly">
        <table class="sortable">
            <thead>
                <tr>
                    <th data-sort="string" class="sorting-asc" colspan=2>{{ _('File') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for source_file in source_files %}
                <tr>
                    <td>{{ source_file }}</td>
                    <td><a href="{{ url_for_source(file_path=source_file) }}">{{ _('Open in external editor') }}</a></td>
                 </tr>
                {% endfor %}
            </tbody>
        </table>

        {% for source_file in source_files %}
            <h3>{{ source_file }}</h3>
            <textarea class="editor-readonly">{{ api.source(source_file) }}</textarea>
        {% endfor %}
        </div>
    {% else %}
    <form action="{{ url_for('source') }}" method="POST">
        <select id="source-editor-select" name="file_path">
            {% for source_file in source_files %}
                <option{% if source_file == file_path %} selected="selected"{% endif %}>{{ source_file }}</option>
            {% endfor %}
        </select>
        <input id="source-editor-submit" type="submit" value="{{ _('Save') }}">
        <div id="source-editor-wrapper">
            <textarea id="source-editor" name="source" autofocus>{{ api.source(file_path) or '' }}</textarea>
        </div>
    </form>
    </div>
    {% endif %}
{% endblock %}
