{% extends "_layout.html" %}
{% set active_page = 'source' %}
{% set show_filters = False %}

{% block javascript %}{% include "javascript/_editor.html" %}{% endblock %}

{% block content %}
    <h1>Source</h1>
    {% if config.user.getboolean('use-external-editor') %}
        <table class="errors sortable">
            <thead>
                <tr>
                    <th data-sort="string" class="sorting-asc">File</th>
                    <th>External editor</th>
                </tr>
            </thead>
            <tbody>
                {% for source_file in api.source_files() %}
                <tr>
                    {% with link=url_for_source(file_path=source_file) %}
                    <td><a class="source" href="#source-{{ loop.index }}" title="Show source {{ source_file }}">{{ source_file }}</a></td>
                    <td><a class="source" href="{{ link }}" title="Open {{ source_file }} in external editor">Open in external editor</a></td>
                    {% endwith %}
                 </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Source listing</h2>
        {% for source_file in api.source_files() %}
        <div>
            {% with link=url_for_source(file_path=source_file) %}
            <h3 id="source-{{ loop.index }}"><a class="source" href="{{ link }}" title="Show source {{ source_file }}">{{ source_file }}</a></h3>
            <div class="editor-wrapper editor-wrapper-readonly">
                <form action="{{ url_for('source') }}" method="get">
                    <div class="editor editor-readonly editor-async" id="editor-{{ loop.index }}" data-file-path="{{ source_file }}"><pre><code>; Loading {{ source_file }} ...</code></pre></div>
                </form>
            </div>
            {% endwith %}
        </div>
        {% endfor %}
    {% else %}
    <form class="editor-source" action="{{ url_for('source') }}" method="get">
        <select name="file_path">
            {% for source_file in api.source_files()+[config_file] %}
                <option{% if source_file == file_path %} selected="selected"{% endif %}>{{ source_file }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="config-file-defaults" value="{{ config_file_defaults }}">
    </form>
    <div class="editor-wrapper editor-wrapper-source">
        <div class="editor"
             id="editor-source"
             data-print-margin-column="{{ config.user.getint('editor-print-margin-column') }}">
        </div>
    </div>
    <form class="editor-save" action="{{ url_for('source') }}" method="post">
        <input type="submit" value="Save">
    </form>
    {% endif %}
{% endblock %}
