{% extends "_layout.html" %}
{% set active_page = 'statistics' %}

{% import '_account_macros.html' as account_macros with context %}

{% block content %}
    <h1>Statistics</h1>

    {% set statistics = api.statistics() %}

    <div class="left statistics">
        <h3>Postings per Account</h3>
        <table class="statistics sortable">
            <thead>
                <tr>
                    <th data-sort="string">Type</th>
                    <th data-sort="int" class="sorting-desc"># Entries</th>
                </tr>
            </thead>
            <tbody>
                {% for account_name, num in statistics.postings_by_account|dictsort(false, 'value')|reverse %}
                    <tr>
                        <td><a href="{{ url_for('account_with_journal', name=account_name) }}">{{ account_name }}</a></td>
                        <td class="num">{{ num }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="num">{{ statistics.postings_by_account_total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    {% set status_sortorder = { 'red': 5, 'yellow': 4, 'green': 3, '': 2 } %}
    <div class="left statistics">
        <h3>Update Activity per Account<input type="submit" class="right" id="copy-balances" value="Copy balance directives" title="Click to copy balance directives for accounts (except green ones) to the clipboard:

        {% for activity in statistics.activity_by_account %}
            {% if uptodate_eligible(activity.account) %}
                {% with status=api.is_account_uptodate(activity.account, look_back_days=config.user.getint('uptodate-indicator-grey-lookback-days')) %}
                    {% if status != "green" %}
                        {% with account_inventory=api.inventory(activity.account) %}
                            {% include "_balance_directive.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        "></h3>
        <table class="statistics statistics-update-activity sortable">
            <thead>
                <tr>
                    <th data-sort="string" class="sorting-asc">Account</th>
                    <th data-sort="float" data-sort-default="desc"></th>
                    <th data-sort="string" data-sort-default="desc"></th>
                    <th data-sort="string">Last Entry</th>
                    <th data-sort="float">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in statistics.activity_by_account %}
                    <tr>
                        <td><a href="{{ url_for('account_with_journal', name=activity.account) }}">{{ activity.account }}</a></td>
                        {% if uptodate_eligible(activity.account) %}
                            {% with status=api.is_account_uptodate(activity.account, look_back_days=config.user.getint('uptodate-indicator-grey-lookback-days')) %}
                                <td data-sort-value="{{ status_sortorder[status] }}" class="uptodate-indicator">
                                    {% with account_inventory=api.inventory(activity.account)  %}
                                        <span class="status-indicator status-{{ status }}" title="{{ account_macros.infotext[status] }}
                                        {%- if account_inventory|length > 0 %}



Click to copy the balance directives to the clipboard:

                                            {% include "_balance_directive.html" %}
                                        {%- endif %}" data-clipboard-text="{% include "_balance_directive.html" %}"></span>
                                    {% endwith %}
                                </td>
                            {% endwith %}
                            <td class="uptodate-indicator">{{ account_macros.last_account_activity(activity.account) }}</td>
                        {% else %}
                        <td data-sort-value="0" class="uptodate-indicator"></td>
                        <td class="uptodate-indicator"></td>
                        {% endif %}
                        <td><a href="{{ url_for_source(file_path=activity.last_posting_filename, line=activity.last_posting_lineno) }}" title="Show source {{ activity.last_posting_filename }}:{{ activity.last_posting_lineno }}">{{ activity.last_posting_date }}</a></td>
                        <td class="num">
                            {%- for position in api.inventory(activity.account) -%}
                                {{ position.units.number|format_currency }} {{ position.units.currency }}{% if not loop.last %}<br>{% endif %}
                            {% endfor -%}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="left statistics">
        <h3>Directive Type</h3>
        <table class="statistics sortable">
            <thead>
                <tr>
                    <th data-sort="string">Type</th>
                    <th data-sort="int" class="sorting-desc"># Entries</th>
                </tr>
            </thead>
            <tbody>
                {% for type, num in statistics.entries_by_type|dictsort(false, 'value')|reverse %}
                    <tr>
                        <td>{{ type }}</td>
                        <td class="num">{{ num }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="num">{{ statistics.entries_by_type_total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
