{% extends "_layout.html" %}
{% set active_page = 'statistics' %}

{% import 'macros/_account_macros.html' as account_macros with context %}

{% macro copy_balance_directives_text() -%}
    {% for account in api.all_accounts_active -%}
        {% if account|uptodate_eligible %}
            {%- if api.account_uptodate_status(account) != "green" -%}
                {{- account_macros.balance_directive(account) }}
            {%- endif -%}
        {% endif %}
    {%- endfor -%}
{%- endmacro %}

{% block content %}
    {% set postings_by_account = api.postings_by_account() %}

    <div class="left">
        <h3>{{ _('Postings per Account') }}</h3>
        <table class="sortable">
            <thead>
                <tr>
                    <th data-sort="string">{{ _('Account') }}</th>
                    <th data-sort="num" data-order="desc">{{ _('# Postings') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for account_name, num in postings_by_account|dictsort(false, 'value')|reverse %}
                    <tr>
                        <td class="account"><a href="{{ url_for('account', name=account_name) }}">{{ account_name }}</a></td>
                        <td class="num">{{ num }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>{{ _('Total') }}</td>
                    <td class="num">{{ postings_by_account.values()|sum }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    {% set status_sortorder = { 'red': 5, 'yellow': 4, 'green': 3, '': 2 } %}
    <div class="left">
        <h3>{{ _('Update Activity') }}<button type="button" class="right" id="copy-balances" value="" title="
        {{- _('Click to copy balance directives for accounts (except green ones) to the clipboard.') -}}
        " data-clipboard-text="{{ copy_balance_directives_text() }}">{{ _('Copy balance directives') }}</button></h3>
        <table class="statistics-update-activity sortable">
            <thead>
                <tr>
                    <th data-sort="string" data-order="asc">{{ _('Account') }}</th>
                    <th data-sort="num" data-sort-default="desc"></th>
                    <th data-sort="num" data-sort-default="desc"></th>
                    <th data-sort="string">{{ _('Last Entry') }}</th>
                    <th>{{ _('Balance') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for account in api.all_accounts_active %}
                    {% if account.startswith(api.options['name_assets']) or account.startswith(api.options['name_liabilities']) %}
                    {% set last_entry = api.last_entry(account) %}
                    {% if last_entry %}
                    <tr>
                        <td class="account"><a href="{{ url_for('account', name=account) }}">{{ account }}</a></td>
                        {% if account|uptodate_eligible %}
                            <td data-sort-value="{{ status_sortorder[api.account_uptodate_status(account) or ''] }}" class="uptodate-indicator">{{ account_macros.indicator(account) }}</td>
                            <td class="uptodate-indicator">{{ account_macros.last_account_activity(account) }}</td>
                        {% else %}
                            <td data-sort-value="0" class="uptodate-indicator"></td>
                            <td class="uptodate-indicator"></td>
                        {% endif %}
                        <td><a href="{{ url_for_source(file_path=last_entry.meta['filename'], line=last_entry.meta['lineno']) }}" title="Show source {{ last_entry.meta['filename'] }}:{{ last_entry.meta['lineno'] }}">{{ last_entry.date }}</a></td>
                        <td class="num">
                            {%- for position in (api.root_account|get_or_create(account)).balance -%}
                                {{ position.units|format_amount }}<br>
                            {% endfor -%}
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="left">
        <h3>{{ _('Entries per Type') }}</h3>
        <table class="sortable">
            <thead>
                <tr>
                    <th data-sort="string">{{ _('Type') }}</th>
                    <th data-sort="num">{{ _('# Entries') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for group in api.entries|groupby('__class__.__name__') %}
                <tr>
                    <td>{{ group.grouper }}</td>
                    <td class="num">{{ group.list|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>{{ _('Total') }}</td>
                    <td class="num">{{ api.entries|length }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
