{% extends "_layout.html" %}
{% set active_page = 'trial_balance' %}

{% block content %}
    <h1>Trial Balance</h1>
    {% set trial_balance = api.trial_balance() %}

    {% include "charts/_chart_skeleton.html" %}

    {% for base_account in ['expenses', 'income', 'assets', 'equity', 'liabilities'] %}
        {% set balance = api.treemap_data(options['name_{}'.format(base_account)]) %}
        {% with label=balance.label, rows=balance.balances, modifier=balance.modifier %}
            {% include "charts/_chart_treemap.html" %}
        {% endwith %}
    {% endfor %}

    {% with table_title=None, currencies=trial_balance.currencies, table_data=trial_balance, totals=False %}
        {% include "_tree_table.html" %}
    {% endwith %}
{% endblock %}
