{% extends "_layout.html" %}
{% set active_page = 'trial_balance' %}

{% import "charts/_charts.html" as charts with context %}

{% block content %}
    <h1>Trial Balance</h1>

    {% with hide_interval_filter=True  %}
        {% include "charts/_chart_skeleton.html" %}
    {% endwith %}

    {% for base_account in ['expenses', 'income', 'assets', 'equity', 'liabilities'] %}
        {{ charts.treemap(api.options['name_{}'.format(base_account)]) }}
    {% endfor %}

    {% with table_title=None, real_accounts=api.trial_balance(), totals=False %}
        {% include "_tree_table.html" %}
    {% endwith %}

{% endblock %}
