{% extends "_layout.html" %}
{% set active_page = 'trial_balance' %}

{% block content %}
    {{ charts.skeleton(hide_interval_filter=True) }}

    {% for base_account in ['expenses', 'income', 'assets', 'equity', 'liabilities'] %}
        {{ charts.hierarchy(api.options['name_{}'.format(base_account)]) }}
    {% endfor %}

    <div class="halfleft">
    {% with table_title=None, real_accounts=api.trial_balance(), totals=False %}
        {% include "_tree_table.html" %}
    {% endwith %}
    </div>
{% endblock %}
