{% set chart_data = [] %}

{% macro hierarchy(account_name, begin_date=None, end_date=None, label=None) %}
{% do chart_data.append(chart_api.hierarchy(account_name, begin_date, end_date, label)) %}
{% endmacro %}

{% macro interval_totals(interval, account_name, label=None, invert=False) %}
{% do chart_data.append(chart_api.interval_totals(interval, account_name, label, invert)) %}
{% endmacro %}

{% macro net_worth(interval) %}
{% do chart_data.append(chart_api.net_worth()) %}
{% endmacro %}

{% macro account_balance(account_name) %}
{% do chart_data.append(chart_api.account_balance(account_name)) %}
{% endmacro %}
