{% import "_charts.html" as charts with context %}
{% set all_pages = {
    'balance_sheet':    _('Balance Sheet'),
    'errors':           _('Errors'),
    'help':             _('Help'),
    'holdings':         _('Holdings'),
    'income_statement': _('Income Statement'),
    'journal':          _('Journal'),
    'options':          _('Options'),
    'statistics':       _('Statistics'),
    'trial_balance':    _('Trial Balance'),
} %}
{% set page_title = all_pages.get(active_page, "") if not page_title else page_title %}
{% set partial = request.args.get('partial') %}
{% if not partial %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
    <link rel="stylesheet" href="{{ static_url('app.css') }}">
    <title>{{ page_title }} - {{ ledger.options.title }}</title>
    <script type="module" src="{{ static_url('app.js') }}"></script>
  </head>
  <body>
    <!-- <header> and <aside> get inserted here -->
    <article>
      {%- endif %}
      <svelte-component type="charts"></svelte-component>
      {% if not client_side_rendered %}
        {% block content %}
          {% if content %}
            {{ content }}
          {% else %}
            {% include active_page + '.html' %}
          {% endif %}
        {% endblock %}
      {% endif %}
      <script type="application/json" id="chart-data">{{ charts.chart_data|tojson }}</script>
      <script type="application/json" id="page-title">{{ page_title|tojson }}</script>
      {% if partial %}<script type="application/json" id="ledger-mtime">{{ ledger.mtime|tojson }}</script>{% endif %}
      {%- if not partial %}
    </article>
    <script type="application/json" id="ledger-data">{{ get_ledger_data()|tojson }}</script>
    <script type="application/json" id="ledger-mtime">{{ ledger.mtime|tojson }}</script>
    <script type="application/json" id="translations">{{ translations()|tojson }}</script>
  </body>
</html>
{%- endif %}
