{% import '_tree_table.html' as tree_table with context %}

{{ charts.net_worth(g.interval) }}
{{ charts.hierarchy(ledger.options['name_assets']) }}
{{ charts.hierarchy(ledger.options['name_liabilities']) }}
{{ charts.hierarchy(ledger.options['name_equity']) }}

{% set root_tree_closed = ledger.root_tree_closed %}

<div class="row">
  <div class="column">
    {{ tree_table.tree(root_tree_closed.get(ledger.options['name_assets'])) }}
  </div>
  <div class="column">
    {{ tree_table.tree(root_tree_closed.get(ledger.options['name_liabilities'])) }}
    {{ tree_table.tree(root_tree_closed.get(ledger.options['name_equity'])) }}
  </div>
</div>
