{% import '_tree_table.html' as tree_table with context %}

<svelte-component type="charts"><script type="application/json">{{
  [
    chart_api.hierarchy(ledger.options['name_expenses']),
    chart_api.hierarchy(ledger.options['name_income']),
    chart_api.hierarchy(ledger.options['name_assets']),
    chart_api.hierarchy(ledger.options['name_liabilities']),
    chart_api.hierarchy(ledger.options['name_equity']),
  ]|tojson
}}</script></svelte-component>

{{ tree_table.tree(g.filtered.root_tree.get('')) }}
