.aside-button {
  z-index: var(--z-index-floating-ui);
  display: none;
  background-color: var(--color-sidebar-background);
}

.aside-button:hover {
  background-color: var(--color-sidebar-background);
}

aside {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  z-index: var(--z-index-aside);
  width: var(--aside-width);
  padding-top: 0.5rem;
  margin: 0;
  overflow-y: auto;
  color: var(--color-sidebar-text);
  background-color: var(--color-sidebar-background);
  border-right: 1px solid var(--color-sidebar-border);
}

aside .navigation {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-sidebar-border);
}

aside .navigation:last-child {
  margin-bottom: 0;
  border: none;
}

aside .navigation a {
  display: block;
  padding: 0.25em 0.5em 0.25em 1em;
  color: inherit;
}

aside .navigation a.selected,
aside .navigation a:hover {
  color: var(--color-sidebar-text-hover);
  background-color: var(--color-sidebar-border);
}

aside .navigation .secondary {
  padding: 4px 9px 2px 9px;
  line-height: 23px;
  color: inherit;
  background-color: var(--color-sidebar-background);
}

aside .navigation .add-transaction-button {
  font-size: 23px;
}

aside .navigation li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

aside .navigation li a:first-child {
  flex: 1;
}

aside .navigation .error {
  background-color: var(--color-error);
}

aside .navigation li.error a {
  color: var(--color-sidebar-background);
}

aside .navigation .submenu li a {
  padding-left: 35px;
}

aside .navigation .submenu {
  width: 100%;
  margin: 0;
}

aside .navigation .submenu li {
  font-size: 0.95em;
  line-height: 0.95em;
}

aside .navigation .submenu a.selected,
aside .navigation .submenu a:hover {
  filter: brightness(85%);
}

aside .navigation .error a.selected,
aside .navigation .error a:hover {
  background-color: var(--color-error);
  filter: brightness(80%);
}

aside .navigation .bubble {
  float: right;
  padding: 0 8px;
  font-size: 0.9em;
  color: var(--color-sidebar-text);
  background-color: var(--color-sidebar-border);
  border-radius: 12px;
}

aside .navigation .error .bubble {
  background-color: var(--color-transparent-white);
}
