/* Editor */

.cm-gutters {
  background: var(--color-sidebar-background);
  border-right: 1px solid var(--color-sidebar-border);
}

.cm-editor {
  z-index: var(--z-index-editor);
}

.cm-editor.cm-editor .cm-scroller {
  font-family: var(--font-family-editor);
}

.cm-editor.cm-editor .cm-placeholder {
  color: var(--color-placeholder);
}
