/* Editor */

:root {
  --source-editor-fieldset-height: 44px;
}

.CodeMirror-gutters {
  background: var(--color-sidebar-background);
  border-right: 1px solid var(--color-sidebar-border);
}

.CodeMirror.CodeMirror {
  z-index: var(--z-index-editor);
  margin-bottom: 1em;
  font: 13px var(--font-family-editor);
  border: 1px solid var(--color-sidebar-border);
}

.cm-trailingspace {
  background-color: var(--color-editor-trailing-whitespace);
}

.cm-section {
  padding-right: 10px;
  font-weight: 500;
  color: var(--color-editor-comment);
  border: solid 1px var(--color-editor-comment);
  border-radius: 2px;
}

.cm-comment {
  color: var(--color-editor-comment);
}

.cm-date {
  color: var(--color-editor-date);
}

.cm-directive {
  font-weight: 500;
  color: var(--color-editor-directive);
}

.cm-option {
  color: var(--color-editor-class);
}

.cm-account {
  color: var(--color-editor-account);
}

.cm-invalid {
  color: var(--color-editor-invalid);
}

.CodeMirror-hint {
  max-width: 600px;
}

.CodeMirror-hint .highlight {
  font-weight: 500;
}

.CodeMirror.CodeMirror .CodeMirror-placeholder {
  color: var(--color-placeholder);
}
