/* For the editor */
@import url("@fontsource/source-code-pro/400.css");
@import url("@fontsource/source-code-pro/500.css");

/* Interface fonts */
@import url("@fontsource/fira-mono/400.css");
@import url("@fontsource/fira-mono/500.css");
@import url("@fontsource/fira-sans/400.css");
@import url("@fontsource/fira-sans/500.css");
