/*
 * At resolutions smaller than 768px, hide the aside menu.
 * This means that ipads and larger will show the side menu.
 */
@media (width <= 767px) {
  body {
    padding: 0;
    font-size: 16px;
    transition: var(--transitions);
  }

  header {
    position: inherit;
    flex-wrap: wrap;
    height: auto;
    padding-left: 46px;
  }

  h1 {
    padding: 8px;
  }
}
