/* Notifications */
.notifications {
  position: fixed;
  top: calc(var(--header-height) + 10px);
  right: 10px;
  width: 400px;
}

.notifications li {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 0.5em;
  color: var(--notification-color);
  cursor: pointer;
  background-color: var(--green);
}

.notifications .error {
  background-color: var(--error);
}

.notifications .warning {
  color: var(--text-color);
  background-color: var(--yellow);
}
