/* Collapsible trees
 *
 * some of the shared styles are in `journal-table.css`
 */

.tree-table p {
  margin-top: -1px;
}

.tree-table p > span {
  margin-right: -1px;
  border: 1px solid var(--table-border);
}

.tree-table .num {
  width: 10em;
}

.tree-table .other {
  width: 13em;
}

/* For two or more operating currencies, set a slightly smaller size. */
.two-currencies {
  font-size: 0.9em;
}

.two-currencies .num {
  width: 8em;
}

.two-currencies .other {
  width: 11em;
}
