    <script>
        window.allAccounts = {{ api.all_accounts_leaf_only|safe }};
        window.allCommodities = [{% for commodity in options['commodities'] %}{ name: '{{ commodity }}'},{% endfor %}];
        window.allTags = [{% for tag in api.active_tags %}{ name: '{{ tag }}'},{% endfor %}];
        {% if config.get('editor-insert-marker') %}
        window.editorInsertMarker = "{{ config.get('editor-insert-marker') }}";
        {% endif %}
    </script>
{% assets "vendor/ace-js/ace.js",
          "vendor/ace-js/ext-searchbox.js",
          "vendor/ace-js/ext-language_tools.js",
          "vendor/ace-js/mode-beancount.js",
          "vendor/ace-js/mode-sql.js",
          "vendor/ace-js/theme-chrome.js",
          "javascript/editor.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
