// Chartist

@import "../vendor/chartist-js/scss/chartist";

.charts {
    .ct-series-a, .ct-series-b, .ct-series-c, .ct-series-d, .ct-series-e {
        .ct-line { stroke-width: 3px; }
        .ct-point { stroke-width: 6px; }

        .ct-bar { stroke-width: 14px; }
    }

    .ct-series-a {
        .ct-line, .ct-point, .ct-bar { stroke: #990000; }
    }

    .ct-series-b {
        .ct-line, .ct-point, .ct-bar { stroke: #113861; }
    }

    .ct-series-c {
        .ct-line, .ct-point, .ct-bar { stroke: #777; }
    }

    .ct-series-d {
        .ct-line, .ct-point, .ct-bar { stroke: #1B9900; }
    }

    .ct-series-e {
        .ct-line, .ct-point, .ct-bar { stroke: #FF8800; }
    }

    .ct-label {
      font-size: 11px;
      font-weight: bold;
    }

    .chart-labels {
        color: rgba(0, 0, 0, 0.2);
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;

        label {
            color: rgba(0, 0, 0, 0.3);
            padding: 0 5px;

            &:hover {
                text-decoration: underline;
                color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }

            &.selected { color: rgba(0, 0, 0, 0.5); }
        }
    }
}
