{% set show_charts = config.user.getboolean('charts-show') %}
<div class="charts">
    <div class="chart-filter">
        <form>
            <input type="submit" id="toggle-chart" value="{% if show_charts %}Hide{% else %}Show{% endif %} charts">
        </form>
    </div>
    <div id="chart-container" class="chart-container{% if not show_charts %} hidden{% endif %}">
        <div class="loading">Loading charts&hellip;</div>
    </div>
    <div id="chart-labels" class="chart-labels{% if not show_charts %} hidden{% endif %}"> </div>
</div>
