{% import 'macros/_interval_macros.html' as interval_macros with context %}

<script>
{% for currency in operating_currencies %}
    window.chartData.push({
        label: "Net Worth ({{ interval_macros.interval_label|lower }}, in {{ currency }})",
        type: "line",
        options: {
            dateFormat: "{{ interval_macros.interval_format_str }}",
            axisY: {
                offset: 60,
                position: 'end',
                labelInterpolationFnc: function(value) {
                    return formatCurrency(value)
                }
            }
        },
        data: {
            series: [{
                name: '{{ currency }}',
                data: [
                    {% for row in net_worth.interval_totals %}
                        {
                            x: new Date({{ row.date.year }}, {{ row.date.month-1 }}, {{ row.date.day }}),
                            y: {{ row.totals[currency] or 0 }},
                            meta: "{{ row.totals[currency]|format_currency }} {{ currency }}<br><em>{{ interval_macros.format_date(row.date) }}</em>"
                        },
                    {% endfor %}
                ]
            }]
        }
    });
{% endfor %}
</script>
