{% import 'macros/_interval_macros.html' as interval_macros with context %}

{% set show_charts = config['charts-show'] %}
<div class="charts">
    <div class="chart-filter">
        <form>
            {% if not hide_interval_filter %}
                <select name="chart-interval" id="chart-interval">
                    <option value="{{ url_for_current(interval='day') }}"{% if interval_macros.interval == 'day' %} selected="selected"{% endif %}>Daily</option>
                    <option value="{{ url_for_current(interval='week') }}"{% if interval_macros.interval == 'week' %} selected="selected"{% endif %}>Weekly</option>
                    <option value="{{ url_for_current(interval='month') }}"{% if interval_macros.interval == 'month' %} selected="selected"{% endif %}>Monthly</option>
                    <option value="{{ url_for_current(interval='quarter') }}"{% if interval_macros.interval == 'quarter' %} selected="selected"{% endif %}>Quarterly</option>
                    <option value="{{ url_for_current(interval='year') }}"{% if interval_macros.interval == 'year' %} selected="selected"{% endif %}>Yearly</option>
                </select>
            {% endif %}
            <input type="submit" id="toggle-chart" value="{% if show_charts %}Hide{% else %}Show{% endif %} charts">
        </form>
    </div>
    <div id="chart-container" class="chart-container{% if not show_charts %} hidden{% endif %}">
        <div class="loading">Loading charts&hellip;</div>
    </div>
    <div id="chart-labels" class="chart-labels{% if not show_charts %} hidden{% endif %}"> </div>

    <script>
        window.interval = "{{ interval_macros.interval }}";
        {# window.intervalLabel = "{{ interval_macros.interval_label }}"; #}
        {# window.intervalFormatStr = "{{ interval_macros.interval_format_str }}"; #}
    </script>
</div>
