<script>
    window.chartData.push({
        label: "{{ label }}",
        type:  "bar",
        options: {
            dateFormat: "YYYY",
            axisY: {
                offset: 60,
                position: 'end',
                labelInterpolationFnc: function(value) {
                    return formatCurrency(value)
                }
            }
        },
        data: {
            labels: [
                {% for total in yearly_totals %}
                new Date({{ total.end_date.year }}, {{ total.end_date.month - 1}}, {{ total.begin_date.day }}),
                {% endfor %}
            ],
            series: [
                {% for currency in operating_currencies %}
                {
                    name: "{{ currency }}",
                    data: [
                        {% for total in yearly_totals %}
                            {
                                y: {{ total.totals[currency] or 0 }},
                                meta: "{{ total.totals[currency]|format_currency or 0.00 }} {{ currency }}<br><em>{{ total.begin_date.strftime("%Y") }}</em>"
                            },
                        {% endfor %}
                    ],
                },
                {% endfor %}
            ]
        }
    });
</script>
