{% import 'macros/_interval_macros.html' as interval_macros with context %}
<script>
    window.chartData.push({
        label: "{{ interval_macros.interval_label }} {{ label }}",
        type:  "bar",
        options: {
            dateFormat: "{{ interval_macros.interval_format_str }}",
            axisY: {
                offset: 60,
                position: 'end',
                labelInterpolationFnc: function(value) {
                    return formatCurrency(value)
                }
            }
        },
        data: {
            labels: [
                {% for total in interval_totals %}
                new Date({{ total.begin_date.year }}, {{ total.begin_date.month-1 }}, {{ total.begin_date.day }}),
                {% endfor %}
            ],
            series: [
                {% for currency in operating_currencies %}
                {
                    name: "{{ currency }}",
                    data: [
                        {% for total in interval_totals %}
                            {
                                y: {{ total.totals[currency] or 0 }},
                                meta: "{{ total.totals[currency]|format_currency or 0.00 }} {{ currency }}<br><em>{{ interval_macros.format_date(total.begin_date) }}</em>"
                            },
                        {% endfor %}
                    ],
                },
                {% endfor %}
            ]
        }
    });
</script>
