<script>
    window.chartData.push({
        label: "Account balance",
        type: "line",
        options: {
            axisY: {
                offset: 60,
                position: 'end',
                labelInterpolationFnc: function(value) {
                    return formatCurrency(value)
                }
            }
        },
        data: {
            series: [
                {% for currency in operating_currencies %}
                    {
                        name: '{{ currency }}',
                        data: [
                            {% for row in linechart_data %}
                                {% if currency in row.balance %}
                                {
                                    x: new Date({{ row.date.year }}, {{ row.date.month-1 }}, {{ row.date.day }}),
                                    y: {{ row.balance[currency] }},
                                    meta: "{{ row.balance[currency]|format_currency }} {{ currency }}<br><em>{{ row.date.strftime('%Y-%m-%d') }}</em>"
                                },
                                {% endif %}
                            {% endfor %}
                        ]
                    },
                {% endfor %}
            ]
        }
    });
</script>
