.chart-labels {
  color: var(--color-text-lightest);
  font-size: 1em;
  line-height: 14px;
  margin-bottom: 20px;
  margin-top: 8px;
  position: relative;
  text-align: center;

  & label {
    padding: 0 5px;

    &:hover {
      color: var(--color-text-lighter);
      cursor: pointer;
    }

    &.selected { color: var(--color-text-lighter); }
  }

  & label + label { border-left: 1px solid var(--color-text-lighter); }
}

.toggle-chart {
  padding: 4px 6px;
  position: absolute;
  right: 19px;
  top: 19px;

  & span {
    border: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 13px solid var(--color-background);
    display: block;
  }

  &.hide-charts span {
    border: 0;
    border-bottom: 13px solid var(--color-background);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
  }
}

.charts form {
  display: flex;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 35px;

  & > span,
  & > select {
    margin-right: 10px;
  }
}

.chart-container {
  min-height: 100px;
  position: relative;
}

.chart-legend {
  flex-grow: 1;

  & .color {
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
  }

  & .name {
    margin: 0 6px 0 3px;
  }
}

.chart > p,
.loading {
  color: var(--color-text-lightest);
  font-style: italic;
  padding-top: 30px;
  text-align: center;
}

svg {
  & text {
    fill: var(--color-text-lightest);
  }

  & .line {
    fill: none;
    stroke-width: 2px;
  }

  & .axis {
    & path,
    & line {
      fill: none;
      shape-rendering: crispEdges;
      stroke: var(--color-chart-axis);
    }

    &.y line {
      stroke: var(--color-chart-axis);
      stroke-dasharray: 2, 2;
    }
  }
}

.voronoi {
  & path {
    fill: none;
    pointer-events: all;
  }
}

.treemap {
  shape-rendering: crispEdges;

  & rect {
    stroke: var(--color-treemap-text);
    stroke-width: 2px;
  }

  & text {
    cursor: pointer;
  }
}

.sunburst {
  & .account {
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
  }

  & .balance {
    font-family: var(--font-family-monospaced);
    font-size: 14px;
  }

  & path {
    cursor: pointer;
  }
}

.barchart {
  & .group {
    &:hover .group-box {
      opacity: .1;
    }
  }

  & .axis-group-box {
    cursor: pointer;
    opacity: 0;
  }

  & .group-box {
    opacity: 0;
  }

  & .budget {
    opacity: .3;
  }
}

.tooltip {
  background: var(--color-background);
  border: 1px solid var(--color-background-darkest);
  box-shadow: 0 0 5px var(--color-background-darker);
  font-family: var(--font-family-monospaced);
  min-width: 5em;
  opacity: 0;
  padding: .5em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -100%);
  z-index: 12;

  &::before {
    border: 15px solid transparent;
    border-top-color: var(--color-background-darkest);
    content: '';
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    top: 100%;
    width: 0;
  }

  & em {
    color: var(--color-text-lightest);
    display: block;
    font-family: var(--font-family);
    margin-top: 5px;
  }
}
