.entry-form {
  margin-bottom: 0.5rem;
}

.entry-form button,
.entry-form input {
  margin: 0;
}

.entry-form > * + * {
  margin-top: 0.5rem;
}

.entry-form .fieldset > * + * {
  margin-left: 0.5rem;
}

.entry-form .account,
.entry-form input[name="narration"] {
  flex-basis: 200px;
  flex-grow: 1;
  min-width: 20em;
}

.remove-fieldset {
  opacity: 0;
}

.fieldset:hover .remove-fieldset {
  opacity: 1;
}

.ingest-row .source pre {
  font-size: 0.9em;
  white-space: pre-wrap;
}

.ingest-row.duplicate {
  opacity: 0.5;
}
