.entry-form {
  margin-bottom: 0.5rem;
}

.entry-form button,
.entry-form input {
  margin: 0;
}

.entry-form > * + * {
  margin-top: 0.5rem;
}

.entry-form .fieldset > * + * {
  margin-left: 0.5rem;
}

.entry-form .account {
  flex-basis: 200px;
  flex-grow: 1;
  min-width: 20em;
}

.remove-fieldset {
  opacity: 0;
}

.fieldset:hover .remove-fieldset {
  opacity: 1;
}
