.event-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .event-container {
        justify-content: center;
    }
}

.event-table {
    flex: 0 1 400px;
}

.event-table > div > h3 {
}

.event-table > div > table {
    width: 100%;
}
