/* For the editor */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: normal;
  src: url("./source-code-pro-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  src: url("./source-code-pro-latin-500.woff2") format("woff2");
}

/* Interface fonts */
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: normal;
  src: url("./fira-mono-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  src: url("./fira-mono-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./fira-sans-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fira-sans-latin-500.woff2") format("woff2");
}

/* The help pages */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: normal;
  src: url("./source-serif-pro-400.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  src: url("./source-serif-pro-600.woff2") format("woff2");
}
