@import 'awesomplete/awesomplete';

:root {
  --color-header-text-half: color(var(--color-header-text) alpha(50%)));
  --color-text-transparent: color(var(--color-text) alpha(20%));
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

header > svg {
  &.loading {
    animation: spinner 1s linear infinite;
    border-radius: 50%;
    border-top: 2px solid var(--color-header-text);
    padding: 0;

    & path {
      opacity: 0;
    }
  }
}

h1 {
  color: var(--color-header-text);
  display: block;
  flex: 1;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  max-height: var(--header-height);
  overflow: hidden;
  padding: calc((var(--header-height) - 16px) / 2) 10px;

  & .droptarget {
    margin-left: -.6em;
    padding: .6em;
  }

  & a:hover,
  & a:link,
  & a:visited {
    color: inherit;
  }

  & .last-activity {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
    opacity: .8;
  }

  & .status-indicator {
    border-radius: 10px;
    height: 10px;
    margin: 0 0 0 10px;
    width: 10px;

    &.status-gray { margin-left: 0; }
  }

  &:hover {
    & .beancount-files {
      display: block;
    }
  }
}

.page-title::before {
  color: var(--color-header-text-half);
  content: '›';
  font-weight: normal;
  margin: 0 10px;
}

.reload-page {
  background-color: var(--color-warning);
  color: var(--color-header-text);
  margin-left: 2em;
  padding: 8px 12px;
}

.beancount-files {
  background-color: var(--color-background);
  border: 1px solid var(--color-background-darker);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 6px var(--color-text-transparent);
  color: var(--color-links);
  display: none;
  left: 19px;
  position: absolute;
  top: var(--header-height);
  width: 20em;
  z-index: 10;

  & ul {
    margin-bottom: 0;
    max-height: 400px;
    overflow-y: auto;
  }

  & a {
    cursor: pointer;
    display: block;
    padding: 8px 12px 8px 28px;

    &.active,
    &:hover {
      background-color: var(--color-links);
      color: var(--color-background);
    }

    &.active {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAAQMGHjE8P0Bfi6Omt9Hi7/XCzsNoAAAAO0lEQVQI143HSxZAMBAAwQ5CfEPf/7AWHmZH7Qr+aMcmZHONcQa6PV9ZEnBofsKg1jtQ9A2UGOinxKcT2psCetpsGdwAAAAASUVORK5CYII=');
      background-position: 9px center;
      background-repeat: no-repeat;
    }
  }
}

.filter-form {
  color: var(--color-text);
  display: flex;
  margin: 0;
  padding-bottom: 2px;

  & > span {
    margin-bottom: 3px;
    margin-top: 3px;
    position: relative;
  }

  & input {
    background-color: var(--color-background);
    border: 0;
    height: 36px;
    line-height: 36px;
    margin-left: 4px;
    max-width: 15rem;
    padding: 0 25px 0 10px;
  }

  & [type='text'] {
    &:placeholder-shown,
    &::placeholder {
      color: color(var(--color-header) tint(50%));
      opacity: 1;
    }

    outline: none;

    &:focus {
      &:placeholder-shown,
      &::placeholder {
        color: color(var(--color-header) tint(50%));
      }

      background-color: var(--color-background);
      color: var(--color-text);
    }
  }

  & [type='submit'] {
    background-color: color(var(--color-header) tint(10%));
    margin-left: 4px;
  }

  & .empty {
    & input {
      background-color: color(var(--color-header) tint(20%));
    }

    & .close {
      display: none;
    }
  }

  & .close {
    background-color: var(--color-background-darkest);
    border-radius: 9px;
    display: block;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    position: absolute;
    right: 7px;
    top: 9px;
    width: 18px;
  }

  & .awesomplete {
    & ul {
      border-radius: 0;
      opacity: 1;
      padding: 2px 0;
      transition: none;
    }

    & li {
      line-height: 1.5em;
      min-width: 8rem;
      padding: 0 10px;
      position: relative;
      white-space: nowrap;

      &:hover {
        background-color: var(--color-links);
        color: var(--color-background);
      }
    }
  }
}
