.ingest-row {
  border-bottom: thin solid var(--color-table-header-background);
  display: flex;
  padding: 10px 0;

  & .line {
    line-height: 28px;
    min-width: 40px;
    text-align: center;
  }

  & .source {
    flex-grow: 1;
    margin-right: .5em;
    overflow: auto;

    & pre {
      font-size: .9em;
    }
  }

  & .entry-form {
    flex-shrink: 0;
    min-width: 600px;
  }

  & input[name='payee'] {
    width: 140px;
  }

  & .actions {
    font-size: .8em;
    width: 60px;

    & .inner {
      min-width: 100px;
      text-align: left;
      transform: rotate(90deg);
      transform-origin: 30% 50%;
    }

    & label {
      display: inline-block;
    }
  }

  &.header {
    background: var(--color-table-header-background);
    color: var(--color-table-header-text);
    line-height: 1.5em;
    padding: 0;

    & > div {
      padding: 3px 5px;
    }

    & .line {
      line-height: inherit;
    }
  }

  &.duplicate,
  &.ignore {
    opacity: .5;
  }

  &.duplicate,
  &.import {
    background: var(--color-ingest);
  }
}

.ingest-footer {
  margin-top: 10px;
}
