.tree-table,
.journal-table {
  & p,
  & li,
  & ul,
  & ol {
    margin: 0;
    padding: 0;
  }

  & p {
    display: flex;

    & > span {
      flex-shrink: 0;
      margin: 0;
      padding: 2px 3px;
    }
  }

  & a {
    text-decoration: none;
  }

  & .num {
    color: var(--color-text);
    font-family: var(--font-family-monospaced);
    text-align: right;
  }

  & .head {
    & p > span {
      background-color: var(--color-table-header-background);
      color: var(--color-table-header-text);
      padding: 3px 5px;
    }

    & .num {
      background-color: var(--color-table-header-background);
      color: var(--color-table-header-text);
      font-family: var(--font-family);
      text-align: inherit;
    }
  }

  & .totals p > span {
    background-color: var(--color-table-header-background);
    color: var(--color-table-header-text);
  }
}

.journal-table {
  & p,
  & dl {
    border-bottom: thin solid var(--color-table-border);
  }

  /* Journal entry types (li) */
  & .open { background-color: var(--color-journal-entry-open); }
  & .close { background-color: var(--color-journal-entry-close); }
  & .query { background-color: var(--color-journal-entry-note); }
  & .pad { background-color: var(--color-journal-entry-pad); }

  & .note { background-color: var(--color-journal-entry-note); }
  & .note label { color: color(var(--color-journal-entry-note) shade(50%)); }

  & .balance { background-color: var(--color-journal-entry-balance); }
  & .balance.fail { background-color: var(--color-journal-entry-txn-pending); }

  & .other { background-color: var(--color-journal-entry-txn-other); }
  & .pending { background-color: var(--color-journal-entry-txn-pending); }

  & .postings {
    background-color: var(--color-journal-entry-open);
    font-size: .9em;
    opacity: .8;

    & .num { line-height: 16px; }

    & .pending { background-color: var(--color-journal-entry-postingwarning); }
  }

  & .custom { background-color: var(--color-journal-entry-custom); }
  & .budget { background-color: var(--color-journal-entry-budget); }

  & .transaction { cursor: pointer; }

  &.grouped .head {
    margin-bottom: -1.2em;
  }

  & .group {
    background-color: var(--color-journal-entry-group);
    font-size: .9em;
    font-weight: bold;
    margin-top: 1.2em;
  }

  /* Metadata */
  & dl {
    font-size: .9em;
    margin: 0;
    padding: 2px 0 2px 8em;

    & dt,
    & dd {
      margin-bottom: 0;
    }

    & dt {
      color: var(--color-journal-metadata);
      margin-right: 10px;
      min-width: 80px;
      width: auto;
    }

    & dd {
      margin-left: 80px;
    }

    & a {
      font-weight: normal;
      &:hover { text-decoration: underline; }
    }
  }

  /* Table cells (span) */
  & p > .num {
    border-left: 1px solid var(--color-table-border);
    width: 9em;
  }

  & .datecell {
    padding-right: 0;
    width: 6em;
  }

  & .flag {
    text-align: center;
    width: 1.6em;
  }

  & .change { font-weight: 500; }

  & .description {
    flex: 1;

    & .separator {
      background-color: var(--color-text-lighter);
      display: inline-block;
      height: 4px;
      margin: 0 2px 2px 6px;
      width: 4px;
    }

    & .tag,
    & .link {
      display: inline-block;
      margin-right: 8px;
    }

    & .tag { color: var(--color-journal-tag); }
    & .link { color: var(--color-journal-link); }
  }

  & a:hover {
    filter: brightness(80%);
  }

  & .document {
    background-color: var(--color-journal-entry-document);

    & .account-link {
      color: color(var(--color-journal-tag-document) shade(15%));

      & span {
        color: color(var(--color-journal-tag-document) shade(25%));
      }
    }

    & .filename {
      margin-left: .3em;
    }

    & .tag { color: var(--color-journal-tag-document); }
    & .link { color: var(--color-journal-link-document); }
  }

  & .indicators {
    align-items: center;
    display: flex;
    flex-shrink: 3;
    flex-wrap: wrap;
    justify-content: flex-end;

    & span {
      background-color: var(--color-journal-indicator);
      border-radius: 3px;
      height: 6px;
      margin-right: 4px;
      padding: 0;
      width: 6px;
    }

    & .pending {
      background-color: var(--color-journal-entry-postingwarning);
    }

    & .metadata-indicator {
      border-radius: 20px;
      color: color(var(--color-journal-indicator) shade(30%));
      font-size: 10px;
      height: 16px;
      line-height: 16px;
      padding: 0 6px;
      text-transform: lowercase;
      width: auto;
    }
  }
}
