/*
 * At resolutions smaller than 768px, hide the aside menu.
 * This means that ipads and larger will show the side menu.
 */
@media (max-width: 767px) {
  body {
    padding: 0;
    transition: var(--transitions);
  }

  header {
    position: inherit;
    flex-wrap: wrap;
    height: auto;
    padding-left: 46px;
  }

  h1 {
    padding: 8px;
  }

  aside {
    top: 0;
    margin-left: calc(-1 * var(--aside-width));
    transition: var(--transitions);
  }

  aside.active {
    margin-left: 0;
  }

  .aside-button.aside-button {
    transition: var(--transitions);
  }

  .navigation .secondary {
    transition: var(--transitions);
  }

  .aside-button,
  .navigation .add-transaction-button {
    position: fixed;
    left: 0;
    width: 42px;
    height: 42px;
    padding: 6px 4px;
    text-align: center;
    border-color: var(--color-sidebar-border);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }

  .navigation .add-transaction-button {
    top: 42px;
    font-size: 30px;
    color: var(--color-mobile-button-text);
  }

  aside.active .add-transaction-button {
    left: var(--aside-width);
  }

  .aside-button {
    top: 0;
    display: block;
    margin-left: 0;
  }

  .aside-button.active {
    left: var(--aside-width);
    background-color: var(--color-sidebar-background);
    box-shadow: none;
  }
}
