/* Overlays */

:root {
  --overlay-wrapper-background: rgba(0, 0, 0, 0.5);
}

.overlay-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-overlay);
  display: none;
  align-items: center;
  justify-content: center;
  overflow: auto;
  cursor: pointer;
  background: var(--overlay-wrapper-background);
}

.overlay-wrapper.shown {
  display: flex;
}

.close-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-text-lighter);
}

.overlay {
  position: relative;
  display: flex;
  max-width: 767px;
  max-height: 100%;
  padding: 1.5em;
  margin: 0.5em;
  cursor: auto;
  background: var(--color-background);
  box-shadow: 0 0 20px var(--overlay-wrapper-background);
}

.overlay form,
.overlay > div {
  width: 100%;
}

.overlay strong {
  display: inline-block;
  margin: 6px 0 5px;
}

.overlay table {
  margin-right: auto;
  margin-left: auto;
}

.overlay dt {
  display: inline-block;
  float: left;
  width: auto;
  padding-right: 10px;
  font-weight: normal;
  line-height: 1.8em;
  text-align: right;
}

.overlay dd {
  line-height: 1.8em;
}

.overlay .fieldset label {
  width: 150px;
}

.overlay .fieldset[type="submit"] {
  margin: 0.5em 0.5em -0.5em 0;
}

.documents-upload .fieldset input {
  flex-grow: 1;
  min-width: 60%;
}

.transaction-overlay form > .fieldset button {
  margin-top: 0.7em;
  margin-bottom: 0;
}

.notifications {
  position: fixed;
  top: calc(var(--header-height) + 10px);
  right: 10px;
  width: 400px;
}

.notifications li {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 0.5em;
  color: var(--color-notification);
  background-color: var(--color-notification-info);
}

.notifications .error {
  background-color: var(--color-notification-error);
}

.notifications .warning {
  color: var(--color-text);
  background-color: var(--color-notification-warning);
}
