/* Overlays */

:root {
  --overlay-wrapper-background: rgba(0, 0, 0, .5);
}

.overlay-wrapper {
  align-items: center;
  background: var(--overlay-wrapper-background);
  bottom: 0;
  cursor: pointer;
  display: none;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-index-overlay);
}

.overlay-wrapper.shown {
  display: flex;
}

.close-overlay {
  color: var(--color-text-lighter);
  position: absolute;
  right: 10px;
  top: 10px;
}

.overlay {
  background: var(--color-background);
  box-shadow: 0 0 20px var(--overlay-wrapper-background);
  cursor: auto;
  display: flex;
  margin: .5em;
  max-height: 100%;
  max-width: 767px;
  padding: 1.5em;
  position: relative;
}

.overlay form,
.overlay > div {
  width: 100%;
}

.overlay strong {
  display: inline-block;
  margin: 6px 0 5px;
}

.overlay table {
  margin-left: auto;
  margin-right: auto;
}

.overlay dt {
  display: inline-block;
  float: left;
  font-weight: normal;
  line-height: 1.8em;
  padding-right: 10px;
  text-align: right;
  width: auto;
}

.overlay dd {
  line-height: 1.8em;
}

.overlay .fieldset label {
  width: 150px;
}

.overlay .fieldset[type='submit'] {
  margin: .5em .5em -.5em 0;
}

.documents-upload .fieldset input {
  flex-grow: 1;
  min-width: 60%;
}

.transaction-overlay form > .fieldset button {
  margin-bottom: 0;
  margin-top: .7em;
}

.notifications {
  position: fixed;
  right: 10px;
  top: calc(var(--header-height) + 10px);
  width: 400px;
}

.notifications li {
  background-color: var(--color-notification-info);
  color: var(--color-notification);
  display: block;
  margin-bottom: .5em;
  padding: 5px 10px;
  width: 100%;
}

.notifications .error {
  background-color: var(--color-notification-error);
}

.notifications .warning {
  background-color: var(--color-notification-warning);
  color: var(--color-text);
}
