/* Overlays */

:root {
  --overlay-wrapper-background: rgba(0, 0, 0, .5);
}

.overlay-wrapper {
  align-items: center;
  background: var(--overlay-wrapper-background);
  bottom: 0;
  cursor: pointer;
  display: none;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-index-overlay);

  &.shown {
    display: flex;
  }
}

.close-overlay {
  color: var(--color-text-lighter);
  position: absolute;
  right: 10px;
  top: 10px;
}

.overlay {
  background: var(--color-background);
  box-shadow: 0 0 20px var(--overlay-wrapper-background);
  cursor: auto;
  display: flex;
  margin: .5em;
  max-height: 100%;
  max-width: 767px;
  padding: 1.5em;
  position: relative;

  & form,
  & > div {
    width: 100%;
  }

  & strong {
    display: inline-block;
    margin: 6px 0 5px;
  }

  & table {
    margin-left: auto;
    margin-right: auto;
  }

  & dt {
    display: inline-block;
    float: left;
    font-weight: normal;
    line-height: 1.8em;
    padding-right: 10px;
    text-align: right;
    width: auto;
  }

  & dd {
    line-height: 1.8em;
  }

  & .fieldset {
    & label {
      width: 150px;
    }

    &[type='submit'] {
      margin: .5em .5em -.5em 0;
    }
  }
}

.documents-upload .fieldset input {
  flex-grow: 1;
  min-width: 60%;
}

.notifications {
  position: fixed;
  right: 10px;
  top: calc(var(--header-height) + 10px);
  width: 400px;

  & li {
    background: var(--color-notification-info);
    color: var(--color-notification);
    display: block;
    margin-bottom: .5em;
    padding: 5px 10px;
    width: 100%;
  }

  & .error {
    background: var(--color-notification-error);
  }

  & .warning {
    background: var(--color-notification-warning);
  }
}
