.download {
  color: var(--color-text-lighter);
}

.stored-queries {
  color: var(--color-text-lighter);

  & label { margin-right: 8px; }
  & a { margin-left: 6px; }
}

.query-box {
  display: flex;

  & button {
    height: 30px;
    margin-bottom: .5em;
  }

  & .CodeMirror,
  & textarea {
    border: 1px solid var(--color-background-darker);
    flex-grow: 1;
    font-family: var(--font-family-editor);
    font-size: 16px;
    height: auto;
    margin-bottom: 1em;
    width: 100%;
  }
}

.CodeMirror .CodeMirror-placeholder { color: #999; }

.query-error {
  background: var(--color-error);
  color: var(--color-background);
  font-family: var(--font-family-monospaced);
}

.query-syntax-error {
  color: var(--color-error);
  font-family: var(--font-family-monospaced);
}
