.download,
.stored-queries {
  color: var(--color-text-lighter);
}

.stored-queries label {
  margin-right: 8px;
}

.stored-queries a {
  margin-left: 6px;
}

.query-box {
  align-items: center;
  display: flex;
  padding-bottom: 1em;
}

.query-box button {
  margin: 0;
}

.query-box .CodeMirror,
.query-box textarea {
  border: 1px solid var(--color-background-darker);
  flex-grow: 1;
  font-family: var(--font-family-editor);
  font-size: 16px;
  height: auto;
  margin: 0;
  margin-right: .5em;
  width: 100%;
}

.CodeMirror .CodeMirror-placeholder { color: #999; }

.query-error {
  background: var(--color-error);
  color: var(--color-background);
  font-family: var(--font-family-monospaced);
}

.query-syntax-error {
  color: var(--color-error);
  font-family: var(--font-family-monospaced);
}
