.download,
.stored-queries {
  color: var(--color-text-lighter);
}

.stored-queries label {
  margin-right: 8px;
}

.stored-queries a {
  margin-left: 6px;
}

.query-result > div {
  max-height: 80vh;
  overflow: auto;
}

.query-box {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.query-box button {
  margin: 0;
}

.query-box .CodeMirror {
  flex-grow: 1;
  width: 100%;
  height: auto;
  margin: 0;
  margin-right: 0.5em;
  font-family: var(--font-family-editor);
  font-size: 16px;
  border: 1px solid var(--color-background-darker);
}

.query-box .CodeMirror .CodeMirror-placeholder {
  color: #999;
}

.query-error {
  font-family: var(--font-family-monospaced);
  color: var(--color-background);
  background: var(--color-error);
}

.query-syntax-error {
  font-family: var(--font-family-monospaced);
  color: var(--color-error);
}
