@import 'base.css';
@import 'components.css';
@import 'charts.css';
@import 'editor.css';
@import 'fonts.css';
@import 'header.css';
@import 'help.css';
@import 'overlay.css';
@import 'query.css';
@import 'journal-table.css';
@import 'tree-table.css';
@import 'ingest.css';
@import 'entry-forms.css';
@import 'media-mobile.css';
@import 'media-print.css';

::-webkit-scrollbar {
  height: .5em;
  width: .5em;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  scrollbar-face-color: var(--color-scrollbar);
  scrollbar-track-color: transparent;
}

:root {
  --font-family: 'Fira Sans', sans-serif;
  --font-family-alternative: 'Source Serif Pro', sans-serif;
  --font-family-monospaced: 'Fira Mono', monospace;
  --font-family-editor: 'Source Code Pro', monospace;

  --z-index-aside: 1;
  --z-index-header: 2;
  --z-index-floating-ui: 3;
  --z-index-keyboard-overlays: 10;
  --z-index-autocomplete: 8;
  --z-index-overlay: 4;

  --color-transparent-black: hsla(0, 0%, 0%, .5);
  --color-transparent-white: hsla(0, 0%, 100%, .5);

  --color-background: #fff;
  --color-background-darker: #d9d9d9;
  --color-background-darkest: #ccc;
  --color-text: hsl(0, 0%, 27%);
  --color-text-lighter: hsl(0, 0%, 33%);
  --color-text-lightest: hsl(0, 0%, 47%);

  --color-links: hsl(203, 100%, 32%);
  --color-links-hover: hsl(203, 100%, 22%);
  --color-links-transparent: hsla(203, 100%, 32%, .5);
  --color-headings: #333;
  --color-error: hsl(0, 100%, 30%);
  --color-warning: hsl(52, 84%, 56%);
  --color-code-background: #f8f8f8;

  --color-sidebar-text: #444;
  --color-sidebar-text-hover: var(--color-links);
  --color-sidebar-background: hsl(0, 0%, 96%);
  --color-sidebar-border: hsl(0, 0%, 87%);

  --color-scrollbar: hsl(0, 0, 67%);
  --color-autocomplete-match: #ffd27c;

  --color-header: hsl(203, 100%, 32%);
  --color-header-darker: hsl(203, 100%, 22%);
  --color-header-light: hsl(203, 56%, 45%);
  --color-header-tinted: hsl(203, 47%, 66%);
  --color-header-text: hsl(0, 0%, 100%);
  --color-header-text-half: hsla(0, 0%, 100%, .5);

  --color-status-red: var(--color-error);
  --color-status-yellow: var(--color-warning);
  --color-status-green: hsl(151, 100%, 25%);
  --color-status-gray: #aaa;

  --color-notification: #fff;
  --color-notification-info: hsla(151, 100%, 25%, .7);
  --color-notification-error: hsla(0, 100%, 30%, .7);
  --color-notification-warning: hsla(52, 84%, 56%, .7);

  --color-table-header-text: #666;
  --color-table-header-background: #e6e6e6;
  --color-table-border: #f2f2f2;

  --color-journal-entry-open: #e8e8e8;
  --color-journal-entry-close: #888;
  --color-journal-entry-txn-other: #cff;
  --color-journal-entry-txn-pending: #f8a;
  --color-journal-entry-balance: #cfc;
  --color-journal-entry-note: #aad0ff;
  --color-journal-entry-document: #ffc8ff;
  --color-journal-entry-pad: #8ff;
  --color-journal-entry-postingwarning: #f66;
  --color-journal-entry-custom: #fff3ab;
  --color-journal-entry-budget: #ffddae;

  --color-journal-metadata: #85aacf;
  --color-journal-tag: #6aa2db;
  --color-journal-tag-document: #bb7ebb;
  --color-journal-link: #cbdde8;
  --color-journal-link-document: #c79cc7;
  --color-journal-posting-indicator: hsl(203, 24%, 80%);
  --color-journal-metadata-indicator: hsl(203, 24%, 60%);

  --color-treetable-expander: #afc1d3;

  --color-budget-negative: #af3d3d;
  --color-budget-positive: #3daf46;
  --color-budget-zero: #ffb900;

  --color-treemap-text: #fff;
  --color-chart-axis: #999;

  --color-editor-comment: #998;
  --color-editor-trailing-whitespace: rgba(255, 199, 199, .5);
  --color-editor-directive: #333;
  --color-editor-class: #b84;
  --color-editor-date: #099;
  --color-editor-constant: #008080;
  --color-editor-account: var(--color-links);
  --color-editor-invalid: #333;
  --color-editor-activeline: #ffc;

  --color-mobile-button-text: #000;

  --color-ingest: #cefac1;
}
