<div id="documents-upload" class="documents-upload overlay-wrapper">
    <div class="overlay">
        <a href="#" class="close-overlay">(close)</a>
        <form>
            <h3>Upload file(s):</h3>
            <div id="document-names" class="fieldset"></div>
            <div class="fieldset">
                <label for="document-upload-folder">Documents folder:</label>
                <select name="document-upload-folder" id="document-upload-folder">
                {% for folder in ledger.options['documents'] %}
                    <option value="{{ folder }}"{% if loop.first %} selected{% endif %}>{{ folder }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="fieldset">
                <button type="submit" id="document-upload-submit" data-url="{{ url_for('json_api.add_document') }}">Upload</button>
            </div>
        </form>
    </div>
</div>
