<div id="documents-upload" class="documents-upload overlay-wrapper">
    <div class="overlay">
        <a href="#" class="close-overlay">(close)</a>
        <form>
            <h3>Upload file(s):</h3>
            <fieldset id="document-names"></fieldset>
            <label for="document-upload-folder">Documents folder:</label>
            <select name="document-upload-folder" id="document-upload-folder">
            {% for folder in api.options['documents'] %}
                <option value="{{ loop.index0 }}"{% if loop.first %} selected="selected"{% endif %}>{{ folder }}</option>
            {% endfor %}
            </select>
            <button type="submit" id="document-upload-submit" data-url="{{ url_for('api_add_document') }}">Upload</button>
        </form>
    </div>
</div>

