<div id="keyboard-shortcuts" class="overlay-wrapper">
    <div class="overlay">
        <a href="#" class="close-overlay">(close)</a>
        <div class="halfleft">
            <h3>General keyboard shortcuts</h3>
            <dl>
                <dt><kbd>Ctrl</kbd>+<kbd>c</kbd></dt>
                <dd>show/hide charts</dd>
                <dt><kbd>c</kbd></dt>
                <dd>next chart</dd>
                <dt><kbd>Shift</kbd>+<kbd>c</kbd></dt>
                <dd>previous chart</dd>
            </dl>
            <h3>Change page</h3>
            <dl>
                <dt><kbd>g</kbd><kbd>i</kbd></dt>
                <dd>Income Statement</dd>
                <dt><kbd>g</kbd><kbd>b</kbd></dt>
                <dd>Balance Sheet</dd>
                <dt><kbd>g</kbd><kbd>t</kbd></dt>
                <dd>Trial Balance</dd>
                <dt><kbd>g</kbd><kbd>j</kbd></dt>
                <dd>Journal</dd>
                <dt><kbd>g</kbd><kbd>q</kbd></dt>
                <dd>Query</dd>
            </dl>
            <dl>
                <dt><kbd>g</kbd><kbd>h</kbd></dt>
                <dd>Holdings</dd>
                <dt><kbd>g</kbd><kbd>c</kbd></dt>
                <dd>Commodities</dd>
                <dt><kbd>g</kbd><kbd>E</kbd></dt>
                <dd>Events</dd>
                <dt><kbd>g</kbd><kbd>x</kbd></dt>
                <dd>Statistics</dd>
            </dl>
            <dl>
                <dt><kbd>g</kbd><kbd>e</kbd></dt>
                <dd>Editor</dd>
                <dt><kbd>g</kbd><kbd>o</kbd></dt>
                <dd>Options</dd>
                <dt><kbd>g</kbd><kbd>H</kbd></dt>
                <dd>Help</dd>
            </dl>
            <h3>Filters</h3>
            <dl>
                <dt><kbd>f</kbd><kbd>f</kbd></dt>
                <dd>FROM filter</dd>
                <dt><kbd>f</kbd><kbd>t</kbd></dt>
                <dd>filter by time</dd>
                <dt><kbd>f</kbd><kbd>g</kbd></dt>
                <dd>filter by tag</dd>
                <dt><kbd>f</kbd><kbd>a</kbd></dt>
                <dd>filter by account</dd>
                <dt><kbd>f</kbd><kbd>p</kbd></dt>
                <dd>filter by payee</dd>
            </dl>
        </div>
        <div class="halfleft">
            <h3>Editor</h3>
            <dl>
                <dt><kbd>Ctrl</kbd>/<kbd>Cmd</kbd>+<kbd>s</kbd></dt>
                <dd>Save</dd>
                <dt><kbd>Ctrl</kbd>/<kbd>Cmd</kbd>+<kbd>d</kbd></dt>
                <dd>Format</dd>
            </dl>
            <h3>Query</h3>
            <dl>
                <dt><kbd>Ctrl</kbd>/<kbd>Cmd</kbd>+<kbd>Enter</kbd></dt>
                <dd>Run query</dd>
            </dl>
            <h3>Toggle journal entries</h3>
            <dl>
                <dt><kbd>p</kbd></dt>
                <dd>Postings</dd>
                <dt><kbd>m</kbd></dt>
                <dd>Metadata</dd>
                <dt><kbd>s</kbd><kbd>o</kbd></dt>
                <dd>Open entries</dd>
                <dt><kbd>s</kbd><kbd>c</kbd></dt>
                <dd>Close entries</dd>
                <dt><kbd>s</kbd><kbd>t</kbd></dt>
                <dd>Transactions</dd>
                <dt><kbd>s</kbd><kbd>b</kbd></dt>
                <dd>Balance entries</dd>
                <dt><kbd>s</kbd><kbd>n</kbd></dt>
                <dd>Notes</dd>
                <dt><kbd>s</kbd><kbd>d</kbd></dt>
                <dd>Documents</dd>
                <dt><kbd>s</kbd><kbd>p</kbd></dt>
                <dd>Pad directives</dd>
                <dt><kbd>s</kbd><kbd>q</kbd></dt>
                <dd>Query directives</dd>
                <dt><kbd>s</kbd><kbd>C</kbd></dt>
                <dd>Custom directives</dd>
                <dt><kbd>s</kbd><kbd>B</kbd></dt>
                <dd>Budget directives</dd>
            </dl>
            <dl>
                <dt><kbd>t</kbd><kbd>c</kbd></dt>
                <dd>Cleared transactions</dd>
                <dt><kbd>t</kbd><kbd>p</kbd></dt>
                <dd>Pending transactions</dd>
                <dt><kbd>t</kbd><kbd>o</kbd></dt>
                <dd>Other transactions</dd>
            </dl>
            <dl>
                <dt><kbd>d</kbd><kbd>d</kbd></dt>
                <dd>Discovered documents</dd>
                <dt><kbd>d</kbd><kbd>s</kbd></dt>
                <dd>Statements from metadata</dd>
            </dl>
        </div>
    </div>
</div>
