<div id="keyboard-shortcuts" class="overlay-wrapper">
    <div class="overlay">
        <a href="#" class="close-overlay">(close)</a>
        <h1>Keyboard shortcuts</h1>
        <div class="halfleft">
            <h3>General</h3>
            <dl>
                <dt><kbd>Ctrl</kbd> + <kbd>c</kbd></dt>
                <dd>show/hide charts</dd>
                <dt><kbd>c</kbd></dt>
                <dd>cycle through all available charts</dd>
                <dt><kbd>Shift</kbd> + <kbd>c</kbd></dt>
                <dd>cycle through all available charts (backwards)</dd>
            </dl>
            <h3>Jumping to pages</h3>
            <dl>
                <dt><kbd>g</kbd> then <kbd>i</kbd></dt>
                <dd>Income Statement</dd>
                <dt><kbd>g</kbd> then <kbd>b</kbd></dt>
                <dd>Balance Sheet</dd>
                <dt><kbd>g</kbd> then <kbd>t</kbd></dt>
                <dd>Trial Balance</dd>
                <dt><kbd>g</kbd> then <kbd>j</kbd></dt>
                <dd>Journal</dd>
                <dt><kbd>g</kbd> then <kbd>q</kbd></dt>
                <dd>Query</dd>
            </dl>
            <dl>
                <dt><kbd>g</kbd> then <kbd>i</kbd></dt>
                <dd>Holdings</dd>
                <dt><kbd>g</kbd> then <kbd>w</kbd></dt>
                <dd>Net Worth</dd>
                <dt><kbd>g</kbd> then <kbd>d</kbd></dt>
                <dd>Documents</dd>
                <dt><kbd>g</kbd> then <kbd>n</kbd></dt>
                <dd>Notes</dd>
                <dt><kbd>g</kbd> then <kbd>e</kbd></dt>
                <dd>Events</dd>
                <dt><kbd>g</kbd> then <kbd>c</kbd></dt>
                <dd>Commodities</dd>
            </dl>
            <dl>
                <dt><kbd>g</kbd> then <kbd>s</kbd></dt>
                <dd>Source</dd>
                <dt><kbd>g</kbd> then <kbd>o</kbd></dt>
                <dd>Options</dd>
                <dt><kbd>g</kbd> then <kbd>x</kbd></dt>
                <dd>Statistics</dd>
                <dt><kbd>g</kbd> then <kbd>r</kbd></dt>
                <dd>Errors</dd>
                <dt><kbd>g</kbd> then <kbd>H</kbd></dt>
                <dd>Help</dd>
            </dl>
            <h3>Source Editor</h3>
            <dl>
                <dt><kbd>ctrl</kbd>+<kbd>s</kbd></dt>
                <dd>Save</dd>
                <dt><kbd>cmd</kbd>+<kbd>s</kbd></dt>
                <dd>Save (OS X)</dd>
            </dl>
        </div>
        <div class="halfleft">
            <h3>Entry filters</h3>
            <dl>
                <dt><kbd>f</kbd> then <kbd>t</kbd></dt>
                <dd>filter by time</dd>
                <dt><kbd>f</kbd> then <kbd>g</kbd></dt>
                <dd>filter by tag</dd>
                <dt><kbd>f</kbd> then <kbd>c</kbd></dt>
                <dd>filter by component</dd>
                <dt><kbd>f</kbd> then <kbd>p</kbd></dt>
                <dd>filter by payee</dd>
            </dl>
            <h3>Toggle journal entries</h3>
            <dl>
                <dt><kbd>l</kbd></dt>
                <dd>Postings</dd>
                <dt><kbd>m</kbd></dt>
                <dd>Metadata</dd>
                <dt><kbd>s</kbd> then <kbd>o</kbd></dt>
                <dd>Open entries</dd>
                <dt><kbd>s</kbd> then <kbd>c</kbd></dt>
                <dd>Close entries</dd>
                <dt><kbd>s</kbd> then <kbd>t</kbd></dt>
                <dd>Transactions</dd>
                <dt><kbd>s</kbd> then <kbd>b</kbd></dt>
                <dd>Balance entries</dd>
                <dt><kbd>s</kbd> then <kbd>n</kbd></dt>
                <dd>Notes</dd>
                <dt><kbd>s</kbd> then <kbd>d</kbd></dt>
                <dd>Documents</dd>
                <dt><kbd>s</kbd> then <kbd>p</kbd></dt>
                <dd>Pad directives</dd>
            </dl>
            <dl>
                <dt><kbd>t</kbd> then <kbd>c</kbd></dt>
                <dd>Cleared transactions</dd>
                <dt><kbd>t</kbd> then <kbd>p</kbd></dt>
                <dd>Pending transactions</dd>
                <dt><kbd>t</kbd> then <kbd>o</kbd></dt>
                <dd>Other transactions</dd>
            </dl>
            <h3>Query Editor</h3>
            <dl>
                <dt><kbd>ctrl</kbd>+<kbd>Enter</kbd></dt>
                <dd>Execute query</dd>
                <dt><kbd>cmd</kbd>+<kbd>Enter</kbd></dt>
                <dd>Execute query (OS X)</dd>
            </dl>
        </div>
    </div>
</div>
