{% import 'macros/_entry_forms.html' as forms with context %}

<div id="transaction" class="transaction-overlay overlay-wrapper">
    <div class="overlay">
        <a href="#" class="close-overlay">({{ _('close') }})</a>
        <form id="transaction-form" action="{{ url_for('json_api.add_entries') }}">
            <h3>{{ _('New transaction') }}:</h3>
            {{ forms.transaction() }}
            <div class="fieldset">
                <button type="submit" id="transaction-form-submit" data-url="{{ url_for('json_api.add_document') }}">{{ _('Save') }}</button>
                <button type="submit" class="muted" id="transaction-form-submit-and-new" data-url="{{ url_for('json_api.add_document') }}">{{ _('Save and add new') }}</button>
                <span class="spacer"></span>
                <button id="add-metadata" class="link add-metadata-link">{{ _('Add Metadata') }}</a>
            </div>
        </form>
    </div>
</div>
{{ forms.posting(id="posting-template") }}
{{ forms.metadata(id="metadata-template") }}
