<div id="transaction" class="transaction-overlay overlay-wrapper">
    <div class="overlay">
        <a href="#" class="close-overlay">(close)</a>
        <form id="transaction-form" class="transaction-form" action="{{ url_for('api_add_transaction') }}">
            <h3>New transaction:</h3>
            <div class="fieldset">
                <label for="date">Date:</label>
                <input type="date" name="date" value="{{ datetime.datetime.now().strftime('%Y-%m-%d') }}" />
                <input type="text" name="flag" value="*">
                <label for="payee">Payee:</label>
                <input type="text" name="payee" placeholder="Payee" list="payees" />
                <label for="payee">Narration:</label>
                <input type="text" name="narration" placeholder="Narration" />
            </div>
            <div class="postings">
            </div>
            <div class="fieldset">
                <button type="submit" id="transaction-form-submit" data-url="{{ url_for('api_add_document') }}">Save</button>
                <button type="submit" class="muted" id="transaction-form-submit-and-new" data-url="{{ url_for('api_add_document') }}">Save and add new</button>
            </div>
        </form>
    </div>
</div>
<div id="posting-template" class="fieldset posting">
    <label for="account">Account:</label>
    <input type="text" class="account" name="account" placeholder="Account" list="active-accounts" />
    <input type="number" step="0.01" class="number" name="number" placeholder="Number" />
    <input type="text" class="currency" name="currency" placeholder="Currency" list="currencies" />
    <button class="muted add-posting" title="Add posting">+</button>
</div>
