{% set infotext = {
    'green':  "The last entry is a passing balance check.",
    'red':    "The last entry is a failing balance check.",
    'yellow': "The last entry is not a balance check.",
} %}

{% macro indicator(account) %}
{% set status=api.account_uptodate_status(account) %}
{% if status %}
<span class="status-indicator status-{{ status }}" title="{{ infotext[status] }}

Click to copy the balance directives to the clipboard:

{{ balance_directive(account) }}" data-clipboard-text="{{ balance_directive(account) }}"></span>
{% endif %}
{% endmacro %}

{% macro last_account_activity(account_name) %}
{% set last_entry = api.last_entry(account_name) %}
{% set last_account_activity = (datetime.date.today() - last_entry.date).days if last_entry else 0 %}
{% if last_account_activity > config['uptodate-indicator-grey-lookback-days'] %}
    <span class="status-indicator status-gray" title="This account has not been updated in a while. ({{ last_account_activity }} days ago)"></span>
{% endif %}
{% endmacro %}

{% macro balance_directive(account) %}
{% for position in (api.all_root_account|get_or_create(account)).balance %}
{{ datetime.date.today() }} balance {{ account.ljust(28) }} {% with num=position.units.number|string %}{{ num.rjust(15) }}{% endwith %} {{ position.units.currency }}
{% endfor %}
{% endmacro %}

{% macro account_name(account_name, last_segment=False) %}
<a href="{{ url_for('account', name=account_name) }}" class="account">
    {{ account_name|last_segment if last_segment else account_name }}
</a>

{% if account_name and account_name|uptodate_eligible %}
    {{ indicator(account_name) }}
    {{ last_account_activity(account_name) }}
{% endif %}
{% endmacro %}

{% macro account_name_header(account_name) %}
<span class="droptarget" data-account-name="{{ account_name }}">
    {% set levels = account_name|account_level %}
    {% for level in range(0, levels) %}
        {% set subaccount_name = account_name.rsplit(':', maxsplit=levels-loop.index)[0] %}
        {% set subaccount_part = account_name.split(':')[level] %}

        {%- if loop.last -%}
            {{ subaccount_part }}
        {%- else -%}
            <a href="{{ url_for('account', name=subaccount_name) }}" title="{{ subaccount_name }}">{{ subaccount_part }}</a><span class="separator">:</span>
        {%- endif -%}
    {% endfor %}

{% if account_name and account_name|uptodate_eligible %}
    {{ indicator(account_name) }}
    {{ last_account_activity(account_name) }}
{% endif %}

    {% set last_entry = api.last_entry(account_name) %}
    {% if last_entry %}
    <span class="last-activity">
        (Last entry: <a href="{{ url_for_source(file_path=last_entry.meta['filename'], line=last_entry.meta['lineno']) }}" title="Show source {{ last_entry.meta['filename'] }}:{{ last_entry.meta['lineno'] }}">{{ last_entry.date }}</a>)
    </span>
    {% endif %}
</span>
{% endmacro %}
