{% macro posting(posting=None, id=None) %}
  <div class="posting"{% if id %} id="{{ id }}"{% endif %}>
    <div class="fieldset">
      <label for="account">{{ _('Account') }}:</label>
      <input type="text" class="account" name="account" placeholder="{{ _('Account') }}" list="accounts" value="{{ posting.account if posting else '' }}"/>
      <input type="number" step="0.01" class="number" name="number" placeholder="{{ _('Number') }}" value="{{ posting.units.number if posting else '' }}"/>
      <input type="text" class="currency" name="currency" placeholder="{{ _('Currency') }}" list="currencies" value="{{ posting.units.currency if posting else '' }}"/>
      <button class="muted round add-posting" type="button" title="{{ _('Add posting') }}">+</button>
    </div>
  </div>
{% endmacro %}

{% macro metadata(key=None, value=None, id=None) %}
  <div class="fieldset metadata-row"{% if id %} id="{{ id }}"{% endif %}>
    <label for="account">{{ _('Metadata') }}:</label>
    <input type="text" class="metadata-key" name="metadata-key" placeholder="{{ _('Key') }}" {% if key %}value="{{ key }}"{% endif %}/>
    <input type="text" class="metadata-value" name="metadata-value" placeholder="{{ _('Value') }}" {% if value %}value="{{ value }}"{% endif %}/>
    <button class="muted round add-metadata" type="button" title="{{ _('Add metadata') }}">+</button>
  </div>
{% endmacro %}

{% macro transaction(entry=None) %}
  <div class="entry-form transaction" data-type="transaction">
    <div class="fieldset">
      <label for="date">{{ _('Date') }}:</label>
      <input type="date" name="date" value="{{ entry.date if entry else datetime.date.today() }}" />
      <input type="text" name="flag" value="{{ entry.flag if entry else '*' }}">
      <label for="payee">{{ _('Payee') }}:</label>
      <input type="text" name="payee" placeholder="{{ _('Payee') }}" list="payees" {% if entry %}value="{{ entry.payee }}"{% endif %}/>
      <label for="payee">{{ _('Narration') }}:</label>
      <input type="text" name="narration" placeholder="{{ _('Narration') }}" {% if entry %}value="{{ entry.narration }}"{% endif %}/>
    </div>
    <div class="metadata">
      {% if entry %}
        {% set meta = entry.meta|remove_keys(['__duplicate__', '__source__', 'filename', 'lineno']) %}
          {% for key, value in meta.items() %}
            {{ metadata(key=key, value=value) }}
          {% endfor %}
        {% endif %}
    </div>
    <div class="postings">
      {% if entry %}
        {% for p in entry.postings %}
          {{ posting(posting=p) }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro balance(entry=None) %}
  <div class="entry-form balance" data-type="balance">
    <h4>{{ _('Balance') }}</h4>
    <div class="fieldset">
      <label for="date">{{ _('Date') }}:</label>
      <input type="date" name="date" value="{{ entry.date if entry else datetime.date.today() }}" />
      <label for="account">{{ _('Account') }}:</label>
      <input type="text" class="account" name="account" placeholder="{{ _('Account') }}" list="accounts" value="{{ entry.account if entry else '' }}"/>
      <input type="number" step="0.01" class="number" name="number" placeholder="{{ _('Number') }}" value="{{ entry.amount.number if entry else '' }}"/>
      <input type="text" class="currency" name="currency" placeholder="{{ _('Currency') }}" list="currencies" value="{{ entry.amount.currency if entry else '' }}"/>
    </div>
    <div class="metadata">
      {% if entry %}
        {% set meta = entry.meta|remove_keys(['__duplicate__', '__source__', 'filename', 'lineno']) %}
          {% for key, value in meta.items() %}
            {{ metadata(key=key, value=value) }}
          {% endfor %}
        {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro note(entry=None) %}
  <div class="entry-form note" data-type="note">
    <h4>{{ _('Note') }}</h4>
    <div class="fieldset">
      <label for="date">{{ _('Date') }}:</label>
      <input type="date" name="date" value="{{ entry.date if entry else datetime.date.today() }}" />
      <input type="text" class="account" name="account" placeholder="{{ _('Account') }}" list="accounts" value="{{ entry.account if entry else '' }}"/>
    </div>
    <div class="fieldset">
      <label for="comment">{{ _('Comment') }}:</label>
      <textarea name="comment" rows="2">{{ entry.comment if entry else '' }}</textarea>
    </div>
    <div class="metadata">
      {% if entry %}
        {% set meta = entry.meta|remove_keys(['__duplicate__', '__source__', 'filename', 'lineno']) %}
          {% for key, value in meta.items() %}
            {{ metadata(key=key, value=value) }}
          {% endfor %}
        {% endif %}
    </div>
  </div>
{% endmacro %}
