{% if interval == 'day' %}    {% set interval_label = _('Daily') %}    {% endif %}
{% if interval == 'week' %}   {% set interval_label = _('Weekly') %}   {% endif %}
{% if interval == 'month' %}  {% set interval_label = _('Monthly') %}  {% endif %}
{% if interval == 'quarter' %}{% set interval_label = _('Quarterly') %}{% endif %}
{% if interval == 'year' %}   {% set interval_label = _('Yearly') %}   {% endif %}
{% set interval_format_strings = {
    'year': '%Y',
    'month': '%b %Y',
    'week': '%YW%W',
    'day': '%Y-%m-%d',
} %}

{% if interval == 'quarter' %}
{%- macro format_date(date) -%}
{{- date.year|string + 'Q' +  ((date.month-1)//3 + 1)|string -}}
{%- endmacro -%}
{% else %}
{%- macro format_date(date) -%}
{{- date.strftime(interval_format_strings[interval]) -}}
{%- endmacro -%}
{% endif %}
