{% set interval_labels = {
    'day': _('Daily'),
    'week': _('Weekly'),
    'month': _('Monthly'),
    'quarter': _('Quarterly'),
    'year': _('Yearly'),
} %}
{% set interval_label = interval_labels[interval] %}
{% set interval_format_strings = {
    'year': '%Y',
    'month': '%b %Y',
    'week': '%YW%W',
    'day': '%Y-%m-%d',
} %}

{% if interval == 'quarter' %}
{%- macro format_date(date) -%}
{{- date.year|string + 'Q' +  ((date.month-1)//3 + 1)|string -}}
{%- endmacro -%}
{% else %}
{%- macro format_date(date) -%}
{{- date.strftime(interval_format_strings[interval]) -}}
{%- endmacro -%}
{% endif %}
