<script>
{% for currency in operating_currencies %}
    window.chartData.push({
        label: "Net worth (in {{ currency }})",
        type: "line",
        options: {
            dateFormat: "MMM 'YY",
            axisY: {
                offset: 60,
                position: 'end',
                labelInterpolationFnc: function(value) {
                    return formatCurrency(value)
                }
            }
        },
        data: {
            series: [{
                name: '{{ currency }}',
                data: [
                    {% for row in net_worth.monthly_totals %}
                        {
                            x: new Date({{ row.end_date.year }}, {{ row.end_date.month-1 }}, {{ row.end_date.day }}),
                            y: {{ row.totals[currency] or 0 }},
                            meta: "{{ row.totals[currency]|format_currency }} {{ currency }}<br><em>{{ row.end_date.strftime('%Y-%m-%d') }}</em>"
                        },
                    {% endfor %}
                ]
            }]
        }
    });
{% endfor %}
</script>
