<script>
{% for currency in operating_currencies %}
window.chartData.push({
    label: "{{ label }} ({{ currency }})",
    type:  "treemap",
    options: {
        dateFormat: "MMM 'YY",
        treemapColorLevel: {{ level or 1 }}
    },
    data: [
        {% for row in rows %}
            {% if row.is_leaf and currency in row.balances %}
                {% set value = row.balances[currency] * (modifier or 1) %}
                {% if value >= 0 or config.user.getboolean('treemaps-show-negative-numbers') %}
                {
                    {% if value < 0 %}
                    label: '<a href="{{ url_for("account_with_journal", name=row.account) }}"><em>({{ row.account|last_segment }})</em></a>',
                    value: {{ value|abs }},
                    {% else %}
                    label: '<a href="{{ url_for("account_with_journal", name=row.account) }}">{{ row.account|last_segment }}</a>',
                    value: {{ value }},
                    {% endif %}
                    id: '{{ row.account }}-{{ currency }}',
                    accountName: '{{ row.account }}',
                    balance: '{{ row.balances[currency]|format_currency }} {{ currency }}'
                },
                {% endif %}
            {% endif %}
        {% endfor %}
    ]
});
{% endfor %}
</script>
