@import "~compass-mixins/lib/compass/reset";
@import "~compass-mixins/lib/compass/css3";
@import "~compass-mixins/lib/compass/css3/user-interface";
@import "~compass-mixins/lib/compass/css3/font-face";
@import "~compass-mixins/lib/compass/utilities/general/clearfix";

// Globals

* {
    box-sizing: border-box;
}

html,
body,
html > body {
    font-family: $font_family;
    font-weight: 400;
    font-size: 12px;
    height: 100%;
    min-width: 1235px;
    color: $color_text;
    background: $color_background;
}

.hidden,
.hidden-type {
    display: none;
}

p, ol, ul, dl, table, pre {
    margin: 0 0 1em 0;
}

p {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: $color_headings;
    margin: 0 0 1em 0;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.33em; }
h3 { font-size: 1.16em; }
h4, h5 { font-size: 1em; }

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken($color_links, 40);
    }

    &:link,
    &:visited {
        color: $color_links;
    }

    &:active,
    &:focus,
    img {
        outline: none;
        border: none;
    }
}

code,
pre,
pre > code {
    font-family: $font_family_monospaced;
    white-space: pre;
    line-height: 1em;
}

pre {
    // overflow-x: scroll;
    white-space: pre;

    &.debug {
        word-wrap: break-word;
    }
}

.halfleft,
.halfright {
    width: 50%;

    h3 {
        text-align: center;
    }
}

.halfleft {
    float: left;
    padding-right: 10px;
}

.halfright {
    float: right;
    padding-left: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

// Structural and generic elements

header {
    position: relative;
    background: $color_header;
    border-bottom: 1px solid $color_header_bottom;
    color: $color_header_text;
    padding: 0 10px;
    height: 41px;
    z-index: 2;

    img {
        margin-top: 7px;
        float: left;
    }

    h1 {
        float: left;
        color: $color_header_text;
        display: block;
        line-height: 1;
        padding: 13px 10px;
        margin: 0;
        font-size: 14px;
        font-weight: normal;
    }

    nav {
        float: right;

        ul.topmenu {
            display: flex;
            margin: 0;

            & > li {
                & > a {
                    position: relative;
                    padding-right: 23px !important;
                    color: $color_header_text;
                    display: block;
                    line-height: 41px;
                    padding: 0 10px;

                    &:hover { background-color: $color_links; }

                    &::after {
                        border: 4px solid transparent;
                        border-top-color: $color_background;
                        content: "";
                        height: 0;
                        margin-left: -18px;
                        margin-top: -2px;
                        opacity: .8;
                        left: 100%;
                        position: absolute;
                        text-indent: -99999px;
                        top: 50%;
                        width: 0;
                    }
                }

                &:hover > .filter,
                &.opened > .filter {
                    display: block;
                }

                &.selected > a,
                &.opened > a {
                    background-color: $color_links;
                }
            }
        }
    }
}

div.main {
    position:absolute;
    display: flex;
    width:100%;
    margin-top:-41px;
    padding-top:41px;
    min-height:100%;

    aside {
        padding-top: 20px;
        flex-shrink: 0;
        width: 15em;
        color: $color_sidebar_text;
        border-right: 1px solid darken($color_sidebar_background, 16);
        background-color: $color_sidebar_background;

        h3 {
            text-transform: uppercase;
            margin-left: 20px;
            font-size: 0.9em;
            color: darken($color_sidebar_text, 25);
        }

        > ul.navigation {
            margin-bottom: 2em;

            li {
                font-size: 1.1em;
                display: block;

                &.selected, a:hover {
                    background-color: darken($color_sidebar_background, 6);
                    color: $color_links;
                }

                a {
                    color: $color_sidebar_links;
                    display: block;
                    padding: 7px 10px 7px 20px;

                    span {
                        float: right;
                        margin-top: -2px;
                        background: rgba(darken($color_sidebar_background, 95), 0.2);
                        color: rgba(darken($color_sidebar_background, 80), 0.8);
                        border-radius: 2em;
                        font-size: 11px;
                        font-weight: 700;
                        line-height: .99;
                        min-height: 1em;
                        min-width: 1em;
                        padding: 3px 8px 3px;
                        position: relative;
                        text-shadow: none;
                        display: inline-block;
                        text-decoration: none;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                ul.navigation {
                    padding: 0;

                    li {
                        &.selected, a:hover {
                            background-color: darken($color_sidebar_background, 15);
                        }

                        font-size: 0.95em;
                        line-height: 0.95em;

                        a { padding-left: 35px; }
                    }
                }
            }
        }
    }
}

article {
    flex: 1;
    width: 600px;
    padding: 1.5em;

    div.headerline {
        margin: 0 0 1.5em 0;

        h3 {
            display: inline-block;
            margin: 0 1.5em 0 0;

            a {
                color: lighten($color_text, 67);

                &:hover {
                    color: lighten($color_text, 20);
                    text-decoration: underline;
                }
            }
        }
    }

    h1 {
        &.droptarget {
            float: left;
            padding: 0.6em;
            margin: -0.4em -0.6em .2em;
        }

        a:link,
        a:visited {
            color: lighten($color_text, 20);

            &:hover { text-decoration: underline; }
        }

        div.last-activity {
            color: lighten($color_text, 60);
            display: inline-block;
            margin-left: 10px;
            font-size: 12px;
            font-weight: normal;
            font-style: italic;

            a {
                color: lighten($color_text, 60);

                &:hover { color: lighten($color_text, 20); }
            }
        }

        span.status-indicator {
            border-radius: 10px;
            height: 10px;
            margin-left: 10px;
            width: 10px;

            &.status-gray { margin-left: 0; }
        }
    }

    dl {
        dt {
            display: inline-block;
            width: 120px;
            float: left;
            font-weight: bold;
        }

        dt,
        dd {
            margin-bottom: 3px;
        }
    }

    li {
        line-height: 1.5em;
    }

    p {
        code {
            background: darken($color_background, 7);
            display: inline-block;
            font-size: 13px;
            padding: 0 4px 2px 5px;
            border-radius: 3px;
            border: 1px solid darken($color_background, 13);
        }

        a { text-decoration: underline; }
    }

    form.wide-form {
        width: 100%;
        margin-bottom: 10px;
        text-align: right;

        &.chart-filter input { margin-left: 10px; }
    }

    .dragover { background: lighten($color_links, 50); }
}

kbd {
    display: inline-block;
    min-width: 20px;
    text-align: center;
    font: 1.1rem $font_family_kbd;
    padding: 3px 6px;
    color: lighten($color_text, 30);
    vertical-align: middle;
    background-color: darken($color_background, 1);
    border: solid 1px darken($color_background, 20);
    border-bottom-color: darken($color_background, 27);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 darken($color_background, 27);
    margin: 0 1px 3px 0;
}

////////////////////////////////////////////////////////////////////////////////
// Components //////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import "charts";
@import "overlay";
@import "journal-table";
@import "tree-table";
@import "filter";
@import "help";

ul.warnings {
    margin: 0;
    padding: 0;

    & > li {
        display: block;
        text-align: center;
        padding: 10px;
        line-height: 1.4em;

        &.error {
            color: white;
            background: $color_error;
        }
    }
}

span.status-indicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;

    &:hover { cursor: pointer; }

    &.status-red { background: $color_status_red; }
    &.status-yellow { background: $color_status_yellow; }
    &.status-green { background: $color_status_green; }
    &.status-gray { background: $color_status_gray; }
}

table.sortable {
    th[data-sort] {
        padding-right: 18px;
        position: relative;
        cursor: pointer;

        &.sorting-asc:after, &.sorting-desc:after {
            content: "";
            display: block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid darken($color_background, 47);
            position: absolute;
            right: 4px;
            top: 8px;
        }

        &.sorting-asc:after {
            top: 6px;
            border-top: none;
            border-bottom: 5px solid darken($color_background, 47);
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
// View-specific and tables/////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import "query";
@import "editor";

table {
    tbody tr:nth-child(2n) {
        background: darken($color_background, 3);
    }

    tbody td {
        border: 1px solid lighten($color_text, 91);
    }

    td, th {
        white-space: nowrap;
        padding: 3px 6px;


        &.num {
            color: $color_text;
            font: 1.1rem $font_family_monospaced;
            width: 8rem;
            text-align: right;
        }

        &.other {
            width: 10rem;
        }

        a.account,
        &.account a { font-weight: bold; }
    }

    thead th,
    tfoot td {
        border: 1px solid darken($color_background, 15);
        font-weight: bold;
        background: $color_treetable_header_bg;
        color: lighten($color_text, 53);
    }

    tfoot td {
        color: lighten($color_text, 40) !important;
    }
}

.halfleft table,
.halfright table {
    width: 100%;
}

table.options_map,
table.settings {
    td { text-align: left; }
    td:nth-child(1) { font-weight: bold; }
    td:nth-child(2) { white-space: normal; }
    pre { margin: 0; }
}

table.commodity,
table.events {
    td:first-child {
        min-width: inherit;
    }
}

table.statistics-update-activity {
    thead th:nth-child(2), thead th:nth-child(3) { padding-left: 0; }
    tbody td.uptodate-indicator { text-align: center; }
    span.status-indicator { margin: 0 auto; }
}

// Statistics
div.left.statistics {
    margin-right: 20px;
}

table.tree-table td.account,
table.holdings,
table.queryresults {
    span.status-indicator {
        float: right;
        margin-top: 3px;
        margin-left: 3px;
    }
}
