@import '~normalize.css/normalize.css';
@import 'mixins';

// for the editor

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src: url('~@typopro/web-source-code-pro/TypoPRO-SourceCodePro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('~@typopro/web-source-code-pro/TypoPRO-SourceCodePro-Bold.woff') format('woff');
}


// Globals

* {
  box-sizing: border-box;
}

$min-width: 560px;

html,
body {
  background: $color-background;
  color: $color-text;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  min-width: $min-width;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  tbody {
    tr:nth-child(2n) {
      background: darken($color-background, 3);
    }

    td {
      border: 1px solid lighten($color-text, 60);
    }
  }

  td,
  th {
    padding: 3px 6px;
    white-space: nowrap;

    &.num {
      color: $color-text;
      font: 1rem $font-family-monospaced;
      text-align: right;
      width: 8rem;
    }

    &.other {
      width: 10rem;
    }

  }

  thead th,
  tfoot td {
    background: $color-treetable-header-bg;
    border: 1px solid darken($color-background, 15);
    color: lighten($color-text, 30);
    font-weight: bold;
  }
}

p,
ol,
ul,
dl,
table,
pre,
hr {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
}

p {
  line-height: 1.5em;
}

h2,
h3,
h4,
h5 {
  color: $color-headings;
  font-weight: 500;
  margin: 0 0 1rem;
  padding: 0;
}

h2 { font-size: 1.2857em; }
h3 { font-size: 1.1429em; }
h4,
h5 { font-size: 1em; }

b,
strong {
  font-weight: 500;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($color-links, 40);
  }

  &:link,
  &:visited {
    color: $color-links;
  }

  &:active,
  &:focus,
  img {
    border: 0;
    outline: none;
  }
}

dl {
  dt {
    display: inline-block;
    float: left;
    font-weight: bold;
    width: 120px;
  }

  dt,
  dd {
    margin-bottom: 3px;
  }
}

li {
  line-height: 1.5em;
}

code,
pre {
  background-color: $color-code-background;
  border: 1px solid $color-background-darker;
  border-radius: 3px;
  font-family: $font-family-monospaced;
  line-height: 1em;
  white-space: pre;
}

code {
  padding: 0 4px;
}

pre {
  overflow: auto;
  padding: 6px 10px;

  code {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.hidden,
.hidden-type {
  display: none;
}

%clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Structural and generic elements
$header-height: 50px;
$aside-width: 160px;
$safe-two-column: $min-width * 2 + $aside-width;

body {
  @include smooth-transitions;
  padding: $header-height 0 0 $aside-width;
}

header {
  align-items: center;
  background: $color-header;
  border-bottom: 1px solid $color-header-bottom;
  color: $color-header-text;
  display: flex;
  height: $header-height;
  left: 0;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  nav {
    .topmenu {
      display: flex;
      margin: 0;
    }
  }
}

h1 {
  align-items: center;
  color: $color-header-text;
  display: block;
  flex: 1;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  max-height: $header-height;
  overflow: hidden;
  padding: ($header-height - 16px) / 2 10px;

  strong {
    margin-left: 10px;

    &:before {
      color: rgba($color-header-text, .5);
      content: '›';
      font-weight: normal;
      margin-right: 10px;
    }
  }

  .droptarget {
    margin-left: -.6em;
    padding: .6em;
  }

  a:link,
  a:visited {
    color: darken($color-header-text, 15);
  }

  a:hover {
    color: $color-header-text;
    text-decoration: underline;
  }

  .last-activity {
    color: darken($color-header-text, 15);
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
  }

  .status-indicator {
    border-radius: 10px;
    height: 10px;
    margin: 0 0 0 10px;
    width: 10px;

    &.status-gray { margin-left: 0; }
  }
}

.aside-button {
  @include smooth-transitions;
  background-color: $color-sidebar-background;
  border-color: $color-sidebar-border;
  border-style: solid;
  border-width: 0 1px 1px 0;
  display: none;
  height: 32px;
  left: 0;
  position: fixed;
  top: $header-height;
  width: 32px;
  z-index: 9;

  &.active {
    left: $aside-width;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

aside {
  @include scrollbar(.5em, darken($color-sidebar-background, 30), transparent);
  @include smooth-transitions;
  background-color: $color-sidebar-background;
  border-right: 1px solid $color-sidebar-border;
  bottom: 0;
  color: $color-sidebar-text;
  flex-shrink: 0;
  left: 0;
  margin-left: 0;
  overflow-y: auto;
  padding-top: 1em;
  position: fixed;
  top: $header-height;
  width: $aside-width;
  z-index: 9;

  h3 {
    color: darken($color-sidebar-text, 25);
    font-size: .9em;
    margin-left: 20px;
    text-transform: uppercase;
  }
}

.navigation {
  margin-bottom: 1.5em;

  &:last-child { margin-bottom: 0; }

  a {
    color: $color-sidebar-links;
    display: block;
    padding: 5px 20px;
  }

  li {
    display: block;
  }

  .selected,
  a:hover {
    background-color: $color-sidebar-border;
    color: $color-links;
  }

  .error {
    background-color: $color-error;

    &.selected,
    a:hover {
      background-color: darken($color-error, 5);
    }

    a { color: $color-sidebar-background; }

    .bubble {
      background: lighten($color-error, 60);
      border-radius: 12px;
      color: $color-sidebar-links;
      float: right;
      font-size: .9em;
      padding: 1px 8px;
    }
  }
}

.submenu {
  li {
    font-size: .95em;
    line-height: .95em;

    &.selected,
    a:hover {
      background-color: darken($color-sidebar-background, 15);
    }
  }

  a { padding-left: 35px; }
}

article {
  height: 100%;
  padding: 1.5em;
  position: relative;
  width: 100%;

  .account a,
  .account {
    font-weight: 500;
  }

  ul a,
  p > a {
    text-decoration: underline;

    &:hover { color: darken($color-links, 10); }
  }
}

.wide-form {
  margin-bottom: 10px;
  text-align: right;
  width: 100%;

  &.chart-filter input { margin-left: 10px; }
}

.dragover { background: lighten($color-links, 50); }

.headerline {
  margin: 0 0 1.5em;

  h3 {
    display: inline-block;
    margin: 0 1.5em 0 0;
  }

  a {
    color: lighten($color-text, 40);

    &:hover {
      color: lighten($color-text, 20);
      text-decoration: underline;
    }
  }
}

kbd {
  background-color: darken($color-background, 1);
  border: solid 1px darken($color-background, 20);
  border-bottom-color: darken($color-background, 27);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 darken($color-background, 27);
  color: lighten($color-text, 15);
  display: inline-block;
  font: 1rem $font-family-monospaced;
  margin: 0 1px 3px 0;
  padding: 3px 6px;
  text-align: center;
  vertical-align: middle;
}

////////////////////////////////////////////////////////////////////////////////
// Components //////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import 'charts';
@import 'overlay';
@import 'journal-table';
@import 'tree-table';
@import 'filter';
@import 'help';
@import 'query';
@import 'editor';

.halfleft,
.halfright {
  width: 50%;

  h3 {
    text-align: center;
  }
}

.halfleft {
  float: left;
  padding-right: 10px;
}

.halfright {
  float: right;
  padding-left: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.warnings {
  li {
    background: $color-error;
    color: $color-background;
    display: block;
    padding: 10px;
    text-align: center;
  }
}

.status-indicator {
  border-radius: 6px;
  display: inline-block;
  height: 6px;
  margin: 5px;
  width: 6px;

  &:hover { cursor: pointer; }

  &.status-red { background: $color-status-red; }
  &.status-yellow { background: $color-status-yellow; }
  &.status-green { background: $color-status-green; }
  &.status-gray { background: $color-status-gray; }
}

.sortable {
  [data-sort] {
    cursor: pointer;
    padding-right: 18px;
    position: relative;

    &.sorting-asc:after,
    &.sorting-desc:after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid darken($color-background, 47);
      content: '';
      display: block;
      position: absolute;
      right: 4px;
      top: 8px;
    }

    &.sorting-asc:after {
      border-bottom: 5px solid darken($color-background, 47);
      border-top: 0;
      top: 6px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// View-specific and tables/////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.halfleft table,
.halfright table {
  width: 100%;
}

.options {
  td {
    text-align: left;

    &:nth-child(1) { font-weight: bold; }
    &:nth-child(2) { white-space: normal; }
  }

  pre {
    background-color: inherit;
    border: 0;
    margin: 0;
    overflow: inherit;
    padding: 0;
  }
}

.statistics-update-activity {
  thead th:nth-child(2),
  thead th:nth-child(3) { padding-left: 0; }

  .uptodate-indicator { text-align: center; }
  .status-indicator { margin: 0 auto; }
}

.left.statistics {
  margin-right: 20px;

  h3 input {
    font-size: 1rem;
    font-weight: normal;
  }
}

td .status-indicator {
  float: right;
  margin-left: 3px;
  margin-top: 3px;
}

// At resolutions smaller than 768px, hide the aside menu.
// This means that ipads and larger will show the side menu.
@media (max-width: 767px) {
  body {
    padding: $header-height 0 0;
  }

  aside {
    margin-left: -$aside-width;

    &.active {
      margin-left: 0;
    }
  }

  .aside-button {
    display: block;
  }

  .source-editor-wrapper {
    left: 0;
  }
}

// Between 768px and twice min-width + aside_width, make each table fill the
// entire screen. If min_width is 560px, $safe-two-column is 1280px.
@media (max-width: $safe-two-column - 1) {
  .halfleft,
  .halfright {
    width: 100%;
  }

  .halfleft {
    float: none;
    padding-right: 0;
  }

  .halfright {
    float: none;
    padding-left: 0;
  }
}

@media print {
  body {
    padding: 0;
  }

  header {
    position: relative;

    > * {
      display: none;
    }

    h1 {
      display: block;
    }
  }

  aside,
  .aside-button,
  .toggle-chart-container {
    display: none;
  }
}
