@import 'normalize.css/normalize';
@import 'mixins';

// for the editor

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../node_modules/@typopro/web-source-code-pro/TypoPRO-SourceCodePro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../node_modules/@typopro/web-source-code-pro/TypoPRO-SourceCodePro-Semibold.woff') format('woff');
}


// Globals

* {
  box-sizing: border-box;
}

$min-width: 560px;

html,
body {
  background: $color-background;
  color: $color-text;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  min-width: $min-width;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody {
  tr {
    &:nth-child(2n) {
      background: darken($color-background, 2);
    }
  }

  td {
    border: 1px solid darken($color-background, 10);
  }
}

td,
th {
  padding: 3px 6px;
  white-space: nowrap;

  &.num {
    color: $color-text;
    font-family: $font-family-monospaced;
    text-align: right;
    width: 7rem;
  }
}

thead th, // sass-lint:disable-line force-element-nesting
tfoot td { // sass-lint:disable-line force-element-nesting
  background: $color-treetable-header-bg;
  border: 1px solid darken($color-background, 15);
  color: $color-text-lighter;
  font-weight: 500;
}

p,
ol,
ul,
dl,
table,
pre,
hr {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
}

p {
  line-height: 1.5em;
}

h2,
h3,
h4,
h5 {
  color: $color-headings;
  font-weight: 500;
  margin: 0 0 1rem;
  padding: 0;
}

h2 { font-size: 1.2857em; }

h3 {
  font-size: 1.1429em;

  button {
    font-size: 1rem;
    font-weight: normal;
    padding: 4px 8px;
  }
}

h4,
h5 {
  font-size: 1em;
}

b,
strong {
  font-weight: 500;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($color-links, 40);
  }

  &:link,
  &:visited {
    color: $color-links;
  }

  &:active,
  &:focus,
  img {
    border: 0;
    outline: none;
  }
}

dl {
  dt {
    display: inline-block;
    float: left;
    font-weight: 500;
    width: 120px;
  }

  dt,
  dd {
    margin-bottom: 3px;
  }
}

li {
  line-height: 1.5em;
}

code,
pre {
  background-color: $color-code-background;
  border: 1px solid $color-background-darker;
  border-radius: 3px;
  font-family: $font-family-monospaced;
  line-height: 1em;
  white-space: pre;
}

code {
  padding: 0 4px;
}

pre {
  overflow: auto;
  padding: 6px 10px;

  code {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 5px 10px;
}

input,
button  {
  font: inherit;
}

button {
  background-color: $color-header;
  border: 0;
  color: $color-background;
  cursor: pointer;
  outline: 0;
  padding: 8px 10px;

  &:active,
  &:hover {
    background-color: darken($color-header, 10);
  }
}

.hidden {
  display: none;
}

// Structural and generic elements
$header-height: 50px;
$aside-width: 160px;
$safe-two-column: $min-width * 2 + $aside-width;

$transitions: all .2s ease-out;

body {
  padding: $header-height 0 0 $aside-width;
  transition: $transitions;
}

header {
  align-items: center;
  background: $color-header;
  border-bottom: 1px solid $color-header-bottom;
  color: $color-header-text;
  display: flex;
  height: $header-height;
  left: 0;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@import 'header';

.aside-button {
  background-color: $color-sidebar-background;
  border-color: $color-sidebar-border;
  border-style: solid;
  border-width: 0 1px 1px 0;
  display: none;
  left: 0;
  padding: 4px;
  position: fixed;
  top: $header-height;
  transition: $transitions;
  z-index: 1;

  &:hover {
    background-color: $color-sidebar-background;
  }

  &.active {
    background-color: $color-sidebar-background;
    left: $aside-width;
  }
}

aside {
  @include scrollbar(.5em, darken($color-sidebar-background, 30), transparent);
  background-color: $color-sidebar-background;
  border-right: 1px solid $color-sidebar-border;
  bottom: 0;
  color: $color-sidebar-text;
  flex-shrink: 0;
  left: 0;
  margin-left: 0;
  overflow-y: auto;
  padding-top: 1em;
  position: fixed;
  top: $header-height;
  transition: $transitions;
  width: $aside-width;
  z-index: 9;

  h3 {
    color: darken($color-sidebar-text, 25);
    font-size: .9em;
    margin-left: 20px;
    text-transform: uppercase;
  }
}

.navigation {
  margin-bottom: 1.5em;

  &:last-child { margin-bottom: 0; }

  a {
    color: $color-sidebar-links;
    display: block;
    padding: 5px 20px;

    &.selected,
    &:hover {
      background-color: $color-sidebar-border;
      color: $color-links;
    }
  }

  li {
    display: block;
  }

  .error {
    background-color: $color-error;

    a {
      color: $color-sidebar-background;

      &.selected,
      &:hover {
        background-color: darken($color-error, 5);
      }
    }

    .bubble {
      background-color: lighten($color-error, 60);
    }
  }

  .bubble {
    background-color: $color-sidebar-border;
    border-radius: 12px;
    color: $color-sidebar-links;
    float: right;
    font-size: .9em;
    padding: 1px 8px;
  }
}

.submenu {
  li {
    font-size: .95em;
    line-height: .95em;
  }

  a {
    padding-left: 35px;

    &.selected,
    &:hover {
      background-color: darken($color-sidebar-background, 15);
    }
  }
}

article {
  height: 100%;
  padding: 1.5em;
  position: relative;
  width: 100%;

  ul a, // sass-lint:disable-line force-element-nesting
  p > a {
    text-decoration: underline;

    &:hover { color: darken($color-links, 10); }
  }
}

.wide-form {
  margin-bottom: 10px;
  text-align: right;
  width: 100%;

  &.chart-filter {
    input { margin-left: 10px; }
  }
}

.dragover { background: lighten($color-links, 50); }

.headerline {
  margin: 0 0 1.5em;

  h3 {
    display: inline-block;
    margin: 0 1.5em 0 0;
  }

  a {
    color: $color-text-lighter;

    &:hover {
      color: $color-text;
    }
  }
}

kbd {
  background-color: darken($color-background, 1);
  border: solid 1px darken($color-background, 20);
  border-bottom-color: darken($color-background, 27);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 darken($color-background, 27);
  color: $color-text-lighter;
  display: inline-block;
  font: 1rem $font-family-monospaced;
  margin: 0 1px;
  padding: 3px 6px;
}

////////////////////////////////////////////////////////////////////////////////
// Components //////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import 'charts';
@import 'overlay';
@import 'journal-table';
@import 'tree-table';
@import 'help';
@import 'query';
@import 'editor';

.halfleft,
.halfright {
  width: 50%;

  h3 {
    text-align: center;
  }
}

.halfleft {
  float: left;
  padding-right: 10px;
}

.halfright {
  float: right;
  padding-left: 10px;
}

.left {
  float: left;
  margin-right: 20px;
}

.right {
  float: right;
}

.warnings {
  li {
    background: $color-error;
    color: $color-background;
    display: block;
    padding: 10px;
    text-align: center;
  }
}

.status-indicator {
  border-radius: 6px;
  display: inline-block;
  height: 6px;
  margin: 5px;
  width: 6px;

  &:hover { cursor: pointer; }

  &.status-red { background: $color-status-red; }
  &.status-yellow { background: $color-status-yellow; }
  &.status-green { background: $color-status-green; }
  &.status-gray { background: $color-status-gray; }
}

[data-sort] {
  cursor: pointer;
  padding-right: 18px;
  position: relative;
}

%sorting-triangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: '';
  display: block;
  position: absolute;
  right: 4px;
  top: 8px;
}

[data-order='desc'] {
  &::after {
    @extend %sorting-triangle;
    border-top: 5px solid darken($color-background, 47);
    top: 8px;
  }
}

[data-order='asc'] {
  &::after {
    @extend %sorting-triangle;
    border-bottom: 5px solid darken($color-background, 47);
    top: 6px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// View-specific and tables/////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.options {
  td {
    text-align: left;

    &:nth-child(1) { font-weight: 500; }
    &:nth-child(2) { white-space: normal; }
  }

  pre {
    background-color: inherit;
    border: 0;
    margin: 0;
    overflow: inherit;
    padding: 0;
  }
}

.statistics-update-activity {
  .indicator-header { padding-left: 0; }

  .uptodate-indicator { text-align: center; }
  .status-indicator { margin: 0 auto; }
}

td {
  .status-indicator {
    float: right;
    margin-left: 3px;
    margin-top: 3px;
  }
}

// At resolutions smaller than 768px, hide the aside menu.
// This means that ipads and larger will show the side menu.
@media (max-width: 767px) {
  body {
    padding: $header-height 0 0;
  }

  aside {
    margin-left: -$aside-width;

    &.active {
      margin-left: 0;
    }
  }

  .aside-button {
    display: block;
  }

  .source-form,
  .source-editor-wrapper {
    left: 0;
  }
}

// Between 768px and twice min-width + aside_width, make each table fill the
// entire screen. If min_width is 560px, $safe-two-column is 1280px.
@media (max-width: $safe-two-column - 1) {
  .halfleft,
  .halfright {
    width: 100%;
  }

  .halfleft {
    float: none;
    padding-right: 0;
  }

  .halfright {
    float: none;
    padding-left: 0;
  }
}

@media print {
  body {
    padding: 0;
  }

  header {
    position: relative;

    > * {
      display: none;
    }

    h1 {
      display: block;
    }
  }

  aside,
  .aside-button,
  .toggle-chart-container {
    display: none;
  }
}
