@import "~compass-mixins/lib/compass/reset";
@import "~compass-mixins/lib/compass/css3";
@import "~compass-mixins/lib/compass/css3/user-interface";
@import "~compass-mixins/lib/compass/css3/font-face";
@import "~compass-mixins/lib/compass/utilities/general/clearfix";

// Globals

* {
    box-sizing: border-box;
}

html,
body,
html > body {
    font-family: $font_family;
    font-weight: 400;
    font-size: 12px;
    height: 100%;
    min-width: 1235px;
    color: $color_text;
    background: $color_background;
}

.hidden,
.hidden-parent,
.hidden-type,
.hidden-parent-type {
    display: none;
}

strong {
    font-weight: bold;
}

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: 18px;
    color: $color_headings;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 16px;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: $color_headings;
    font-weight: bold;
    display: block;
}

h4 {
    font-size: 12px;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    color: $color_headings;
    text-transform: uppercase;
    letter-spacing: 1px;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

a {
    text-decoration: underline;

    &:hover,
    &:focus {
        color: darken($color_links, 40%);
        text-decoration: none;
    }

    &:link,
    &:visited {
        color: $color_links;
        text-decoration: none;
    }

    &:active,
    &:focus,
    img {
        outline: none;
        border: none;
    }

    &.section:link,
    &.section:visited {
        color: white;  // TODO is this used?
        text-decoration: none;
    }
}

code,
pre,
pre > code {
    font-family: $font_family_monospaced;
    white-space: pre;
    margin: 0;
    line-height: 1.2em;
    font-size: 1.1em;
}

pre {
    // overflow-x: scroll;
    white-space: pre;

    &.debug {
        word-wrap: break-word;
    }
}

.halfleft,
.halfright {
    width: 50%;

    h3 {
        text-align: center;
    }
}

.halfleft {
    float: left;
    padding-right: 20px;
}

.halfright {
    float: right;
    padding-left: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

// Structural and generic elements

header {
    position: relative;
    background: $color_header;
    border-bottom: 1px solid $color_header_bottom;
    color: $color_header_text;
    padding: 0 10px;
    height: 41px;
    z-index: 2;

    div.branding {
        img {
            margin-top: 7px;
            float: left;
        }

        h1 {
            float: left;
            color: $color_header_text;
            display: block;
            line-height: 1;
            padding: 13px 10px;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
        }
    }

    a {
        color: $color_header_text;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    nav {
        position: absolute;
        right: 10px;
        top: 0;

        ul.topmenu {
            position: relative;
            margin: 0;

            & > li {
                float: left;
                padding: 0;

                & > a {
                    position: relative;
                    padding-right: 23px !important;
                    color: $color_header_text;
                    display: block;
                    line-height: 41px;
                    padding: 0 10px;

                    &:hover { background-color: $color_links; }

                    &::after {
                        border: 4px solid transparent;
                        border-top-color: $color_background;
                        content: "";
                        height: 0;
                        margin-left: -18px;
                        margin-top: -2px;
                        opacity: .8;
                        left: 100%;
                        position: absolute;
                        text-indent: -99999px;
                        top: 50%;
                        width: 0;
                    }
                }

                &:hover > .filter,
                &.opened > .filter {
                    display: block;
                }

                &.selected > a,
                &.opened > a {
                    background-color: $color_links;
                }
            }
        }
    }
}

div.main {
    position:absolute;
    width:100%;
    margin-top:-41px;
    padding-top:41px;
    min-height:100%;
    overflow:hidden;

    aside {
        padding-bottom: 100000px;
        margin-bottom: -100000px;
        width: 200px;
        float: left;
        color: $color_sidebar_text;
        border-right: 1px solid darken($color_sidebar_background, 16);
        background-color: $color_sidebar_background;

        h3 {
            text-transform: uppercase;
            margin-top: 50px;
            margin-left: 20px;
            font-size: 11px;
            color: darken($color_sidebar_text, 25);
        }

        ul.navigation {
            margin-top: 0;
            padding-top: 10px;

            &:nth-child(1) {
                padding-top: 20px;
            }

            li {
                font-size: 1.1em;
                display: block;

                &.selected, a:hover {
                    background-color: darken($color_sidebar_background, 6);
                    color: $color_links;
                }

                a {
                    color: $color_sidebar_links;
                    display: block;
                    padding: 7px 10px 7px 20px;

                    span {
                        float: right;
                        margin-top: -2px;
                        background: rgba(darken($color_sidebar_background, 95), 0.2);
                        color: rgba(darken($color_sidebar_background, 80), 0.8);
                        border-radius: 2em;
                        font-size: 11px;
                        font-weight: 700;
                        line-height: .99;
                        min-height: 1em;
                        min-width: 1em;
                        padding: 3px 8px 3px;
                        position: relative;
                        text-shadow: none;
                        display: inline-block;
                        text-decoration: none;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                ul.navigation {
                    padding: 0;

                    li {
                        font-size: 0.95em;
                        line-height: 0.95em;

                        a { padding-left: 35px; }
                    }
                }
            }
        }
    }
}

article {
    @include clearfix;
    margin-left: 200px;
    padding: 20px 24px;

    div.headerline {
        h3 {
            display: inline-block;
            margin: 0;
            padding: 6px 10px;

            a {
                color: lighten($color_text, 67);

                &:hover {
                    color: lighten($color_text, 20);
                    text-decoration: underline;
                }
            }
        }
    }

    h1 {
        a:link,
        a:visited {
            color: lighten($color_text, 20);

            &:hover { text-decoration: underline; }
        }

        div.last-activity {
            color: lighten($color_text, 60);
            display: inline-block;
            margin-left: 10px;
            font-size: 12px;
            font-weight: normal;
            font-style: italic;

            a {
                color: lighten($color_text, 60);

                &:hover { color: lighten($color_text, 20); }
            }
        }

        span.status-indicator {
            border-radius: 10px;
            height: 10px;
            margin-left: 10px;
            width: 10px;

            &.status-gray { margin-left: 0; }
        }
    }

    dl {
        margin-top: 20px;
        font-size: 13px;

        dt {
            display: inline-block;
            width: 120px;
            float: left;
            font-weight: bold;
        }

        dt,
        dd {
            margin-bottom: 3px;
        }
    }

    p.empty, p.description {
        margin-top: 20px;
        line-height: 1.6em;
        font-size: 13px;

        code {
            background: darken($color_background, 7);
            display: inline-block;
            font-size: 13px;
            padding: 0 4px 2px 5px;
            border-radius: 3px;
            border: 1px solid darken($color_background, 13);
        }

        a { text-decoration: underline; }
    }

    div.loading {
        margin-top: 20px;
        font-style: italic;
        color: lighten($color_text, 60);
    }

    div.table-filter,
    div.chart-filter {
        float: right;
        clear: right;
        margin-bottom: 8px;

        input { margin-left: 10px; }
    }

    div.chart-filter { margin-top: -20px; }

    span {
        &.payee { font-weight: bold; }

        &.pnsep {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    table {
        margin-top: 20px;
        margin-bottom: 20px;

        &:hover {
            // class ".tree-balance-show" is added via JavaScript
            tr.parent td.num,
            tr td.num.tree-balance-show {
                color: lighten($color_text, 75);
            }
        }

        tbody {
            tr {
                &:nth-child(2n) { background: darken($color_background, 3); }

                &.parent td.num,
                td.num.tree-balance-show {
                    color: lighten($color_text, 90);
                }

                &.hides td.num {
                    span.tree-balance { display: block; }
                    span.balance { display: none; }
                }

                td {
                    border: 1px solid lighten($color_text, 91);
                    padding: 3px 6px;
                    white-space: nowrap;

                    &:first-child { min-width: 200px; }

                    &.num {
                        color: $color_text;
                        padding-left: 14px;
                        font: 1.1em / 1.1em $font_family_monospaced;
                        text-align: right;
                        padding-right: 6px !important;
                        vertical-align: top;

                        span.balance { display: block; }
                        span.tree-balance { display: none; }
                    }

                    &.account-level-1 { padding-left: 8px; }

                    @for $i from 2 through 12 {
                        &.account-level-#{$i} {
                            padding-left: -0.5em + $i * 1.3;
                        }
                    }

                    &.num.tree-balance-show span.tree-balance { display: block; }

                    &.change.num,
                    &.balance.num {
                        font-size: 12px;
                    }

                    a.account { font-weight: bold; }
                }
            }
        }

        thead th,
        tfoot td {
            border: 1px solid darken($color_background, 15);
            padding: 3px 8px;
            font-weight: bold;
            background: $color_treetable_header_bg;
            color: lighten($color_text, 53);
            white-space: nowrap;
        }

        tfoot {
            td {
                color: lighten($color_text, 40);
                padding: 2px 8px;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
// Components //////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import "charts";
@import "overlay";
@import "journal-table";
@import "tree-table";
@import "filter";

ul.warnings {
    margin: 0;
    padding: 0;

    & > li {
        display: block;
        text-align: center;
        padding: 10px;
        line-height: 1.4em;

        &.error {
            color: white;
            background: $color_error;
        }
    }
}

span.status-indicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;

    &:hover { cursor: pointer; }

    &.status-red { background: $color_status_red; }
    &.status-yellow { background: $color_status_yellow; }
    &.status-green { background: $color_status_green; }
    &.status-gray { background: $color_status_gray; }
}

table.sortable {
    th[data-sort] {
        padding-right: 18px;
        position: relative;
        cursor: pointer;

        &.sorting-asc:after, &.sorting-desc:after {
            content: "";
            display: block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid darken($color_background, 47);
            position: absolute;
            right: 4px;
            top: 8px;
        }

        &.sorting-asc:after {
            top: 6px;
            border-top: none;
            border-bottom: 5px solid darken($color_background, 47);
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
// View-specific ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import "query";
@import "editor";

#assets, // TODO auch mit klassen
#liabilities,
#equity,
#income,
#expenses {
    table {
        width: 100%;
    }
}

table.errors,
table.holdings,
table.net_worth {
    a {
        font-weight: bold;
    }
}

table.options_map,
table.settings {
    font-size: 12px;

    td:nth-child(1) {
        font-weight: bold;
        text-align: left;
        padding-left: 6px;
    }

    td:nth-child(2) {
        white-space: normal;
        text-align: left;
        padding-left: 6px;

        pre { font-size: 13px; }
    }
}

table.commodity,
table.events {
    td:first-child {
        min-width: inherit;
    }
}

table.statistics-update-activity {
    thead th:nth-child(2), thead th:nth-child(3) { padding-left: 0; }
    tbody td.uptodate-indicator { text-align: center; }
    span.status-indicator { margin: 0 auto; }
}

// Statistics
div.left.statistics {
    margin-right: 30px;

    table.statistics td:first-child a {
        font-weight: bold;
    }
}

table.tree-table td.account,
table.holdings,
table.queryresults {
    span.status-indicator {
        float: right;
        margin-top: 3px;
        margin-left: 6px;
    }
}
