@import "~normalize.css/normalize.css";

// for the editor

@font-face {
    font-family: "Source Code Pro";
    src: url("~@typopro/web-source-code-pro/TypoPRO-SourceCodePro-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("~@typopro/web-source-code-pro/TypoPRO-SourceCodePro-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}

// Mixins

@mixin placeholder {
    &:placeholder-shown          {@content}
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
    &::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary;
    }

    &::-webkit-scrollbar-track {
        background: $secondary;
    }

  // For Internet Explorer
  body {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}

$transitions: all 0.2s ease-out;

@mixin smooth-transitions {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}

// Globals

* {
    box-sizing: border-box;
}

$min_width: 560px;

html,
body {
    font-family: $font_family;
    font-weight: 400;
    font-size: 14px;
    height: 100%;
    min-width: $min_width;
    color: $color_text;
    background: $color_background;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p, ol, ul, dl, table, pre, hr {
    margin: 0 0 1rem 0;
    padding: 0;
    list-style: none;
}

p {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: $color_headings;
    margin: 0 0 1rem 0;
    padding: 0;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2857em; }
h3 { font-size: 1.1429em; }
h4, h5 { font-size: 1em; }

b, strong {
    font-weight: 500;
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken($color_links, 40);
    }

    &:link,
    &:visited {
        color: $color_links;
    }

    &:active,
    &:focus,
    img {
        outline: none;
        border: none;
    }
}

.hidden,
.hidden-type {
    display: none;
}

%clearfix {
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}

// Structural and generic elements
$header_height: 50px;
$aside_width: 160px;
$safe_two_column: $min_width * 2 + $aside_width;

body {
    padding: $header_height 0 0 $aside_width;
    @include smooth-transitions;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: $color_header;
    border-bottom: 1px solid $color_header_bottom;
    color: $color_header_text;
    padding: 0 10px;
    height: $header_height;
    z-index: 10;
    display: flex;
    align-items: center;

    h1 {
        flex: 1;
        color: $color_header_text;
        display: block;
        line-height: 1;
        padding: ($header_height - 16px)/2 10px;
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        overflow: hidden;

        strong {
            margin-left: 10px;

            &:before {
                content: "›";
                margin-right: 10px;
                font-weight: normal;
                color: rgba($color_header_text, 0.5);
            }

            span.droptarget {
                padding: 0.6em;
                margin-left: -0.6em;
            }

            a:link,
            a:visited {
                color: darken($color_header_text, 15);

            }

            a:hover {
                text-decoration: underline;
                color: $color_header_text;
            }

            span.last-activity {
                color: darken($color_header_text, 15);
                display: inline-block;
                margin-left: 10px;
                font-size: 12px;
                font-weight: normal;
            }

            span.status-indicator {
                border-radius: 10px;
                height: 10px;
                margin: 0 0 0 10px;
                width: 10px;

                &.status-gray { margin-left: 0; }
            }
        }
    }

    nav {
        ul.topmenu {
            display: flex;
            margin: 0;
        }
    }
}

#aside_button {
    position: fixed;
    top: $header_height;
    left: 0px;
    height: 32px;
    width: 32px;
    background-color: $color_sidebar_background;
    border-style: solid;
    border-color: darken($color_sidebar_background, 16);
    border-width: 0 1px 1px 0;
    z-index: 9;
    display: none;
    @include smooth-transitions;
}

#aside_button.active {
    left: $aside_width;
}

#aside_button svg {
    height: 100%;
    width: 100%;
}

aside {
    position: fixed;
    top: $header_height;
    bottom: 0;
    left: 0;
    padding-top: 1em;
    margin-left: 0;
    flex-shrink: 0;
    width: $aside_width;
    color: $color_sidebar_text;
    border-right: 1px solid darken($color_sidebar_background, 16);
    background-color: $color_sidebar_background;
    overflow-y: auto;
    @include scrollbar(.5em, darken($color_sidebar_background, 30), transparent);
    z-index: 9;
    @include smooth-transitions;

    h3 {
        text-transform: uppercase;
        margin-left: 20px;
        font-size: 0.9em;
        color: darken($color_sidebar_text, 25);
    }

    > ul.navigation {
        margin-bottom: 1.5em;

        &:last-child { margin-bottom: 0; }

        li {
            display: block;

            &.selected,
            a:hover {
                background-color: darken($color_sidebar_background, 6);
                color: $color_links;
            }

            a {
                color: $color_sidebar_links;
                display: block;
                padding: 7px 20px;
            }

            ul li {
                font-size: 0.95em;
                line-height: 0.95em;

                &.selected,
                a:hover {
                    background-color: darken($color_sidebar_background, 15);
                }

                a { padding-left: 35px; }
            }

            &.error {
                position: relative;
                background-color: $color_error;

                &.selected,
                a:hover {
                    background-color: darken($color_error, 5);

                    span.bubble { background: lighten($color_error, 57); }
                }

                a { color: $color_sidebar_background; }

                span.bubble {
                    font-size: 0.9em;
                    display: block;
                    position: absolute;
                    right: 8px;
                    top: 7px;
                    background: lighten($color_error, 60);
                    color: $color_sidebar_links;
                    padding: 1px 8px;
                    border-radius: 12px;
                }
            }
        }
    }
}
aside.active {
    margin-left: 0;
}


article {
    height: 100%;
    width: 100%;
    padding: 1.5em;

    div.headerline {
        margin: 0 0 1.5em 0;

        h3 {
            display: inline-block;
            margin: 0 1.5em 0 0;

            a {
                color: lighten($color_text, 40);

                &:hover {
                    color: lighten($color_text, 20);
                    text-decoration: underline;
                }
            }
        }
    }

    td.account a,
    a.account {
        font-weight: 500;
    }

    dl {
        dt {
            display: inline-block;
            width: 120px;
            float: left;
            font-weight: bold;
        }

        dt,
        dd {
            margin-bottom: 3px;
        }
    }

    li {
        line-height: 1.5em;
    }

    ul a,
    p > a {
        text-decoration: underline;

        &:hover { color: darken($color_links, 10); }
    }


    code,
    pre {
        font-family: $font_family_monospaced;
        white-space: pre;
        line-height: 1em;

        background-color: #f8f8f8;
        border-radius: 3px;
        border: 1px solid darken($color_background, 13);
    }

    code {
        padding: 0 4px;
    }

    pre {
        overflow: auto;
        padding: 6px 10px;

        code {
            border: none;
            margin: 0;
            padding: 0;
        }
    }

    form.wide-form {
        width: 100%;
        margin-bottom: 10px;
        text-align: right;

        &.chart-filter input { margin-left: 10px; }
    }

    .dragover { background: lighten($color_links, 50); }
}

kbd {
    display: inline-block;
    text-align: center;
    font: 1rem $font_family_kbd;
    padding: 3px 6px;
    color: lighten($color_text, 15);
    vertical-align: middle;
    background-color: darken($color_background, 1);
    border: solid 1px darken($color_background, 20);
    border-bottom-color: darken($color_background, 27);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 darken($color_background, 27);
    margin: 0 1px 3px 0;
}

////////////////////////////////////////////////////////////////////////////////
// Components //////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import "charts";
@import "overlay";
@import "journal-table";
@import "tree-table";
@import "filter";
@import "help";

.halfleft,
.halfright {
    width: 50%;

    h3 {
        text-align: center;
    }
}

.halfleft {
    float: left;
    padding-right: 10px;
}

.halfright {
    float: right;
    padding-left: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul.warnings {
    & > li {
        display: block;
        text-align: center;
        padding: 10px;
        color: white;
        background: $color_error;
    }
}

span.status-indicator {
    display: inline-block;
    margin: 5px;
    width: 6px;
    height: 6px;
    border-radius: 6px;

    &:hover { cursor: pointer; }

    &.status-red { background: $color_status_red; }
    &.status-yellow { background: $color_status_yellow; }
    &.status-green { background: $color_status_green; }
    &.status-gray { background: $color_status_gray; }
}

table.sortable {
    th[data-sort] {
        padding-right: 18px;
        position: relative;
        cursor: pointer;

        &.sorting-asc:after, &.sorting-desc:after {
            content: "";
            display: block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid darken($color_background, 47);
            position: absolute;
            right: 4px;
            top: 8px;
        }

        &.sorting-asc:after {
            top: 6px;
            border-top: none;
            border-bottom: 5px solid darken($color_background, 47);
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
// View-specific and tables/////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import "query";
@import "editor";

table {
    tbody tr:nth-child(2n) {
        background: darken($color_background, 3);
    }

    tbody td {
        border: 1px solid lighten($color_text, 60);
    }

    td, th {
        white-space: nowrap;
        padding: 3px 6px;


        &.num {
            color: $color_text;
            font: 1rem $font_family_monospaced;
            width: 8rem;
            text-align: right;
        }

        &.other {
            width: 10rem;
        }

    }

    thead th,
    tfoot td {
        border: 1px solid darken($color_background, 15);
        font-weight: bold;
        background: $color_treetable_header_bg;
        color: lighten($color_text, 30);
    }

    tfoot td {
        color: lighten($color_text, 30) !important;
    }
}

.halfleft table,
.halfright table {
    width: 100%;
}

table.options_map,
table.settings {
    td { text-align: left; }
    td:nth-child(1) { font-weight: bold; }
    td:nth-child(2) { white-space: normal; }

    pre {
        margin: 0;
        padding: 0;
        overflow: inherit;
        background-color: inherit;
        border: none;
    }
}

table.commodity,
table.events {
    td:first-child {
        min-width: inherit;
    }
}

table.statistics-update-activity {
    thead th:nth-child(2), thead th:nth-child(3) { padding-left: 0; }
    tbody td.uptodate-indicator { text-align: center; }
    span.status-indicator { margin: 0 auto; }
}

// Statistics
div.left.statistics {
    margin-right: 20px;

    h3 input {
        font-size: 1rem;
        font-weight: normal;
    }
}

table.tree-table td.account,
table.holdings,
table.queryresults {
    span.status-indicator {
        float: right;
        margin-top: 3px;
        margin-left: 3px;
    }
}

/* At resolutions smaller than 768px, hide the aside menu.
   This means that ipads and larger will show the side menu. */
@media (max-width: 767px) {
    body {
        padding: $header_height 0 0 0;
    }

    aside {
        margin-left: -$aside_width;
    }
    #aside_button {
        display: block;
    }

    article#page-source form div#source-editor-wrapper {
        left: 0;
    }
}

/* Between 768px and twice min-width + aside_width, make each table fill the
   entire screen. If min_width is 560px, $safe_two_column is 1280px. */
@media (max-width: $safe_two_column - 1) {
    .halfleft,
    .halfright {
        width: 100%;
    }

    .halfleft {
        float: none;
        padding-right: 0;
    }

    .halfright {
        float: none;
        padding-left: 0;
    }
}
