// Chartist

$ct-bar-width: 14px;
$ct-line-width: 3px;
$ct-point-size: 6px;
$ct-series-colors: (
    #990000,
    #113861,
    #777,
    #1B9900,
    #FF8800,
    #59922b,
    #0544d3,
    #6b0392,
    #f05b4f,
    #dda458,
    #eacf7d,
    #86797d,
    #b2c326,
    #6188e2,
    #a748ca
);

@import "~chartist/dist/scss/chartist";

.charts {
    .ct-label {
        font-size: 11px;
        font-weight: bold;
    }

    .chart-labels {
        color: rgba(0, 0, 0, 0.2);
        font-size: 11px;
        line-height: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;

        label {
            color: rgba(0, 0, 0, 0.3);
            padding: 0 5px;

            &:hover {
                text-decoration: underline;
                color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }

            &.selected {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .charts-container {
        position: relative;
        height: 240px;

        .loading {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            margin-top: 90px;
        }
    }

    .ct-chart {
        position: relative;

        &.chart-no-data div {
            font-style: italic;
            color: #999;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            margin-top: 90px;
        }

        .ct-bar { cursor: pointer; }
    }

    .ct-legend {
        position: absolute;
        z-index: 6;
        top: 17px;
        left: 10px;

        li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 3px;
            cursor: pointer;
        }

        li:before {
            width: 8px;
            height: 7px;
            position: absolute;
            left: 0;
            content: '';
            border: 3px solid transparent;
            top: -1px;
        }

        li.inactive:before {
            background: transparent;
        }

        &.ct-legend-inside {
            position: absolute;
            top: 0;
            right: 0;
        }

        @for $i from 0 to length($ct-series-colors) {
            .ct-series-#{$i}:before {
                background-color: nth($ct-series-colors, $i + 1);
                border-color: nth($ct-series-colors, $i + 1);
            }
        }
    }

    .ct-zoom-rect {
        fill: rgba(200, 200, 200, 0.3);
        stroke: #666;
    }
}

.chartist-tooltip {
    font-family: $font_family_monospaced;
    font-size: 13px;
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 5em;
    padding: .5em;
    background: rgb(244, 244, 244);
    border: 1px solid #CCC;
    box-shadow: 0px 0px 5px rgb(221, 221, 221);
    text-align: center;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;

    &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -15px;
        border: 15px solid transparent;
        border-top-color: #ccc;
    }

    &.tooltip-show {
        opacity: 1;
    }

    em {
        font-family: $font_family;
        font-size: 0.9em;
        display: block;
        margin-top: 5px;
        color: #777;
    }
}
