.chart-labels {
  color: lighten($color-text, 40);
  font-size: 1em;
  line-height: 14px;
  margin-bottom: 20px;
  margin-top: 8px;
  position: relative;
  text-align: center;

  label {
    padding: 0 5px;

    &:hover {
      color: $color-text-lighter;
      cursor: pointer;
    }

    &.selected { color: $color-text-lighter; }
  }

  label+label { border-left: 1px solid lighten($color-text, 40); }
}

.toggle-chart {
  padding: 4px 6px;
  position: absolute;
  right: 19px;
  top: 19px;

  span {
    border: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 13px solid $color-background;
    display: block;
  }

  &.hide-charts {
    span {
      border: 0;
      border-bottom: 13px solid $color-background;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
    }
  }
}

.charts {
  form {
    display: flex;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 35px;

    > span,
    > select {
      margin-right: 10px;
    }
  }
}

.chart-container {
  min-height: 100px;
  position: relative;
}

.chart-legend {
  flex-grow: 1;

  .color {
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
  }

  .name {
    margin: 0 6px 0 3px;
  }
}

.chart > p,
.loading {
  color: lighten($color-text, 60);
  font-style: italic;
  padding-top: 30px;
  text-align: center;
}

svg {
  text {
    fill: lighten($color-text, 10);
  }

  .line {
    fill: none;
    stroke-width: 2px;
  }

  .axis {
    path,
    line {
      fill: none;
      shape-rendering: crispEdges;
      stroke: $color-chart-axis;
    }

    &.y {
      line {
        stroke: $color-chart-axis;
        stroke-dasharray: 2, 2;
      }
    }
  }
}


.voronoi {
  path {
    fill: none;
    pointer-events: all;
  }
}

.treemap {
  shape-rendering: crispEdges;

  rect {
    stroke: $color-treemap-text;
    stroke-width: 2px;
  }

  text {
    cursor: pointer;
  }
}

.sunburst {
  .account {
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
  }

  .balance {
    font-family: $font-family-monospaced;
    font-size: 14px;
  }

  path {
    cursor: pointer;
  }
}

.barchart {
  // sass-lint:disable-block nesting-depth
  .group {
    cursor: pointer;

    &:hover {
      .group-box {
        opacity: .1;
      }
    }
  }

  .group-box {
    opacity: 0;
  }

  .budget {
    opacity: .3;
  }
}

.tooltip {
  background: darken($color-background, 5);
  border: 1px solid darken($color-background, 20);
  box-shadow: 0 0 5px darken($color-background, 6);
  font-family: $font-family-monospaced;
  min-width: 5em;
  opacity: 0;
  padding: .5em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -100%);
  z-index: 12;

  &::before {
    border: 15px solid transparent;
    border-top-color: darken($color-background, 20);
    content: '';
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    top: 100%;
    width: 0;
  }

  em {
    color: darken($color-background, 50);
    display: block;
    font-family: $font-family;
    margin-top: 5px;
  }
}
