// Editor

div.editor-wrapper {
    position: relative;
    margin-top: 20px;

    &.editor-wrapper-source {
        position: relative;

        div.editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &.editor-wrapper-readonly { margin-bottom: 20px; }
    &.editor-wrapper-query > div.editor { height: 180px; }
}

.ace_editor.ace-chrome {
    border: 1px solid darken($color_background, 9);

    .ace_gutter {
        border-right: 1px solid darken($color_background, 9);
        background: white;
        color: lighten($color_text, 65);
        font-weight: normal;
    }

    .ace_gutter-cell {
        padding: 0 6px;
    }

    .ace_comment {
        color: $color_editor_comment;
        font-style: italic;
    }

    .ace_directive {
        color: $color_editor_directive;
        font-weight: bold;
    }

    .ace_class,
    .ace_double,
    .ace_triple {
        color: $color_editor_class;
    }

    .ace_constant.ace_numeric.ace_date {
        color: $color_editor_date;
    }

    .ace_constant,
    .ace_constant.ace_language,
    .ace_tag {
        color: $color_editor_constant;
    }

    .ace_account {
        color: $color_editor_account;
    }

    .ace_invalid {
        color: $color_editor_invalid;
        background: transparent;
    }

    // .ace_marker-layer .ace_active-line { background: $color_editor_activeline; }

    &.ace_autocomplete .ace_content {
        font-family: $font_family_monospaced;
        font-size: 13px;
    }
}

form {
    &.editor-source {
        float: right;
        margin-top: -20px;
    }

    &.editor-save {
        float: right;
        margin-top: 10px;
    }
}
