// Editor

article#page-source {
    padding: 0;

    form {
        height: 40px;
        border-bottom: 2px solid darken($color_background, 5);

        input {
            margin: 5px;
            background: $color_header;
            color: #fff;
            padding: 4px 10px;
            border: 1px solid darken($color_header, 9);
        }
    }

    div.editor {
        position: fixed;
        left: 0;
        top: $header_height + 40px;
        right: 0;
        bottom: 0;
    }
}

div.editor-wrapper {
    &.editor-wrapper-readonly {
        margin-bottom: 20px;
        border: 1px solid darken($color_background, 9);
    }

    &.editor-wrapper-query > div.editor {
        font-size: 16px;
        height: 180px;
        border: 1px solid darken($color_background, 9);
    }
}

.ace_editor.ace-chrome {
    font: 13px $font_family_editor;

    .ace_gutter {
        border-right: 1px solid darken($color_background, 9);
        background: white;
        color: lighten($color_text, 65);
        font-weight: normal;
    }

    .ace_gutter-cell {
        padding: 0 13px;
    }

    .ace_section {
        color: $color_editor_comment;
        font-weight: bold;
        border: solid 1px $color_editor_comment;
        border-radius: 2px;
        padding-right: 10px;
    }

    .ace_line .ace_fold { border-color: transparent; }

    .ace_comment {
        color: $color_editor_comment;
    }

    .ace_directive {
        color: $color_editor_directive;
        font-weight: bold;
    }

    .ace_class,
    .ace_double,
    .ace_triple {
        color: $color_editor_class;
    }

    .ace_constant.ace_numeric.ace_date {
        color: $color_editor_date;
    }

    .ace_constant,
    .ace_constant.ace_language,
    .ace_tag {
        color: $color_editor_constant;
    }

    .ace_account {
        color: $color_editor_account;
    }

    .ace_invalid {
        color: $color_editor_invalid;
        background: transparent;
    }

    &.ace_autocomplete .ace_content {
        font: 13px $font_family_editor;
    }
}

/* Modifications for ipad */
@media (min-width: 768px) {
article#page-source {
    div.editor {
        left: $aside_width;
    }
}
}
