// Editor

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/dialog/dialog.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/hint/show-hint.css';

article#page-source {
    padding: 0;

    form {
        background: lighten($color_sidebar_background, 2);

        > select {
            margin: 5px 10px;
        }

        > input {
            margin: 5px;
            background: $color_header;
            color: #fff;
            padding: 4px 10px;
            border: 1px solid darken($color_header, 9);
        }

        div#source-editor-wrapper {
            position: fixed;
            top: $header_height + 37px;
            right: 0;
            bottom: 0;
            left: $aside_width;
        }

        .CodeMirror,
        textarea {
            border: none;
            width: 100%;
            height: 100%;
            margin: 0;

            .CodeMirror-lines {
                border-top: 1px solid darken($color_sidebar_background, 10);
            }
        }
    }

    div#source-readonly {
        padding: 1.5em;
    }
}

.CodeMirror-gutters {
    background: lighten($color_sidebar_background, 2);
    border-right: 1px solid darken($color_sidebar_background, 10);
}

.CodeMirror {
    font: 13px $font_family_editor;
    border: 1px solid darken($color_background, 9);
    margin-bottom: 1em;

    .cm-section {
        color: $color_editor_comment;
        font-weight: bold;
        border: solid 1px $color_editor_comment;
        border-radius: 2px;
        padding-right: 10px;
    }

    .cm-comment {
        color: $color_editor_comment;
    }

    .cm-date {
        color: $color_editor_date;
    }

    .cm-directive {
        color: $color_editor_directive;
        font-weight: bold;
    }

    .cm-option {
        color: $color_editor_class;
    }

    .cm-account {
        color: $color_editor_account;
    }

    .cm-invalid {
        color: $color_editor_invalid;
    }
}

.CodeMirror-hint {
    max-width: 600px;
}
