// Filter

div.filter {
    display: none;
    background-color: $color_background;
    border: 1px solid darken($color_background, 20);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 3px 6px rgba($color_text, 0.2);
    position: absolute;
    right: 0;
    color: $color_text;
    width: 400px;
    z-index: 10;
    top: 41px;

    & > ul {
        max-height: 400px;
        overflow-y: auto;

        li {
            a {
                display: block;
                padding: 5px 10px;
                color: $color_links !important;
            }

            &.selected a,
            a:hover {
                background-color: $color_links !important;
                color: lighten($color_text, 100) !important;
            }

             &.selected a {
                padding-left: 28px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAAQMGHjE8P0Bfi6Omt9Hi7/XCzsNoAAAAO0lEQVQI143HSxZAMBAAwQ5CfEPf/7AWHmZH7Qr+aMcmZHONcQa6PV9ZEnBofsKg1jtQ9A2UGOinxKcT2psCetpsGdwAAAAASUVORK5CYII=) no-repeat 9px center;
            }
        }
    }

    input {
        margin: 5px 10px;
        height: 26px;
        display: block;
        border: 1px solid lighten($color_text, 80);
        border-radius: 5px;
        line-height: 26px;
        width: 380px;
        font-size: 13px;
        font-family: $font_family;
    }
}
