// Filter

div.beancount-files,
div.filter {
    display: none;
    background-color: $color_background;
    border: 1px solid darken($color_background, 20);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 3px 6px rgba($color_text, 0.2);
    width: 400px;
    position: absolute;
    z-index: 10;
    top: 41px;

    & > ul {
        margin-bottom: 0;
        max-height: 400px;
        overflow-y: auto;

        li {
            a {
                display: block;
                padding: 5px 10px;
                color: $color_links !important;
            }

            &.selected a,
            a:hover {
                background-color: $color_links !important;
                color: lighten($color_text, 100) !important;
            }

             &.selected a {
                padding-left: 28px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAAQMGHjE8P0Bfi6Omt9Hi7/XCzsNoAAAAO0lEQVQI143HSxZAMBAAwQ5CfEPf/7AWHmZH7Qr+aMcmZHONcQa6PV9ZEnBofsKg1jtQ9A2UGOinxKcT2psCetpsGdwAAAAASUVORK5CYII=) no-repeat 9px center;
            }
        }
    }

    input {
        font-size: 1.1em;
        line-height: 1.5em;
        margin: 5px;
        display: block;
        border: 1px solid lighten($color_text, 60);
        border-radius: 3px;
        width: 390px;
    }
}

div.filter {
    right: 0;
}

h1:hover div {
    display: block;
}

div.beancount-files {
    left: 19px;
    width: 20em;

    & > ul li a {
        padding: 8px 12px 8px 28px;
    }
}
