// Filter

@import '~awesomplete/awesomplete.css';

#filter-form {
  color: $color-text;

  > ul > li {
    margin-left: 10px;
    position: relative;

    &.empty input {
      background: lighten($color-header, 10);
    }

    input {
      background: $color-background;
      border: 0;
      color: $color-text;
      height: 36px;
      line-height: 36px;
      max-width: 15rem;
      padding: 0 25px 0 10px;

      &[type='text'] {
        outline: none;

        @include placeholder {
          color: lighten($color-header, 60);
          opacity: 1;
        }

        &:focus {
          background: $color-background;
          color: $color-text;

          @include placeholder {
            color: lighten($color-text, 50);
          }
        }
      }

      &[type='submit'] {
        background: lighten($color-header, 5);
        color: $color-background;
        height: 36px;
        line-height: 36px;
        margin-right: 0;
        padding: 0 7px;
        width: auto;
      }

      // remove dropdown triangle
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    button {
      background: transparent;
      border: 0;
      display: none;
      height: 18px;
      padding: 0;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 18px;

      svg.close-icon {
        fill: lighten($color-text, 50);
        position: absolute;
        right: -5px;
        top: -1px;
      }
    }
  }

  div.awesomplete {
    ul {
      border-radius: 0;
      opacity: 1;
      padding: 2px 0;
      transition: none;

      li {
        line-height: 1.5em;
        min-width: 8rem;
        padding: 0 10px;
        position: relative;
        white-space: nowrap;

        &:hover {
          background: $color-links;
          color: $color-background;
        }
      }
    }
  }
}

div.beancount-files {
  background-color: $color-background;
  border: 1px solid darken($color-background, 20);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 6px rgba($color-text, .2);
  display: none;
  left: 19px;
  position: absolute;
  top: $header-height;
  width: 20em;
  z-index: 10;

  & > ul {
    margin-bottom: 0;
    max-height: 400px;
    overflow-y: auto;

    li {
      a {
        color: $color-links !important;
        display: block;
        padding: 8px 12px 8px 28px;
      }

      &.selected a,
      a:hover {
        background-color: $color-links !important;
        color: lighten($color-text, 100) !important;
      }

      &.selected a {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAAQMGHjE8P0Bfi6Omt9Hi7/XCzsNoAAAAO0lEQVQI143HSxZAMBAAwQ5CfEPf/7AWHmZH7Qr+aMcmZHONcQa6PV9ZEnBofsKg1jtQ9A2UGOinxKcT2psCetpsGdwAAAAASUVORK5CYII=) no-repeat 9px center;
        padding-left: 28px;
      }
    }
  }
}

h1:hover div {
  display: block;
}
