// Help Pages

@import "pygments";

.help-text {
    font-size: 1.1em;
    font-family: $font_family_alternative;

    div { margin-bottom: 1em; }

    ul {
        padding-left: 2em;
    }

    li {
        list-style-type: disc;
    }
}

.help-sidebar {
    text-align: right;
    float: right;
    margin: 0 0 10px 10px;
    padding: 10px 10px 0 10px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 1px;
    font-size: 1.1em;

    a {
        text-decoration: none;

        &:hover { text-decoration: underline; }
        &.selected { font-weight: bold; }
    }

    li {
        list-style-type: none;
    }
}
