// Help Pages

$color-help-sidebar: #f8f8f8;
$color-help-sidebar-border: #eaeaea;

.help-text {
  font: 16px $font-family-alternative;
  width: 660px;

  h2,
  h3,
  h4,
  h5 {
    font-family: $font-family;
  }

  > div {
    margin-bottom: 1em;
  }

  .CodeMirror { // sass-lint:disable-line class-name-format
    background-color: $color-code-background;
    border: 0;
    height: auto;
    margin: 0;
    padding: 0;
  }

  code {
    font-size: .9em;
  }

  ul {
    padding-left: 2em;
  }

  li {
    list-style-type: disc;
  }
}

.help-sidebar {
  background-color: $color-help-sidebar;
  border: 1px solid $color-help-sidebar-border;
  border-radius: 1px;
  float: right;
  font-size: 1.1em;
  left: 850px;
  margin: 0 0 10px 10px;
  padding: 10px 10px 0;
  position: fixed;

  a {
    text-decoration: none;

    &:hover { text-decoration: underline; }
    &.selected { font-weight: 500; }
  }

  li {
    list-style-type: none;
  }
}
