// Help Pages

@import "pygments";

.help-text {
    width: 660px;
    font: 16px $font_family_alternative;

    h1, h2, h3, h4, h5 {
        font-family: $font_family;
    }

    div {
        margin-bottom: 1em;
    }

    code {
        font-size: 1rem;
    }

    hr {
        border: 1px solid darken($color_background, 20);
    }

    ul {
        padding-left: 2em;
    }

    li {
        list-style-type: disc;
    }
}

.help-sidebar {
    position: fixed;
    left: 850px;
    float: right;
    margin: 0 0 10px 10px;
    padding: 10px 10px 0 10px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 1px;
    font-size: 1.1em;

    a {
        text-decoration: none;

        &:hover { text-decoration: underline; }
        &.selected { font-weight: 500; }
    }

    li {
        list-style-type: none;
    }
}
