// Journal table

#entry-filters {
    input {
        background-color: $color_header;
        color: #eee;
        border: none;
        padding: 6px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    input.inactive {
        background: darken($color_background, 5);
        color: lighten($color_text, 30);
    }
    input.txn-toggle {
        margin-left:-2px;
    }
    input#toggle-metadata {
        margin-left:9px;
    }
}

ol.journal-table {
    width: 100%;

    p, li, ul {
        padding: 0;
        margin: 0;
    }

    p {
        display: flex;
        border-bottom: thin solid $color_journaltable_border;
    }

    >li {
        &:nth-child(2n) { background: darken($color_background, 2); }
    }

    li {
        // Journal entry types
        &.open              { background-color: $color_journalentry_open;            }
        &.close             { background-color: $color_journalentry_close;           }
        &.note              { background-color: $color_journalentry_note;            }
        &.query             { background-color: $color_journalentry_note;            }
        &.pad               { background-color: $color_journalentry_pad;             }
        &.padding           { background-color: $color_journalentry_padding;         }
        &.summarize         { background-color: $color_journalentry_padding;         }
        &.transfer          { background-color: $color_journalentry_padding;         }
        &.pending           { background-color: $color_journalentry_pending;         }
        &.document          { background-color: $color_journalentry_document;        }
        &.balance           { background-color: $color_journalentry_balance;         }
        &.balance.fail      { background-color: $color_journalentry_pending;         }
        &.posting           { background-color: $color_journalentry_open;            }
        &.posting.pending   { background-color: $color_journalentry_postingwarning;  }

        &.document a:nth-child(1) { font-weight: normal; }

        &.posting {
            font-size: 0.9em;
            opacity: 0.6;
        }

        &.transaction {
            cursor: pointer;
        }


        dl.metadata {
            padding: 3px 0 3px 8rem;
            margin: 0;
            font-size: 11px;

            dt, dd {
                margin-bottom:3px;
            }

            dt {
                width: auto;
                min-width: 60px;
                margin-right: 10px;
                font-weight: normal;
                font-style: italic;
                color: $color_journaltable_metadata;
            }

            dd {
                margin-left: 70px;

                a {
                    font-weight: normal;

                    &:hover { text-decoration: underline; }
                }
            }
        }
    }

    span {
        padding: 3px 4px;
        margin: 0;

        &.position,
        &.price,
        &.cost,
        &.change,
        &.balance {
            width: 9rem;
            border-left: 1px solid $color_journaltable_border;
        }
        &.num {
            font: 1em $font_family_monospaced;
            color: $color_text;
            text-align: right;
        }

        &.datecell { width: 6rem; }
        &.flag { width: 1rem; text-align: center; }
        &.change { font-weight: bold; }

        &.description {
            flex: 1;

            span.links {
                margin-left: 1em;
                margin-right: 1em;
                text-decoration: none;
            }
            a {
                font-weight: bold;

                .tag {
                    font-weight: normal;
                    display: inline-block;
                    margin-right: 8px;
                    color: $color_journaltable_tag;

                    &:hover {
                        color: darken($color_journaltable_tag, 30%);
                        text-decoration: underline;
                    }
                }
            }
        }

        &.leg-indicator {
            display: inline-block;
            height: 6px;
            width: 6px;
            background: #C1D0D9;
            border-radius: 3px;
            padding: 0;
            margin-right: 4px;
            margin-top: 8px;

            &:last-child { margin-right: 10px; }

            &.leg-pending { background-color: $color_journalentry_postingwarning; }
        }
    }

    .head {
        color: $color_journaltable_header;
        font-weight: bold;
        background: $color_treetable_header_bg;
        span {
            padding: 3px 4px;
            border: none;
        }
    }

}
