// Journal table

.journal-entry-filters {
  .inactive {
    background: $color-background-darker;
    color: $color-text-lighter;

    &:active,
    &:hover {
      background-color: darken($color-background-darker, 5);
    }
  }

  .txn-toggle {
    margin-left: -2px;
  }

  [id='toggle-metadata'] {
    margin-left: 9px;
  }
}

.tree-table,
.journal-table {
  p,
  li,
  ul,
  ol {
    margin: 0;
    padding: 0;
  }

  p {
    display: flex;

    > span {
      flex-shrink: 0;
      margin: 0;
      padding: 2px 5px;
    }
  }

  a {
    text-decoration: none;
  }

  .num {
    color: $color-text;
    font-family: $font-family-monospaced;
    text-align: right;
  }

  %head {
    background: $color-treetable-header-bg;
    color: $color-journaltable-header;
    font-weight: 500;
  }

  .head {
    @extend %head;

    p > span {
      background: $color-treetable-header-bg;
      padding: 3px 5px;
    }

    .num {
      @extend %head;
      font-family: $font-family;
      text-align: inherit;
    }
  }

  .totals {
    @extend %head;

    .num {
      @extend %head;
    }
  }
}

.journal-table {
  p { border-bottom: thin solid $color-journaltable-border; }

  // Journal entry types (li)
  .open { background-color: $color-journalentry-open; }
  .close { background-color: $color-journalentry-close; }
  .note { background-color: $color-journalentry-note; }
  .query { background-color: $color-journalentry-note; }
  .pad { background-color: $color-journalentry-pad; }
  .document { background-color: $color-journalentry-document; }

  .balance {
    background-color: $color-journalentry-balance;

    &.fail { background-color: $color-journalentry-pending; }
  }

  .other { background-color: $color-journalentry-padding; }
  .pending { background-color: $color-journalentry-pending; }

  .postings {
    background-color: $color-journalentry-open;
    font-size: .9em;
    opacity: .8;

    .num { line-height: 16px; }

    .pending { background-color: $color-journalentry-postingwarning; }
  }

  .custom { background-color: $color-journalentry-custom; }
  .budget { background-color: $color-journalentry-budget; }

  .transaction { cursor: pointer; }

  // Metadata
  dl {
    font-size: .9em;
    margin: 0;
    padding: 3px 0 3px 8rem;

    dt,
    dd {
      margin-bottom: 3px;
    }

    dt {
      color: $color-journaltable-metadata;
      font-style: italic;
      font-weight: normal;
      margin-right: 10px;
      min-width: 60px;
      width: auto;
    }

    dd {
      margin-left: 70px;
    }

    a {
      font-weight: normal;

      &:hover { text-decoration: underline; }
    }
  }

  // Table cells (span)
  .num {
    border-left: 1px solid $color-journaltable-border;
    width: 9rem;
  }

  .datecell {
    padding-right: 0;
    width: 6rem;
  }

  .flag {
    text-align: center;
    width: 1.6rem;
  }

  .change { font-weight: 500; }

  .description {
    flex: 1;

    .tag, .link {
      color: $color-journaltable-tag;
      display: inline-block;
      margin-right: 8px;

      &:hover {
        color: darken($color-journaltable-tag, 30%);
        text-decoration: underline;
      }
    }

    .link {
      color: $color-journaltable-link;

      &:hover { color: darken($color-journaltable-link, 30%); }
    }
  }

  .document .description {
    .tag {
      color: $color-journaltable-tag-document;

      &:hover { color: darken($color-journaltable-tag-document, 30%); }
    }

    .link {
      color: $color-journaltable-link-document;

      &:hover { color: darken($color-journaltable-link-document, 30%); }
    }
  }

  .leg-indicator {
    background: $color-journal-leg-indicator;
    border-radius: 3px;
    display: inline-block;
    height: 6px;
    margin-right: 4px;
    margin-top: 8px;
    padding: 0;
    width: 6px;

    &:last-child { margin-right: 10px; }

    &.leg-pending { background-color: $color-journalentry-postingwarning; }
  }

  .budget-value {
    float: right;
    font-weight: 500;
  }
}
