// sass-lint:disable no-vendor-prefixes

@mixin placeholder {
  &:placeholder-shown {@content}
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder {@content}
  &::-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
}

@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
  &::-webkit-scrollbar {
    height: $size;
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
  }

  &::-webkit-scrollbar-track {
    background: $secondary;
  }

  // For Internet Explorer
  body {
    // sass-lint:disable-block no-misspelled-properties
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}

%scrollbar {
  @include scrollbar(.5em, $color-scrollbar, transparent);
}
