// Overlays

$overlay-wrapper-background: rgba(0, 0, 0, .5);

.overlay-wrapper {
  align-items: center;
  background: $overlay-wrapper-background;
  bottom: 0;
  cursor: pointer;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  &.shown {
    display: flex;
  }
}

.close-overlay {
  color: $color-text-lighter;
  position: absolute;
  right: 10px;
  top: 10px;
}

.overlay {
  background: $color-background;
  box-shadow: 0 0 20px $overlay-wrapper-background;
  cursor: auto;
  display: flex;
  max-height: 100%;
  padding: 20px;
  position: relative;
  width: 767px;

  form {
    width: 100%;
  }

  strong {
    display: inline-block;
    margin: 6px 0 5px;
  }

  kbd {
    font-size: .9em;
  }

  dt {
    display: inline-block;
    float: left;
    font-weight: normal;
    line-height: 1.8em;
    padding-right: 10px;
    text-align: right;
    width: 170px;
  }

  dd {
    line-height: 1.8em;
  }

  .fieldset {
    display: flex;
    margin-bottom: .5em;
    padding: 0;

    label {
      line-height: 33px;
      width: 150px;
    }

    input {
      border: 1px solid lighten($color-text, 50);
    }

    [type='submit'] {
      margin: .5em .5em -.5em 0;
    }
  }

  .awesomplete {
    input {
      width: 100%;
    }
  }
}

.documents-upload {
  .fieldset {
    display: block;

    input {
      margin: 0 0 .5em;
      width: 100%;
    }

    select {
      margin-left: .5em;
    }
  }
}

.notifications {
  position: fixed;
  right: 10px;
  top: $header-height + 10px;
  width: 400px;

  li {
    background: $color-notification-info;
    color: $color-notification;
    display: block;
    margin-bottom: .5em;
    padding: 5px 10px;
    width: 100%;
  }

  .error {
    background: $color-notification-error;
  }

  .warning {
    background: $color-notification-warning;
  }
}

@media (max-width: 767px) {
  .transaction-overlay {
    overflow: scroll;

    .overlay {
      left: 10px;
      margin-bottom: 10px;
      max-height: initial;
      // min-height: calc(100vh - 20px);
      position: absolute;
      right: 10px;
      top: 10px;
      width: calc(100vw - 20px);
    }
  }
}
