// Overlays

$overlay-wrapper-background: rgba(0, 0, 0, .5);

.overlay-wrapper {
  align-items: center;
  background: $overlay-wrapper-background;
  bottom: 0;
  cursor: pointer;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  &.shown {
    display: flex;
  }

  .overlay {
    display: flex;
    background: $color-background;
    box-shadow: 0 0 20px lighten($overlay-wrapper-background, 50);
    cursor: auto;
    max-height: 100%;
    padding: 20px;
    position: relative;
    width: 800px;

    strong {
      display: inline-block;
      margin: 6px 0 5px;
    }

    .close-overlay {
      color: $color-text-lighter;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  kbd {
    font-size: .9em;
  }

  dl {
    dt {
      display: inline-block;
      float: left;
      font-weight: normal;
      line-height: 1.8em;
      padding-right: 10px;
      text-align: right;
      width: 170px;
    }

    dd {
      line-height: 1.8em;
    }
  }
}

.documents-upload {
  input {
    margin-bottom: .5em;
    padding: 4px 8px;
    width: 100%;
  }

  label {
    display: inline-block;
    margin-bottom: .5em;
  }
}

.notifications {
  position: fixed;
  right: 10px;
  top: $header-height + 10px;
  width: 400px;

  li {
    background: $color-notification-info;
    color: $color-notification;
    display: block;
    margin-bottom: .5em;
    padding: 5px 10px;
    width: 100%;
  }

  .error {
    background: $color-notification-error;
  }
}
