// Overlays

$overlay-wrapper-background: rgba(0, 0, 0, .5);

.overlay-wrapper {
  align-items: center;
  background: $overlay-wrapper-background;
  bottom: 0;
  cursor: pointer;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  &.shown {
    display: flex;
  }

  .overlay {
    background: $color-background;
    box-shadow: 0 0 20px lighten($overlay-wrapper-background, 50);
    cursor: auto;
    display: flex;
    max-height: 100%;
    padding: 20px;
    position: relative;
    width: 767px;

    form {
      width: 100%;
    }

    strong {
      display: inline-block;
      margin: 6px 0 5px;
    }

    .close-overlay {
      color: $color-text-lighter;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  kbd {
    font-size: .9em;
  }

  dl {
    dt {
      display: inline-block;
      float: left;
      font-weight: normal;
      line-height: 1.8em;
      padding-right: 10px;
      text-align: right;
      width: 170px;
    }

    dd {
      line-height: 1.8em;
    }
  }
}

.field-control {
  display: flex;

  input {
    height: 33px;
    margin-bottom: .5em;
    padding: 4px 8px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    display: inline-block;
    line-height: 33px;
    width: 150px;
  }

  select {
    font-size: 16px;
    height: 33px;
  }

  [type='submit'] {
    display: block;
    margin-top: 1rem;
  }
}

.documents-upload {
  fieldset {
    margin: 1rem 0;
    padding: 0;

    input {
      margin-bottom: .5em;
      padding: 4px 8px;
      width: 100%;

      &:last-child {  // sass-lint:disable-line nesting-depth
        margin-bottom: 0;
      }
    }
  }
}

.transaction-form {
  input {
    &[type='date'] {
      width: 150px;
    }

    &[name='payee'] {
      width: 180px;
    }

    &[name='narration'] {
      flex-grow: 1;
    }
  }

  label {
    display: none;
  }

  .number,
  .currency {
    margin-left: .5em;
    width: 100px;
  }

  .posting {
    display: flex;
    padding-left: 4em;

    .awesomplete,
    .account {
      flex-grow: 1;
      padding-right: .5em;
    }
  }
}

.notifications {
  position: fixed;
  right: 10px;
  top: $header-height + 10px;
  width: 400px;

  li {
    background: $color-notification-info;
    color: $color-notification;
    display: block;
    margin-bottom: .5em;
    padding: 5px 10px;
    width: 100%;
  }

  .error {
    background: $color-notification-error;
  }

  .warning {
    background: $color-notification-warning;
  }
}

@media (max-width: 767px) {
  .transaction-form {
    overflow: scroll;

    .overlay {
      left: 10px;
      margin-bottom: 10px;
      max-height: initial;
      // min-height: calc(100vh - 20px);
      position: absolute;
      right: 10px;
      top: 10px;
      width: calc(100vw - 20px);
    }

    label {
      display: block;
      padding-left: 0;
      width: 100%;
    }

    .field-control {
      display: block;

      input {
        border: 1px solid $color-text-lighter;
        width: 100px;

        &[name='narration'],
        &[name='payee'] {
          margin-bottom: .5em;
          width: 100%;
        }
      }
    }

    .posting {
      padding-left: 0;

      .awesomplete {
        margin-bottom: .5em;
        width: 100%;
      }
    }

    button {
      margin-top: 2em;
    }
  }
}
