// Query View

article#page-query {
    div.queryresults-wrapper {
        display: inline-block;

        &, table { min-width: 400px; }

        p.download {
            color: #999;
            float: right;
        }
    }

    p.error {
        color: $color_error;
        font-weight: bold;
        font-family: $font_family_monospaced;
    }

    form.stored-queries {
        color: lighten($color_text, 30);

        label { margin-right: 8px; }
        a { margin-left: 6px; }
    }

    form {
        #submit-query {
            float: right;
        }

        .CodeMirror,
        textarea {
            margin-bottom: 1em;
            font-family: $font_family_editor;
            font-size: 16px;
            border: 1px solid darken($color_background, 9);
            width: 100%;
            height: 180px;
        }

    }

    ul.sample {
        padding-left: 2em;

        a { text-decoration: none; }
        code { color: lighten($color_text, 30); }
        li { list-style-type: disc; }
    }

    td.query-error {
        background: $color_error;
        color: lighten($color_text, 100);
        font-family: $font_family_monospaced;
    }
}
