// Query View

.queryresults-wrapper {
  border: 1px solid $color-table-border;
  display: block;
  margin-bottom: .5em;

  &,
  table {
    min-width: 400px;
  }

  &.inactive {
    opacity: .5;
  }

  &.error {
    .queryresults-header {
      background-color: $color-error;
    }
  }
}

.toggled {
  .queryresults-body {
    display: none;
  }

  .queryresults-header {
    &::before {
      transform: rotate(270deg);
    }
  }
}

.queryresults-header {
  align-items: center;
  background-color: $color-sidebar-background;
  cursor: pointer;
  display: flex;
  padding: .5em;

  &::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid $color-treetable-expander;
    content: '';
    margin-right: .5em;
  }

  h3 {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .download {
    color: $color-text-lighter;
  }
}

.queryresults-body {
  padding: .5em;
}

.stored-queries {
  color: $color-text-lighter;

  label { margin-right: 8px; }
  a { margin-left: 6px; }
}

.query-box {
  display: flex;

  button {
    height: 30px;
    margin-bottom: .5em;
  }

  .CodeMirror, // sass-lint:disable-line class-name-format
  textarea {
    border: 1px solid darken($color-background, 9);
    flex-grow: 1;
    font-family: $font-family-editor;
    font-size: 16px;
    height: auto;
    margin-bottom: 1em;
    width: 100%;
  }
}

.sample-queries {
  padding-left: 2em;

  a { text-decoration: none; }
  code { color: $color-text-lighter; }
  li { list-style-type: disc; }
}

.query-error {
  background: $color-error;
  color: $color-background;
  font-family: $font-family-monospaced;
}

.query-syntax-error {
  color: $color-error;
  font-family: $font-family-monospaced;
}
