// Query View

article#page-query {
    div.queryresults-wrapper {
        display: inline-block;

        &, table { min-width: 400px; }

        p.download {
            color: #999;
            float: right;
        }

        table { clear: right; }
    }

    p.error {
        color: $color_error;
        margin: 20px 30px 0 30px;
        font-size: 13px;
        line-height: 1.3em;
        font-weight: bold;
        font-family: $font_family_monospaced;
    }

    form.stored-queries {
        color: lighten($color_text, 40);

        label { margin-right: 8px; }
        a { margin-left: 6px; }
    }

    form.editor-save-query {
        float: right;
    }

    div.sample {
        h3, li, code { color: lighten($color_text, 67); }

        ul {
            margin-top: 10px;

            li {
                display: block;
                margin-bottom: 5px;

                &:before {
                    content: "-";
                    margin-right: 5px;
                }
            }
        }
    }

    td.query-error {
        background: $color_error;
        color: lighten($color_text, 100);
        font-family: $font_family_monospaced;
    }
}
