// Collapsable trees

table.tree-table {

    td.account a {
        position: relative;
        margin-left: 15px;
    }

    // td.account.leaf a { margin-left: 10px; }

    tr.hides {
        span.tree-balance {
            display: block;
            color: $color_text;
        }

        span.balance {
            display: none;
        }
    }

    &:hover {
        tr.hides td.num {
            color: $color_text;
        }
    }

    span.expander {
        width: 5px;
        height: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $color_treetable_expander;
        position: absolute;
        left: -15px;
        top: 5px;
        cursor: pointer;

        &.toggled {
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid $color_treetable_expander;
            left: -12px;
            top: 2px;
        }
    }

    a.expand-all {
       float: right;
       color: lighten($color_text, 53);
       font-weight: normal;
       display: none;

       &.not-fully-expanded { display: inline; }
    }
}
