// Collapsible trees
//
// some of the shared styles are in `_journal_table.scss`

.tree-table {
  @include scrollbar(.5em, darken($color-sidebar-background, 30), transparent);

  &.fullwidth {
    display: block;
    max-width: 100%;
    overflow-x: auto;
  }

  &:hover {
    .balance-children {
      color: $color-text-lighter;
    }
  }

  p {
    margin-top: -1px;

    > span {
      border: 1px solid $color-treetable-header-bg;
      flex-shrink: 0;
      margin-right: -1px;
    }
  }

  .head > p > span {
    border: 1px solid $color-treetable-header-bg;
    padding: 3px 5px 2px 8px;

    span { flex-grow: 1; }
  }

  // table cells
  .account-cell {
    align-items: center;
    display: flex;
    flex: 1;
    min-width: 200px;

    @for $i from 1 through 5 {
      &.depth-#{$i} {
        margin-left: $i * 20px;
        min-width: 200px - $i * 20px;
      }
    }

    &.has-children {
      cursor: pointer;
    }

    a {
      margin-left: 15px;
    }
  }

  .num-header,
  .num {
    width: 10rem;

    a {
      color: inherit;
      display: block;
    }
  }

  .other-header,
  .other {
    width: 13rem;

    a {
      color: inherit;
      display: block;
    }
  }

  .has-balance {
    .balance {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > span { white-space: nowrap; }
      > .number { flex-grow: 1; }
    }

    .balance-children {
      display: none;
    }
  }

  .balance-children {
    color: lighten($color-text, 60);
    display: block;
  }

  .toggled {
    ol { display: none; }

    .balance {
      display: none;
    }

    .balance-children {
      color: $color-text;
      display: block;
    }

    .expander {
      border-bottom: 5px solid transparent;
      border-left: 5px solid $color-treetable-expander;
      border-top: 5px solid transparent;
      margin: 0 -13px 0 3px;
    }
  }

  .expander {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $color-treetable-expander;
    cursor: pointer;
    height: 5px;
    margin: 0 -10px 0 0;
    width: 5px;
  }

  .expand-all {
    color: lighten($color-text, 40);
    font-weight: normal;
  }

  .budget {
    margin-right: 4px;

    &.budget-negative { color: $color-budget-negative; }
    &.budget-positive { color: $color-budget-positive; }
    &.budget-zero { color: $color-budget-zero; }
  }
}

@for $i from 1 through 5 {
  $num-fraction: 1rem * (1 - (($i - 1)/10));

  .#{$i}-currencies {
    p > span {
      &.num-header,
      &.num {
        font-size: $num-fraction;
        width: 20rem / ($i + 1);
      }

      &.other-header,
      &.other {
        font-size: $num-fraction;
        width: 20rem / ($i + 1) + 3rem;
      }
    }
  }
}
