// Collapsible trees
//
// some of the shared styles are in `_journal_table.scss`

.tree-table {
  @extend %scrollbar;

  &.fullwidth {
    display: block;
    max-width: 100%;
    overflow-x: auto;
  }

  &:hover {
    .balance-children {
      opacity: .8;
    }
  }

  p {
    margin-top: -1px;

    > span {
      border: 1px solid $color-table-header-background;
      flex-shrink: 0;
      margin-right: -1px;
    }
  }

  $tree-indent: 15px;

  // table cells
  .account-cell {
    align-items: center;
    display: flex;
    flex: 1;
    max-width: 400px;
    min-width: 200px;

    @for $i from 1 through 5 {
      &.depth-#{$i} {
        margin-left: $i * $tree-indent;
        max-width: 400px - $i * $tree-indent;
        min-width: 200px - $i * $tree-indent;
      }
    }

    a {
      margin-left: 15px;
    }
  }

  .has-children {
    cursor: pointer;

    &::before {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $color-treetable-expander;
      content: '';
      margin: 0 -10px 0 0;
    }
  }

  .num {
    width: 10rem;

    a {
      color: inherit;
      display: block;
    }
  }

  .other {
    width: 13rem;

    a {
      color: inherit;
      display: block;
    }
  }

  .has-balance {
    .balance {
      display: block;
    }

    .balance-children {
      display: none;
    }
  }

  .balance-children {
    display: block;
    opacity: .6;
  }

  .toggled {
    ol { display: none; }

    .balance {
      display: none;
    }

    .balance-children {
      color: $color-text;
      display: block;
    }

    .has-children {
      &::before {
        border-bottom: 5px solid transparent;
        border-left: 5px solid $color-treetable-expander;
        border-top: 5px solid transparent;
        margin: 0 -13px 0 3px;
      }
    }
  }

  .expand-all {
    color: inherit;
    font-weight: normal;
    opacity: .5;
  }

  .budget {
    margin-right: 4px;

    &.budget-negative { color: $color-budget-negative; }
    &.budget-positive { color: $color-budget-positive; }
    &.budget-zero { color: $color-budget-zero; }
  }
}

@for $i from 1 through 5 {
  $num-fraction: 1rem * (1 - (($i - 1)/10));

  .currencies-#{$i} {
    p > span {
      &.num {
        font-size: $num-fraction;
        width: 20rem / ($i + 1);
      }

      &.other {
        font-size: $num-fraction;
        width: 20rem / ($i + 1) + 3rem;
      }
    }
  }
}
