@import "base";

// Colors

$white: #fff;
$color_suva_gray_approx: #888;
$color_tickle_me_pink_approx: #f8a;
$color_gray_nurse_approx: #e8e8e8;
$color_storm_dust_approx: #606060;
$color_sail_approx: #aad0ff;
$color_pink_lace_approx: #ffc8ff;
$color_snowy_mint_approx: #cfc;
$color_anakiwa_approx: #8ff;
$color_onahau_approx: #cff;
$color_bittersweet_approx: #f66;

// Warnings

ul.warnings {
    margin: 0;
    padding: 0;

    & > li {
        display: block;
        text-align: center;
        padding: 10px;
        line-height: 1.4em;

        &.error {
            color: white;
            background: #990000;
        }
    }
}

// Header

header {
    position: relative;
    background: #205081;
    border-bottom: 1px solid #2e3d54;
    color: #fff;
    padding: 0 10px;
    height: 41px;

    .branding {
        img {
            margin-top: 7px;
            float: left;
        }

        h1 {
            float: left;
            color: #fff;
            display: block;
            line-height: 1;
            padding: 13px 10px;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
        }
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    nav {
        position: absolute;
        right: 10px;
        top: 0;

        ul.topmenu {
            position: relative;
            margin: 0;

            & > li {
                float: left;
                padding: 0;

                & > a {
                    position: relative;
                    padding-right: 23px !important;
                    color: #fff;
                    display: block;
                    line-height: 41px;
                    padding: 0 10px;

                    &:hover {
                        background-color: #3572b0;
                    }

                    &::after {
                        border: 4px solid transparent;
                        border-top-color: #fff;
                        content: "";
                        height: 0;
                        margin-left: -18px;
                        margin-top: -2px;
                        opacity: .8;
                        left: 100%;
                        position: absolute;
                        text-indent: -99999px;
                        top: 50%;
                        width: 0;
                    }
                }

                &:hover > .filter,
                &.opened > .filter {
                    display: block;
                }

                &.selected > a,
                &.opened > a {
                    background-color: #3572b0;
                }

                & > .filter {
                    display: none;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
                    position: absolute;
                    right: 0;
                    color: black;
                    width: 400px;
                    z-index: 10;
                    top: 41px;

                    & > ul {
                        max-height: 240px;
                        overflow-y: auto;

                        & > li.info {
                            padding: 3px 10px;
                            color: #999;
                            line-height: 1.3em;

                            a {
                                color: #666;
                                text-decoration: underline;
                            }
                        }

                        li.suggestion {
                            a {
                                padding-right: 20px !important;
                                display: block;
                                line-height: 1;
                                padding: 8px 10px;
                                color: #3572b0 !important;
                            }

                            &.selected a, a:hover {
                                background-color: #3572b0 !important;
                                color: white !important;
                            }

                             &.selected a {
                                padding-left: 28px;
                                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAAQMGHjE8P0Bfi6Omt9Hi7/XCzsNoAAAAO0lEQVQI143HSxZAMBAAwQ5CfEPf/7AWHmZH7Qr+aMcmZHONcQa6PV9ZEnBofsKg1jtQ9A2UGOinxKcT2psCetpsGdwAAAAASUVORK5CYII=) no-repeat 9px center;
                            }
                        }
                    }

                    .inputcontainer {
                        margin: 10px;

                        input {
                            height: 26px;
                            display: block;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            line-height: 26px;
                            width: 100%;
                            font-size: 13px;
                            font-family: $font_family;
                        }
                    }
                }
            }
        }
    }
}

.main {
    // min-height set via JS

    aside {
        // min-height set via JS
        width: 200px;
        float: left;
        color: #dadad9;
        border-right: 1px solid #ccc;
        background-color: #f5f5f5;

        h3 {
            text-transform: uppercase;
            margin-top: 50px;
            margin-left: 20px;
            font-size: 11px;
            color: #999;
        }

        ul.navigation {
            margin-top: 0;
            padding-top: 10px;

            &:nth-child(1) {
                padding-top: 20px;
            }

            li {
                font-size: 1.1em;
                display: block;

                &.selected, a:hover {
                    background-color: #e6e6e6;
                    color: #3572b0;
                }

                a {
                    color: #36382e;
                    display: block;
                    padding: 7px 10px 7px 20px;

                    span {
                        float: right;
                        margin-top: -2px;
                        background: rgba(0, 0, 0, 0.2);
                        color: rgba(51, 51, 51, 0.8);
                        border-radius: 2em;
                        font-size: 11px;
                        font-weight: 700;
                        line-height: .99;
                        min-height: 1em;
                        min-width: 1em;
                        padding: 3px 8px 3px;
                        position: relative;
                        text-shadow: none;
                        display: inline-block;
                        text-decoration: none;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

article {
    @include clearfix;
    margin-left: 200px;
    padding: 20px 24px;

    .headerline {
        h3 {
            display: inline-block;
            margin: 0;
            padding: 6px 10px;

            a {
                color: #aaa;

                &:hover {
                    color: #333;
                    text-decoration: underline;
                }
            }
        }
    }

    table {
        margin-top: 20px;
        margin-bottom: 20px;

        th, tfoot td {
            border: 1px solid #dadad9;
            padding: 3px 8px;
            font-weight: bold;
            background: #dadad9;
            color: $color_suva_gray_approx;
            white-space: nowrap;
        }

        tfoot {
            td {
                color: #666;
                padding: 2px 8px;
            }
        }

        tr:nth-child(2n) {
            background: #F8F8F8;
        }

        td {
            border: 1px solid $color_gray_nurse_approx;
            padding: 3px 6px;
            white-space: nowrap;

            &:first-child {
                min-width: 200px;
            }

            &.num {
                color: black;
                padding-left: 14px;
                font: 1.1em / 1.1em $font_family_monospaced;
                text-align: right;
                padding-right: 6px !important;
                vertical-align: top;

                span.balance {
                    display: block;
                }

                span.tree-balance {
                    display: none;
                }
            }

            a.account {
                font-weight: bold;
            }

            &.account-level-1 {
                padding-left: 8px;
            }

            @for $i from 2 through 12 {
                &.account-level-#{$i} {
                    padding-left: -0.5em + $i * 1.3;
                }
            }
        }

        // Subtotals
        // class ".tree-balance-show" is added via JavaScript

        tr.parent td.num, td.num.tree-balance-show {
            color: #E5E5E5;
        }

        td.num.tree-balance-show span.tree-balance {
            display: block;
        }

        tr.hides td.num {
            span.tree-balance {
                display: block;
            }

            span.balance {
                display: none;
            }
        }

        &:hover {
            tr.parent td.num, tr td.num.tree-balance-show {
                color: #BEBEBE;
            }
        }

        tr.posting.leg td {
            padding: 2px 6px;
        }

        tr td.change.num, tr td.balance.num {
            font-size: 12px;
        }

        &.errors, &.holdings, &.net_worth {
            a {
                font-weight: bold;
            }
        }

        &.journal-table {
            td:first-child {
                min-width: inherit;
            }
        }

        &.options_map, &.settings {
            font-size: 12px;

            td:nth-child(1) {
                font-weight: bold;
                text-align: left;
                padding-left: 6px;
            }

            td:nth-child(2) {
                white-space: normal;
                text-align: left;
                padding-left: 6px;

                pre { font-size: 13px; }
            }
        }

        &.commodity, &.events {
            td:first-child {
                min-width: inherit;
            }
        }

        // Collapsable trees
        &.tree-table {
            td.account a {
                position: relative;
                margin-left: 15px;
            }

            // td.account.leaf a { margin-left: 10px; }

            tr.hides {
                // td.num { color: black; }
                span.tree-balance {
                    display: block;
                    color: black;
                }

                span.balance {
                    display: none;
                }
            }

            &:hover {
                tr.hides td.num {
                    color: black;
                }
            }

            span.expander {
                width: 5px;
                height: 5px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #AFC1D3;
                position: absolute;
                left: -15px;
                top: 5px;
                cursor: pointer;

                &.toggled {
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid #AFC1D3;
                    left: -12px;
                    top: 2px;
                }
            }

            a.expand-all {
               float: right;
               color: #888;
               font-weight: normal;
               display: none;

               &.not-fully-expanded { display: inline; }
            }
        }

        // Journal
        &.journal-table {
            width: 100%;

            a {
                font-weight: bold;
            }

            td.datecell a {
                font-weight: normal;
            }

            td.flag {
                text-align: center;
            }

            td {
                border: thin solid $white;
            }

            th {
                color: $color_suva_gray_approx;

                &.description {
                    width: 90%;
                }
            }

            .narration {
                display: inline-block;

                span {
                    color: #999;
                    display: inline-block;
                    margin: 0 2px;
                }
            }

            .tags {
                display: inline-block;
                margin-left: 2px;

                a {
                    font-weight: normal;
                    display: inline-block;
                    margin-right: 8px;
                    color: #6AA2DB;

                    &:hover {
                        color: darken(#6AA2DB, 30%);
                        text-decoration: underline;
                    }

                    span { opacity: 0.4; }
                }
            }

            tr {
                td {
                    &.change {
                        font-weight: bold;
                    }

                    &.description {
                        white-space: normal;

                        span.links {
                            margin-left: 1em;
                            margin-right: 1em;
                            text-decoration: none;
                        }
                    }
                }

                &.open {
                    background-color: $color_gray_nurse_approx;
                }

                &.close {
                    background-color: $color_storm_dust_approx;
                }

                &.note {
                    background-color: $color_sail_approx;
                }

                &.query {
                    background-color: $color_sail_approx;
                }

                &.document {
                    background-color: $color_pink_lace_approx;

                    a:nth-child(1) { font-weight: normal; }
                }

                &.pad {
                    background-color: $color_anakiwa_approx;
                }

                &.padding {
                    background-color: $color_onahau_approx;
                }

                &.summarize {
                    background-color: $color_onahau_approx;
                }

                &.transfer {
                    background-color: $color_onahau_approx;
                }

                &.transaction.warning {
                    background-color: $color_tickle_me_pink_approx;
                }

                &.balance {
                    background-color: $color_snowy_mint_approx;

                    &.fail {
                        background-color: $color_tickle_me_pink_approx;
                    }
                }

                &.posting {
                    font-size: 11px;
                    background-color: $color_gray_nurse_approx;
                    opacity: 0.6;

                    &.warning {
                        background-color: $color_bittersweet_approx;
                    }
                }

                &.transaction, &.padding {
                    cursor: pointer;
                }

                &.has-metadata {
                    td.description {
                        padding-bottom: 0;
                        padding-right: 0;
                    }

                    dl.metadata {
                        display: none;
                        margin-top: 0;
                        padding: 2px 0 3px 6px;
                        margin: 4px 0 0 -6px;
                        font-size: 11px;

                        dt, dd {
                            margin: 0 0 3px 0;

                            &:last-child {
                                margin: 0;
                            }
                        }

                        dt {
                            clear: left;
                            width: auto;
                            min-width: 60px;
                            margin-right: 10px;
                            font-weight: normal;
                            font-style: italic;
                            color: #85AACF;
                        }

                        dd {
                            margin-left: 70px;

                            a {
                                font-weight: normal;

                                &:hover { text-decoration: underline; }
                            }
                        }
                    }

                    &.transaction dl.metadata { background: #f1f1f1; }
                }
            }
        }

        &.sortable {
            th[data-sort] {
                padding-right: 18px;
                position: relative;
                cursor: pointer;

                &.sorting-asc:after, &.sorting-desc:after {
                    content: "";
                    display: block;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #888888;
                    position: absolute;
                    right: 4px;
                    top: 8px;
                }

                &.sorting-asc:after {
                    top: 6px;
                    border-top: none;
                    border-bottom: 5px solid #888888;
                }
            }
        }

        &.statistics-update-activity {
            thead th:nth-child(2) { padding-left: 0; }
            tbody td.uptodate-indicator { text-align: center; }
            span.status-indicator { margin: 0 auto; }
        }
    }

    #assets, #liabilities, #equity, #income, #expenses {
        table {
            width: 100%;
        }
    }

    h1 {
        a:link, a:visited {
            color: #333;

            &:hover {
                text-decoration: underline;
            }
        }

        .last-activity {
            color: #999;
            display: inline-block;
            margin-left: 10px;
            font-size: 12px;
            font-weight: normal;
            font-style: italic;

            a {
                color: #999;
            }

            a:hover {
                color: #333;
            }
        }

        .status-indicator { margin-left: 10px; }
    }

    dl {
        margin-top: 20px;
        font-size: 13px;

        dt {
            display: inline-block;
            width: 120px;
            float: left;
            font-weight: bold;
        }

        dt, dd {
            margin-bottom: 3px;
        }
    }

    p.empty, p.description {
        margin-top: 20px;
        line-height: 1.6em;
        font-size: 13px;

        code {
            background: #eee;
            display: inline-block;
            font-size: 13px;
            padding: 0 4px 2px 5px;
            border-radius: 3px;
            border: 1px solid #ddd;
        }

        a { text-decoration: underline; }
    }

    .loading {
        margin-top: 20px;
        font-style: italic;
        color: #999;
    }

    .table-filter, .chart-filter {
        float: right;
        margin-bottom: 8px;

        input {
            margin-left: 10px;
        }
    }

    .chart-filter {
        margin-top: -20px;
    }

    span {
        &.payee {
            font-weight: bold;
        }

        &.pnsep {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    // Statistics
    .left.statistics {
        margin-right: 30px;

        table.statistics td:first-child a {
            font-weight: bold;
        }
    }
}

// Editor
@import "editor";

// Charts
@import "chartist";

.treemap-node .treemap-label {
    z-index: 8;

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

.treetable-popover {
    z-index: 12;
    position: absolute;
    background: rgb(244, 244, 244);
    border: 1px solid #CCC;
    box-shadow: 0px 0px 5px rgb(221, 221, 221);
    padding: 10px 5px 0 15px;

    &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -15px;
        border: 15px solid transparent;
        border-top-color: #ccc;
    }

    dl {
        margin-top: 0;
        min-width: 270px;
    }

    dt {
        width: 60px;
    }

    dd {
        margin-bottom: 8px;
    }

    dd code {
        font-size: 13px;
        line-height: 1em;
    }
}

// Query

article#page-query {
    h3 { margin-top: 25px; }

    .error {
        color: #990000;
        margin: 20px 30px 0 30px;
        font-size: 13px;
        line-height: 1.3em;
        font-weight: bold;
        font-family: $font_family_monospaced;
    }

    .stored-queries {
        color: #666;
        font-size: 1px;
        float: right;
        margin-bottom: 10px;
    }

    .editor-wrapper {
        clear: right;
    }

    .sample {
        h3, li, code { color: #AAA; }

        ul {
            margin-top: 10px;

            li {
                display: block;
                margin-bottom: 5px;

                &:before {
                    content: "-";
                    margin-right: 5px;
                }
            }
        }
    }
}

span.status-indicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;

    &:hover { cursor: pointer; }

    &.status-indicator-big {
        width: 10px;
        height: 10px;
        border-radius: 10px;
    }

    &.status-red { background: #990000; }
    &.status-yellow { background: #EDD42F; }
    &.status-green { background: #007F41; }
    &.status-gray { background: #AAA; }
}

table.tree-table td.account,
table.holdings,
table.queryresults {
    span.status-indicator {
        float: right;
        margin-top: 3px;
        margin-left: 6px;
    }
}

// Overlay

.overlay-wrapper {
    display: none;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    cursor: pointer;

    .overlay {
        background: white;
        margin: 60px auto 0 auto;
        padding: 20px;
        width: 800px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        text-align: left;
        cursor: auto;
        @include clearfix;

        strong {
            display: inline-block;
            margin: 6px 0 5px 0;
        }

        kbd {
            display: inline-block;
            min-width: 20px;
            text-align: center;
            padding: 3px 6px;
            color: #555;
            vertical-align: middle;
            background-color: #fcfcfc;
            border: solid 1px #ccc;
            border-bottom-color: #bbb;
            border-radius: 3px;
            box-shadow: inset 0 -1px 0 #bbb;
            margin: 0 1px 3px 0;
        }

        a.close {
            float: right;
            color: #aaa;
        }
    }
}
