// Fonts
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: normal;
  src: url('../node_modules/@typopro/web-fira-mono/TypoPRO-FiraMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../node_modules/@typopro/web-fira-mono/TypoPRO-FiraMono-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../node_modules/@typopro/web-fira-sans/TypoPRO-FiraSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../node_modules/@typopro/web-fira-sans/TypoPRO-FiraSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../node_modules/@typopro/web-source-serif-pro/TypoPRO-SourceSerifPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../node_modules/@typopro/web-source-serif-pro/TypoPRO-SourceSerifPro-Semibold.woff') format('woff');
}

$font-family: 'Fira Sans', sans-serif;
$font-family-alternative: 'Source Serif Pro', sans-serif;
$font-family-monospaced: 'Fira Mono', monospace;
$font-family-editor: 'Source Code Pro', monospace;

// Colors
$color-background: #fff;
$color-background-darker: darken($color-background, 20);
$color-text: #444;
$color-text-lighter: lighten($color-text, 20);

$color-links: #0067a5;
$color-headings: #333;
$color-error: #900;
$color-warning: #edd42f;
$color-code-background: #f8f8f8;

$color-sidebar-text: #444;
$color-sidebar-text-hover: $color-links;
$color-sidebar-background: #f5f5f5;
$color-sidebar-border: darken($color-sidebar-background, 12);

$color-header: #0067a5;
$color-header-bottom: darken($color-header, 10);
$color-header-text: #fff;

$color-status-red: #900;
$color-status-yellow: #edd42f;
$color-status-green: #007f41;
$color-status-gray: #aaa;

$color-notification: #fff;
$color-notification-info: rgba($color-status-green, .7);
$color-notification-error: rgba($color-error, .7);
$color-notification-warning: rgba($color-warning, .7);

$color-journalentry-close: #888;
$color-journalentry-pending: #f8a;
$color-journalentry-open: #e8e8e8;
$color-journalentry-note: #aad0ff;
$color-journalentry-document: #ffc8ff;
$color-journalentry-balance: #cfc;
$color-journalentry-pad: #8ff;
$color-journalentry-padding: #cff;
$color-journalentry-postingwarning: #f66;
$color-journalentry-custom: #fff3ab;
$color-journalentry-budget: #ffddae;

$color-journaltable-header: #888;
$color-journaltable-border: #f5f5f5;
$color-journaltable-metadata: #85aacf;
$color-journaltable-tag: #6aa2db;
$color-journaltable-tag-document: #bb7ebb;
$color-journaltable-link: #cbdde8;
$color-journaltable-link-document: #c79cc7;
$color-journal-leg-indicator: #c1d0d9;
$color-journal-metadata-indicator: #c1d0d9;

$color-treetable-header-bg: darken($color-background, 15);
$color-treetable-expander: #afc1d3;

$color-budget-negative: #af3d3d;
$color-budget-positive: #3daf46;
$color-budget-zero: #ffb900;

$color-treemap-text: #fff;
$color-chart-axis: #999;

$color-editor-comment: #998;
$color-editor-trailing-whitespace: rgba(255, 199, 199, .5);
$color-editor-directive: #333;
$color-editor-class: #b84;
$color-editor-date: #099;
$color-editor-constant: #008080;
$color-editor-account: $color-links;
$color-editor-invalid: #333;
$color-editor-activeline: #ffc;

$color-mobile-button-text: #000;

// Import everything
@import 'base';
