// Thanks to Rubén Gómez (on the Beancount Mailing List) for providing the styles for this theme
// https://github.com/aumayr/fava/issues/59

// Fonts

// Tipografía Share Tech Mono http://www.fontsquirrel.com/fonts/share-regular
@font-face {
  font-family: ShareTechMono;
  src: url("../fonts/Share-TechMono-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-family: "Arial", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
$font-family-alternative: "Helvetica", "Lucida Grande", Verdana, sans-serif;
$font-family-monospaced: ShareTechMono, serif;
$font-family-editor: "Source Code Pro", monospace;
$font-family-kbd: Consolas, "Liberation Mono", Menlo, Courier, monospace;

// Colors
$color-background: #D1C7C5;
$color-background-darker: darken($color-background, 20);
$color-text: #725858;
$color-text-lighter: lighten($color-text, 30);
$color-links: #D36455;
$color-headings: #333;
$color-error: #990000;
$color-code-background: #f8f8f8;

$color-sidebar-text: #dadad9;
$color-sidebar-background: #DDD8D5;
$color-sidebar-border: darken($color-sidebar-background, 20);
$color-sidebar-links: #36382e;

$color-header: #D36455;
$color-header-bottom: #2e3d54;
$color-header-text: white;

$color-status-red: #990000;
$color-status-yellow: #edd42f;
$color-status-green: #007f41;
$color-status-gray: #aaa;

$color-journalentry-close: #888;
$color-journalentry-pending: #f8a;
$color-journalentry-open: #e8e8e8;
$color-journalentry-note: #aad0ff;
$color-journalentry-document: #ffc8ff;
$color-journalentry-balance: #cfc;
$color-journalentry-pad: #8ff;
$color-journalentry-padding: #cff;
$color-journalentry-postingwarning: #f66;
$color-journalentry-custom: #fff3ab;
$color-journalentry-budget: #ffddae;

$color-journaltable-header: $color-text;
$color-journaltable-border: white;
$color-journaltable-metadata: #85aacf;
$color-journaltable-tag: #6aa2db;

$color-treetable-header-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2O8ePzofwYokJ+ew8AIEwBxHmZOgQjAOCCFjB/iDP+DZGAAAB8CFZc7Z2mFAAAAAElFTkSuQmCC) repeat;

$color-treetable-expander: #afc1d3;

$color-budget-negative: #AF3D3D;
$color-budget-positive: #3DAF46;
$color-budget-zero: #FFB900;

$color-treemap-text: white;
$color-chart-axis: #999;

$color-editor-comment: #999988;
$color-editor-directive: #333;
$color-editor-class: #bb8844;
$color-editor-date: #009999;
$color-editor-constant: #008080;
$color-editor-account: #333;
$color-editor-invalid: #333;
$color-editor-activeline: #ffffcc;

$ct-bar-width: 14px;
$ct-line-width: 3px;
$ct-point-size: 6px;
$ct-series-colors: (
$color-links,
darken($color-background, 40),
#777,
#1B9900,
#FF8800,
#59922b,
#0544d3,
#6b0392,
#f05b4f,
#dda458,
#eacf7d,
#86797d,
#b2c326,
#6188e2,
#a748ca
);

// Import everything

@import "base";

// Overrides


header {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2O8ePzofwYokJ+ew8AIEwBxHmZOgQjAOCCFjB/iDP+DZGAAAB8CFZc7Z2mFAAAAAElFTkSuQmCC) repeat;
  border-bottom: none;
}

header nav ul.topmenu>li {
  background: $color-background;
  margin-top: 5px;
}

header nav ul.topmenu>li>a {
  color: $color-text;
  line-height: 36px;
}

header nav ul.topmenu>li>a:after { border-top-color: $color-text; }
div.filter>ul>li.info a { color: $color-text; }
div.filter { background: white; }
div.filter>ul>li.info { color: lighten($color-text, 20); }
div.filter div.inputcontainer input { border-color: $color-background; }

div.main aside { border-right: none; }

div.main aside ul.navigation li.selected,
div.main aside ul.navigation li a:hover {
  background: $color-background;
}

.ace_editor.ace-chrome .ace_gutter { color: $color-text; }

article table tbody tr td,
article table thead tr th,
table.journal-table td {
  border-left: none; border-right: none;
}

article table tfoot tr td {
  border: none;
  background: #DDD8D5;
  color: $color-text;
  font-family: $font-family-monospaced;
}

article table tr td.num {
  font-size: 14px !important;
  text-align: right;
}

table.tree-table span.expander { border-top-color: darken($color-links, 5); }
table.tree-table span.expander.toggled { border-left-color: darken($color-links, 5); }

input#toggle-chart,
input#toggle-metadata,
input#toggle-legs {
  border: 1px solid $color-links;
  color: $color-links;
  background: transparent;
  border-radius: 6px;
}

article div.headerline h3 a { color: lighten($color-text, 55); }
article h1 a:link, article h1 a:visited { color: black; }
article table tbody tr td.change.num { background: #DED7D6; }

table.journal-table td a.tag {
  background: #4C6684;
  border-radius: 4px;
  padding: 1px 5px;
  font-weight: normal;
  margin-right: 5px;
  color: lighten(#748496, 20);

  span { color: #748496; }
}
