// Fonts

@font-face {
    font-family: "Fira Mono";
    src: url("~@typopro/web-fira-mono/TypoPRO-FiraMono-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("~@typopro/web-fira-sans/TypoPRO-FiraSans-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("~@typopro/web-fira-sans/TypoPRO-FiraSans-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("~@typopro/web-source-serif-pro/TypoPRO-SourceSerifPro-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("~@typopro/web-source-serif-pro/TypoPRO-SourceSerifPro-Semibold.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

$font_family: "Fira Sans", sans-serif;
$font_family_alternative: "Source Serif Pro", sans-serif;
$font_family_monospaced: "Fira Mono", monospace;
$font_family_editor: "Source Code Pro", monospace;
$font_family_kbd: "Fira Mono", monospace;

// Colors

$color_background: #fff;
$color_text: #444;
$color_links: #0067A5;
$color_headings: #333;
$color_error: #990000;

$color_sidebar_text: #dadada;
$color_sidebar_background: #f5f5f5;
$color_sidebar_links: #444;

$color_header: #0067A5;
$color_header_bottom: darken($color_header, 10);
$color_header_text: white;

$color_status_red: #990000;
$color_status_yellow: #edd42f;
$color_status_green: #007f41;
$color_status_gray: #aaa;

$color_journalentry_close: #888;
$color_journalentry_pending: #f8a;
$color_journalentry_open: #e8e8e8;
$color_journalentry_note: #aad0ff;
$color_journalentry_document: #ffc8ff;
$color_journalentry_balance: #cfc;
$color_journalentry_pad: #8ff;
$color_journalentry_padding: #cff;
$color_journalentry_postingwarning: #f66;
$color_journalentry_custom: #fff3ab;
$color_journalentry_budget: #ffddae;

$color_journaltable_header: #888;
$color_journaltable_border: #f5f5f5;
$color_journaltable_metadata: #85aacf;
$color_journaltable_tag: #6aa2db;

$color_treetable_header_bg: darken($color_background, 15);
$color_treetable_expander: #afc1d3;

$color_budget_negative: #AF3D3D;
$color_budget_positive: #3DAF46;
$color_budget_zero: #FFB900;

$color_treemap_text: white;

$color_editor_comment: #999988;
$color_editor_directive: #333;
$color_editor_class: #bb8844;
$color_editor_date: #009999;
$color_editor_constant: #008080;
$color_editor_account: $color_links;
$color_editor_invalid: #333;
$color_editor_activeline: #ffffcc;

// Import everything

@import "base"
