// Fonts

$font_family: "Arial", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
$font_family_monospaced: monospace;

// Colors

$color_background: white;
$color_text: black;
$color_links: #3572b0;
$color_headings: #333;
$color_error: #990000;

$color_sidebar_text: #dadada;
$color_sidebar_background: #f5f5f5;
$color_sidebar_links: #36382e;

$color_header: #205081;
$color_header_bottom: #2e3d54;
$color_header_text: white;

$color_status_red: #990000;
$color_status_yellow: #edd42f;
$color_status_green: #007f41;
$color_status_gray: #aaa;

$color_journalentry_close: #888;
$color_journalentry_pending: #f8a;
$color_journalentry_open: #e8e8e8;
$color_storm_dust_approx: #606060;
$color_journalentry_note: #aad0ff;
$color_journalentry_document: #ffc8ff;
$color_journalentry_balance: #cfc;
$color_journalentry_pad: #8ff;
$color_journalentry_padding: #cff;
$color_journalentry_postingwarning: #f66;

$color_journaltable_header: #888;
$color_journaltable_border: white;
$color_journaltable_metadata: #85aacf;
$color_journaltable_tag: #6aa2db;

$color_treetable_header_bg: darken($color_background, 15);

$color_treetable_expander: #afc1d3;

$color_treemap_text: white;

$color_editor_comment: #999988;
$color_editor_directive: #333;
$color_editor_class: #bb8844;
$color_editor_date: #009999;
$color_editor_constant: #008080;
$color_editor_account: #333;
$color_editor_invalid: #333;
$color_editor_activeline: #ffffcc;

$ct-bar-width: 14px;
$ct-line-width: 3px;
$ct-point-size: 6px;
$ct-series-colors: (
    #990000,
    #113861,
    #777,
    #1B9900,
    #FF8800,
    #59922b,
    #0544d3,
    #6b0392,
    #f05b4f,
    #dda458,
    #eacf7d,
    #86797d,
    #b2c326,
    #6188e2,
    #a748ca
);

// Import everything

@import "base"
