name: Deploy website to GitHub Pages

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: "ubuntu-latest"
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
                  cache: "pip"
                  cache-dependency-path: "constraints*.txt"
            - run: python -m pip install -c constraints.txt tox
            - run: tox -e docs
            - uses: actions/configure-pages@v4
            - uses: actions/upload-pages-artifact@v3
              with:
                  path: "build/docs"
    deploy:
        if: github.event_name == 'push'
        needs: "build"
        permissions:
            pages: write
            id-token: write
        concurrency:
            group: "pages"
            cancel-in-progress: false
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: "ubuntu-latest"
        steps:
            - id: deployment
              uses: actions/deploy-pages@v4
